Repository solop-develop/frontend-core, pull requests merged in 2022-10, with the labels that each got.

#431 fix: Cache list lookups.
  src/store/modules/ADempiere/defaultValueManager.js
  src/store/modules/ADempiere/lookupManager.js
Labels: bug, (ULP) UI Lookups

#437 Add resource from point of sale
  src/api/ADempiere/form/point-of-sales.js
  src/api/ADempiere/form/timeControl.js
  src/lang/ADempiere/en/form/timeControl.js
  src/lang/ADempiere/es/form/timeControl.js
  src/store/modules/ADempiere/pointOfSales/getters/index.js
  src/store/modules/ADempiere/pointOfSales/order/mutations.js
  src/store/modules/ADempiere/pointOfSales/order/state.js
Labels: enhancement, (POS) Point Of Sales

#434 Fix: Information Panel
  src/store/modules/ADempiere/fieldValue.js
  src/utils/ADempiere/constants/systemColumns.js
  src/utils/ADempiere/references.js
Labels: enhancement, (WIN) Windows, (REC) Records

#441 fix: POS Collection others payment.
  src/lang/ADempiere/en/form/pointOfSales.js
  src/lang/ADempiere/es/form/pointOfSales.js
Labels: bug, (FRM) Form, (POS) Point Of Sales

#442 fix: Field search table showed no displayed colum.
  src/store/modules/ADempiere/form/generalInfoSearch.js
Labels: bug, (FRM) Form, (ULP) UI Lookups

#443 feat: Change Structure Report Configuration
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/en/report.js
  src/lang/ADempiere/es/index.js
  src/lang/ADempiere/es/report.js
  src/store/modules/ADempiere/reportManager.js
  src/views/ADempiere/Report/index.vue
  src/views/ADempiere/ReportViewer/index.vue
Labels: enhancement, (RPT) Reports

#447 Change Traslation on Report Panel
  src/api/ADempiere/form/storeProduct.js
  src/lang/ADempiere/en/report.js
  src/lang/ADempiere/es/report.js
  src/store/modules/ADempiere/form/VMatch.js
  src/views/ADempiere/ImportExcel/index.vue
  src/views/login/loginMixin.js
Labels: bug, (TRL) Translation

#448 Fix: Export Record
  src/utils/ADempiere/constants/actionsMenuList.js
Labels: bug, (WIN) Windows

#452 fix: Time control corrections.
  src/api/ADempiere/form/timeControl.js
  src/lang/ADempiere/en/form/timeControl.js
  src/lang/ADempiere/es/form/timeControl.js
  src/router/modules/ADempiere/staticRoutes.js
Labels: bug, (FRM) Form

#453 Fix: Hidden Router Time Control
  src/api/ADempiere/form/timeControl.js
  src/router/modules/ADempiere/staticRoutes.js
Labels: bug

#461 Fix: Export Records Smart Browser
  src/utils/ADempiere/constants/actionsMenuList.js
Labels: enhancement, (SB) Smart Browser, (REC) Records

#456 feat: Changes Paginations in Window and Smart Browser
  src/store/modules/ADempiere/browserManager.js
  src/store/modules/ADempiere/windowManager.js
  src/utils/ADempiere/dictionary/window.js
  src/utils/ADempiere/tableUtils.js
  src/views/ADempiere/Browser/index.vue
Labels: (SB) Smart Browser, (WIN) Windows, (REC) Records

#491 Fix: Click on Related Document does not lead to registration
  src/utils/ADempiere/filters.js
Labels: bug, (WIN) Windows, (REC) Records

#497 feat: Support for the Change Document Status Service
  src/store/modules/ADempiere/WorkflowActivity.js
  src/views/ADempiere/Window/DocumentWindow.vue
Labels: enhancement, (WFL) Workflows, (WIN) Windows, (UX) User Experience

#501 fix: Edit record another client.
  src/store/modules/ADempiere/fieldValue.js
  src/utils/ADempiere/dictionary/window.js
  src/utils/ADempiere/valueUtils.js
Labels: bug, (WIN) Windows, (REC) Records, (SE) Security

#505 Fix: Support for the Notes component
  package.json
  src/lang/ADempiere/en/window.js
  src/lang/ADempiere/es/window.js
  src/store/modules/ADempiere/chatEntries.js
  yarn.lock
Labels: bug, enhancement, (WIN) Windows

#509 fix: Location address set correct values.
  src/store/modules/ADempiere/fieldValue.js
  src/store/modules/ADempiere/form/locationAddress.js
  src/store/modules/ADempiere/sessionContext.js
  src/utils/ADempiere/constants/location.js
  src/utils/ADempiere/constants/systemColumns.js
  src/utils/ADempiere/dictionary/form/locationAddress.js
  src/utils/ADempiere/location.js
  src/utils/ADempiere/lookupFactory.js
  src/utils/ADempiere/references.js
  src/utils/ADempiere/valueUtils.js
Labels: bug, (FRM) Form, (ULP) UI Lookups

#511 feat: Location Address open map.
  src/utils/ADempiere/dictionary/form/locationAddress.js
Labels: enhancement, (FRM) Form, (ULP) UI Lookups

#513 fix: Navigate between logs without losing scrool
  src/permission.js
  src/store/modules/ADempiere/windowManager.js
  src/utils/ADempiere/constants/actionsMenuList.js
  src/utils/ADempiere/dictionary/window.js
  src/views/login/index.vue
Labels: bug, (WIN) Windows, (REC) Records

#515 fix: Save mandatory value and document no.
  src/store/modules/ADempiere/dictionary/window/getters.js
  src/utils/ADempiere/dictionary/window.js
Labels: bug, (WIN) Windows, (REC) Records

#516 Fix: Time date zone
  src/utils/ADempiere/formatValue/dateFormat.js
Labels: bug, (FRM) Form

#518 feat: Add Support Full Grid Mode Parent Tab
  src/api/ADempiere/workflow.js
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/es/index.js
  src/layout/components/Settings/index.vue
  src/settings.js
  src/store/modules/ADempiere/WorkflowActivity.js
  src/store/modules/ADempiere/system.js
  src/store/modules/settings.js
  src/views/ADempiere/Window/MultiTabWindow.vue
Labels: enhancement, (WIN) Windows

#521 Add Translation Search Record
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/es/index.js
  src/store/modules/ADempiere/windowManager.js
Labels: enhancement, (WIN) Windows, (REC) Records

#517 Fix: Share link with registration
  src/store/modules/user.js
Labels: bug, enhancement, (WIN) Windows

#524 feat: Add Collapse to Coordinates fields Location Address
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/es/index.js
Labels: enhancement, (FRM) Form, (ULP) UI Lookups, (UX) User Experience

#526 fix: #483 Default showed fields on window.
  src/utils/ADempiere/dictionary/window.js
Labels: bug, (WIN) Windows, (UX) User Experience

#537 feat: POS Add the option to select seller
  src/api/ADempiere/form/point-of-sales.js
  src/store/modules/ADempiere/pointOfSales/order/actions.js
Labels: enhancement, (FRM) Form, (POS) Point Of Sales
