Repository solop-develop/frontend-core, pull requests merged in 2022-11, with the labels that each got.

#544 fix: POS set Sales Representative.
  src/api/ADempiere/form/point-of-sales.js
  src/store/modules/ADempiere/pointOfSales/order/actions.js
Labels: bug, (FRM) Form, (POS) Point Of Sales

#551 POS: Add New Params Requested Amount
  src/api/ADempiere/form/point-of-sales.js
Labels: enhancement, (FRM) Form, (POS) Point Of Sales

#553 feat: List Tab Sequence.
  src/api/ADempiere/user-interface/component/tab-sequence.js
  src/lang/ADempiere/en/window.js
  src/lang/ADempiere/es/window.js
  src/store/modules/ADempiere/data/actions.js
  src/store/modules/ADempiere/dictionary/window/actions.js
  src/store/modules/ADempiere/modalDialogManager.js
  src/store/modules/ADempiere/tabSequence.js
  src/utils/ADempiere/constants/actionsMenuList.js
  src/utils/ADempiere/contextUtils.js
  src/utils/ADempiere/dictionary/window.js
Labels: enhancement, (WIN) Windows, (REC) Records

#555 feat: Save sequence on sort tab.
  src/api/ADempiere/user-interface/component/tab-sequence.js
  src/lang/ADempiere/en/components/index.js
  src/lang/ADempiere/en/components/sequenceSort.js
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/es/components/index.js
  src/lang/ADempiere/es/components/sequenceSort.js
  src/lang/ADempiere/es/index.js
  src/store/modules/ADempiere/dictionary/window/actions.js
  src/store/modules/ADempiere/modalDialogManager.js
  src/store/modules/ADempiere/tabSequence.js
Labels: enhancement, (WIN) Windows, (REC) Records

#556 POS: Add translation for new option
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/es/index.js
Labels: enhancement, (FRM) Form, (POS) Point Of Sales

#558 Fix: POS Set Client Template
  src/store/modules/ADempiere/pointOfSales/point/actions.js
Labels: bug, (FRM) Form, (POS) Point Of Sales

#562 Fix: Hide sheet tabs in Multi Record view
  src/views/ADempiere/Window/DocumentWindow.vue
  src/views/ADempiere/Window/Finances.vue
  src/views/ADempiere/Window/MaterialsManagement.vue
  src/views/ADempiere/Window/MultiTabWindow.vue
Labels: bug, (WIN) Windows

#565 fix: Full grid to 'General Ledger' window type
  src/views/ADempiere/Window/GeneralLedger.vue
Labels: bug, (WIN) Windows, (UX) User Experience

#569 feat: Support to Save and Edit Set Attribute Instance
  src/api/ADempiere/form/productAttribute.js
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/es/index.js
Labels: bug, enhancement, (WIN) Windows, (ULP) UI Lookups, (UX) User Experience

#570 Fix: validate permission before displaying the report in POS
  src/store/modules/ADempiere/pointOfSales/order/actions.js
Labels: bug, (FRM) Form, (POS) Point Of Sales

#575 docs: Update Time Zone docker enviroment vatriable
  README.es.md
  README.md
Labels: documentation, enhancement, (CI/CD) Continuous Integration/Continous Delivery

#576 Fix: Panel Advance Query
  src/store/modules/ADempiere/dictionary/window/actions.js
  src/utils/ADempiere/dictionary/panel.js
  src/utils/ADempiere/dictionary/window.js
Labels: bug, (WIN) Windows, (REC) Records

#580 fix: Eslint constructor start with a lowercase letter new-cap.
  .eslintrc.js
Labels: bug, (CIO) Code Improvement or Optimization

#588 feat: Search on Sort Tab.
  src/lang/ADempiere/en/components/sequenceSort.js
  src/lang/ADempiere/es/components/sequenceSort.js
  src/store/modules/ADempiere/dictionary/window/actions.js
Labels: enhancement, (WIN) Windows, (REC) Records

#590 Fixed: Smart Browser change pagination size
  src/utils/ADempiere/dictionary/window.js
  src/views/ADempiere/Browser/index.vue
Labels: bug, (SB) Smart Browser, (REC) Records, (UX) User Experience

#591 Fix: Change maximum payment method registration available
  src/api/ADempiere/form/point-of-sales.js
Labels: enhancement, (REC) Records, (FRM) Form, (POS) Point Of Sales, (ULP) UI Lookups

#595 support load attachment
  src/image/ADempiere/attachment/javascript.png
  src/image/ADempiere/attachment/pdf.png
  src/image/ADempiere/attachment/rar.png
  src/image/ADempiere/attachment/sql.png
  src/image/ADempiere/attachment/xlsx.png
  src/lang/ADempiere/en/window.js
  src/lang/ADempiere/es/window.js
Labels: enhancement, (WIN) Windows, (REC) Records

#596 Add Translation: When adding Product
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/es/index.js
Labels: bug, (FRM) Form, (POS) Point Of Sales

#607 fix: POS Print Preview response undefined.
  src/lang/ADempiere/en/form/pointOfSales.js
  src/lang/ADempiere/es/form/pointOfSales.js
  src/store/modules/ADempiere/pointOfSales/order/actions.js
Labels: bug, (FRM) Form, (POS) Point Of Sales

#616 Fix: Date fields add Current Week option
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/es/index.js
Labels: enhancement, (ULP) UI Lookups, (UX) User Experience

#617 Fix: POS Change Translation Shipment
  src/lang/ADempiere/es/index.js
Labels: bug, (TRL) Translation, (FRM) Form, (POS) Point Of Sales
