Repository solop-develop/frontend-core, pull requests merged in 2022-06, with the labels that each got.

#141 feat: Add value to overwrite default value.
  src/api/ADempiere/user-interface/persistence.js
  src/store/modules/ADempiere/defaultValueManager.js
  src/store/modules/ADempiere/lookupManager.js
  src/store/modules/ADempiere/panel/actions.js
  src/store/modules/ADempiere/panel/getters.js
  src/store/modules/ADempiere/sessionContext.js
  src/utils/ADempiere/contextUtils.js
  src/utils/ADempiere/dictionary/browser.js
  src/utils/ADempiere/dictionary/panel.js
  src/utils/ADempiere/evaluator.js
  src/views/ADempiere/Process/mixinProcess.js
  src/views/ADempiere/Report/mixinReport.js
  src/views/ADempiere/Window/index.vue
Labels: bug, enhancement

#171 feat: Hidden mandatory field without default value
  src/store/modules/ADempiere/panel/getters.js
Labels: enhancement

#180 fix: Set parent value.
  src/store/modules/ADempiere/dictionary/window/getters.js
  src/store/modules/ADempiere/field.js
  src/utils/ADempiere/contextUtils.js
Labels: (WIN) Windows, (REC) Records

#186 fix: First page number same with backend.
  src/store/modules/ADempiere/browserManager.js
  src/store/modules/ADempiere/businessPartner.js
  src/store/modules/ADempiere/pointOfSales/order/actions.js
  src/store/modules/ADempiere/windowManager.js
  src/utils/ADempiere/dictionary/window.js
  src/utils/ADempiere/valueUtils.js
Labels: (REC) Records

#187 feat: Run process add record as parameter.
  src/api/ADempiere/process.js
  src/api/ADempiere/report.js
  src/store/modules/ADempiere/dictionary/browser/actions.js
  src/store/modules/ADempiere/dictionary/window/actions.js
  src/store/modules/ADempiere/modalDialogManager.js
  src/store/modules/ADempiere/processManager.js
  src/store/modules/ADempiere/reportManager.js
  src/utils/ADempiere/dictionary/window.js
Labels: (PRC) Processes, (RPT) Reports, (WIN) Windows, (REC) Records

#190 fix: Report generated as PDF on google chrome.
  src/store/modules/ADempiere/reportManager.js
  src/utils/ADempiere/dictionary/report.js
  src/utils/ADempiere/resource.js
Labels: bug, (RPT) Reports

#189 Add Const Focusable Fields List
  src/utils/ADempiere/componentUtils.js
Labels: (WIN) Windows

#192 feat: Convenience buttons.
  src/lang/ADempiere/en/actionMenu.js
  src/lang/ADempiere/es/actionMenu.js
  src/store/modules/ADempiere/dictionary/window/actions.js
  src/store/modules/ADempiere/windowManager.js
  src/utils/ADempiere/dictionary/window.js
Labels: (WIN) Windows, (REC) Records

#198 fix: Reload records on depends tabs.
  src/store/modules/ADempiere/dictionary/window/getters.js
  src/store/modules/ADempiere/windowManager.js
  src/utils/ADempiere/dictionary/window.js
  src/views/ADempiere/Window/MultiTabWindow.vue
Labels: bug, (WIN) Windows, (REC) Records

#201 Correct table in Smart Browser
  src/utils/ADempiere/dictionary/browser.js
  src/utils/ADempiere/dictionary/window.js
  src/views/ADempiere/Browser/index.vue
Labels: (SB) Smart Browser, (REC) Records

#204 feat: Refresh records after run process on window.
  src/store/modules/ADempiere/dictionary/window/actions.js
  src/store/modules/ADempiere/windowManager.js
  src/views/ADempiere/Process/mixinProcess.js
Labels: enhancement, (PRC) Processes, (WIN) Windows, (REC) Records

#205 feat: Clear stored data on browser and tab.
  src/layout/components/TagsView/index.vue
  src/store/modules/ADempiere/browserManager.js
  src/store/modules/ADempiere/windowManager.js
Labels: (SB) Smart Browser, (WIN) Windows, (REC) Records

#208 Add window guide support
  src/layout/components/Navbar.vue
Labels: documentation, enhancement

#209 feat: Add confirm to delete record.
  src/lang/ADempiere/en/window.js
  src/lang/ADempiere/es/window.js
Labels: enhancement, (WIN) Windows, (REC) Records

#210 Add svg the More Vertical
  src/icons/svg/more-vertical.svg
Labels: enhancement, (MEN) Menues, (UIX) User Experience

#211 disabled Option Size Select
  src/layout/components/Navbar.vue
Labels: enhancement, (MEN) Menues, (UIX) User Experience

#218 fix: Delete all entities keeps the old values.
  src/store/modules/ADempiere/windowManager.js
Labels: (WIN) Windows, (REC) Records
