Repository solop-develop/frontend-core, pull requests merged in 2022-07, with the labels that each got.

#226 feat: New/Undo without server request.
  src/store/modules/ADempiere/dictionary/window/actions.js
  src/store/modules/ADempiere/persistence.js
  src/store/modules/ADempiere/windowManager.js
  src/utils/ADempiere/contextUtils.js
  src/utils/ADempiere/dictionary/window.js
  src/views/ADempiere/Window/MultiTabWindow.vue
Labels: (WIN) Windows, (REC) Records

#230 add Auto Save
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/es/index.js
  src/layout/components/Settings/index.vue
  src/settings.js
  src/store/modules/settings.js
Labels: enhancement

#232 Auto Save Persistence
  src/lang/ADempiere/en/actionMenu.js
  src/lang/ADempiere/es/actionMenu.js
  src/store/modules/ADempiere/persistence.js
  src/store/modules/ADempiere/windowManager.js
Labels: enhancement, (WIN) Windows

#234 fix: Clear old values after save/undo.
  src/store/modules/ADempiere/dictionary/window/actions.js
  src/store/modules/ADempiere/persistence.js
  src/store/modules/ADempiere/windowManager.js
  src/utils/ADempiere/dictionary/window.js
  src/utils/ADempiere/valueUtils.js
Labels: (WIN) Windows, (REC) Records, (UIX) User Experience

#248 fix: Synchronize row values with panel changes.
  src/store/modules/ADempiere/persistence.js
  src/store/modules/ADempiere/windowManager.js
Labels: (WIN) Windows, (REC) Records

#249 fix: Create parent record, refresh childs record.
  src/store/modules/ADempiere/fieldValue.js
  src/utils/ADempiere/contextUtils.js
  src/utils/ADempiere/dictionaryUtils.js
  src/utils/ADempiere/valueUtils.js
Labels: (WIN) Windows, (REC) Records

#253 feat: Refresh current entity.
  src/api/ADempiere/user-interface/persistence.js
  src/lang/ADempiere/en/actionMenu.js
  src/lang/ADempiere/es/actionMenu.js
  src/store/modules/ADempiere/windowManager.js
  src/utils/ADempiere/dictionary/window.js
Labels: bug, (WIN) Windows, (REC) Records

#257 fix: ReadOnly logic with call same field.
  src/store/modules/ADempiere/panel/actions.js
  src/store/modules/ADempiere/persistence.js
  src/utils/ADempiere/dictionary/panel.js
  src/utils/ADempiere/dictionary/window.js
Labels: (WIN) Windows, (UIX) User Experience

#258 feat: Add display logic on tab.
  src/utils/ADempiere/dictionary/window.js
  src/utils/ADempiere/evaluator.js
Labels: (WIN) Windows

#259 Read Only Tab
  src/utils/ADempiere/dictionary/window.js
Labels: (WIN) Windows

#265 Support Record Logs
  src/lang/ADempiere/en/window.js
  src/lang/ADempiere/es/window.js
  src/store/modules/ADempiere/containerInfo/index.js
  src/utils/ADempiere/dictionary/window.js
Labels: enhancement, (WIN) Windows

#263 fix: SmartBrowser delete entity without table.
  src/utils/ADempiere/dictionary/browser.js
Labels: (SB) Smart Browser, (REC) Records, (UIX) User Experience

#266 fix: Smart Browser update entity.
  src/store/modules/ADempiere/browserManager.js
Labels: (SB) Smart Browser, (REC) Records

#270 Add Scrollbar in Process and Report
  src/views/ADempiere/Process/index.vue
  src/views/ADempiere/Report/index.vue
Labels: (PRC) Processes, (RPT) Reports

#271 Support Chats
  src/lang/ADempiere/en/window.js
  src/lang/ADempiere/es/window.js
  src/store/modules/ADempiere/chatEntries.js
  src/utils/ADempiere/dictionary/window.js
Labels: enhancement, (WIN) Windows

#274 feat: Support on Business Partner search field
  src/api/ADempiere/system-core.js
  src/lang/ADempiere/en/businessPartner.js
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/es/businessPartner.js
  src/lang/ADempiere/es/index.js
  src/store/modules/ADempiere/businessPartnerPOS.js
  src/store/modules/ADempiere/form/businessPartner.js
  src/store/modules/ADempiere/utils.js
  src/utils/ADempiere/dictionary/form/businessPartner/businessPartnerList.js
  src/utils/ADempiere/dictionary/form/index.js
  src/utils/ADempiere/references.js
Labels: enhancement, (FM) Form

#279 Create store for sales order form type fields
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/en/orderList.js
  src/lang/ADempiere/es/index.js
  src/lang/ADempiere/es/orderList.js
  src/store/modules/ADempiere/form/order.js
  src/utils/ADempiere/dictionary/form/order/orderList.js
Labels: (WIN) Windows

#290 Edit Log
  src/store/modules/ADempiere/persistence.js
Labels: bug, (WIN) Windows

#293 feat: Add refresh on searh field.
  src/store/modules/ADempiere/browserManager.js
  src/store/modules/ADempiere/form/businessPartner.js
  src/store/modules/ADempiere/form/generalInfoSearch.js
Labels: (FM) Form

#294 Fixed scrooll Report and Process
  src/views/ADempiere/Process/index.vue
  src/views/ADempiere/Report/index.vue
Labels: bug, (PRC) Processes, (RPT) Reports

#289 Workflow Activities
  src/api/ADempiere/workflow.js
  src/store/modules/ADempiere/WorkflowActivity.js
  src/store/modules/ADempiere/system.js
Labels: enhancement, (WFL) Workflows
