Repository solop-develop/frontend-core, pull requests merged in 2022-12, with the labels that each got.

#618 fix: Callout set context values.
  src/store/modules/ADempiere/calloutManager.js
  src/store/modules/ADempiere/persistence.js
Labels: bug, (WIN) Windows, (REC) Records

#623 fix: Create entity undefined field.
  src/store/modules/ADempiere/calloutManager.js
  src/store/modules/ADempiere/persistence.js
Labels: bug, (WIN) Windows, (REC) Records

#621 Fix: Support Add References to Tab Info
  src/lang/ADempiere/en/window.js
  src/lang/ADempiere/es/window.js
  src/store/modules/ADempiere/windowManager.js
Labels: enhancement, (WIN) Windows, (REC) Records, (UX) User Experience

#614 feat: Delete Attachment.
  src/api/ADempiere/common/resource.js
  src/api/ADempiere/user-interface/component/resource.js
  src/api/ADempiere/user-interface/resources.js
  src/store/modules/ADempiere/attachment.js
  src/store/modules/ADempiere/attachmentManager.js
  src/store/modules/ADempiere/containerInfo/index.js
  src/utils/ADempiere/globalMethods.js
  src/utils/ADempiere/resource.js
  src/utils/ADempiere/valueUtils.js
Labels: enhancement, (WIN) Windows, (REC) Records

#626 Fix: POS Support Service Print Shipment Previwer
  src/api/ADempiere/form/point-of-sales.js
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/es/index.js
Labels: bug, (FRM) Form, (POS) Point Of Sales

#633 fixed options in the panel
  src/views/ADempiere/Window/DocumentWindow.vue
  src/views/ADempiere/Window/Finances.vue
  src/views/ADempiere/Window/GeneralLedger.vue
  src/views/ADempiere/Window/MaterialsManagement.vue
  src/views/ADempiere/Window/MultiTabWindow.vue
Labels: enhancement, (WIN) Windows, (UX) User Experience

#638 fix: Change log translation.
  src/lang/ADempiere/en/window.js
  src/lang/ADempiere/es/window.js
Labels: (TRL) Translation, (CIO) Code Improvement or Optimization

#649 feat: Upload valid attachment.
  src/api/ADempiere/user-interface/component/resource.js
Labels: enhancement, (WIN) Windows

#648 Support to the Print/Export Payment Form
  src/api/ADempiere/form/VPayPrint.js
  src/api/ADempiere/form/payrollActionNotice.js
  src/lang/ADempiere/en/form/VPayPrint.js
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/es/form/VPayPrint.js
  src/lang/ADempiere/es/index.js
  src/views/ADempiere/Form/index.vue
Labels: enhancement, (FRM) Form

#653 Fix: Improve Workflow Activity Viewer
  src/layout/components/AppMain.vue
  src/layout/index.vue
  src/views/ADempiere/Form/index.vue
Labels: enhancement, (WFL) Workflows, (UX) User Experience

#661 Fix: Define default grid on child tabs
  src/utils/ADempiere/dictionary/window.js
Labels: (WIN) Windows, (UX) User Experience

#659 Fix: Add Scroll in the full window
  src/layout/components/AppMain.vue
  src/store/modules/ADempiere/dictionary/window/actions.js
  src/utils/ADempiere/dictionary/window.js
  src/views/ADempiere/Browser/index.vue
  src/views/ADempiere/Process/index.vue
  src/views/ADempiere/Report/index.vue
  src/views/ADempiere/Summary/index.vue
  src/views/ADempiere/Window/DocumentWindow.vue
  src/views/ADempiere/Window/Finances.vue
  src/views/ADempiere/Window/GeneralLedger.vue
  src/views/ADempiere/Window/MaterialsManagement.vue
  src/views/ADempiere/Window/MultiTabWindow.vue
  src/views/ADempiere/Window/index.vue
Labels: enhancement, (WIN) Windows, (UX) User Experience

#667 Fix: Support Exists References
  src/api/ADempiere/window.js
Labels: enhancement, (WIN) Windows, (REC) Records, (UX) User Experience

#676 feat: Run report.
  src/lang/ADempiere/en/report.js
  src/lang/ADempiere/es/report.js
  src/layout/components/AppMain.vue
  src/views/ADempiere/Report/index.vue
  src/views/ADempiere/ReportViewer/index.vue
Labels: bug, (RPT) Reports

#668 support form VPrint
  config/default.json
  src/api/ADempiere/form/VPayPrint.js
  src/lang/ADempiere/en/form/VPayPrint.js
  src/lang/ADempiere/es/form/VPayPrint.js
Labels: enhancement, (FRM) Form
