Repository solop-develop/frontend-core, pull requests merged in 2022-09, with the labels that each got.

#405 fix: Load records on tab childs.
  src/store/modules/ADempiere/windowManager.js
Labels: bug, (WIN) Windows, (REC) Records

#406 fix: Set accouting combination values.
  src/api/ADempiere/field/accoutingCombination.js
  src/api/ADempiere/field/search.js
  src/store/modules/ADempiere/form/accountingCombination.js
  src/utils/ADempiere/dictionary/form/accoutingCombination.js
  src/utils/ADempiere/dictionaryUtils.js
  src/utils/ADempiere/references.js
Labels: bug, (FM) Form

#407 fix: Displayed value on search field forms.
  src/store/modules/ADempiere/lookupManager.js
Labels: bug, (REC) Records, (FM) Form

#408 fixed: Set empty Date field.
  src/utils/ADempiere/formatValue/dateFormat.js
Labels: bug, (ULP) UI Lookups

#409 Change the maximum number of lines
  src/api/ADempiere/form/point-of-sales.js
Labels: bug, (POS) Point Of Sales

#410 feat: POS Add empty translations.
  src/lang/ADempiere/en/form/pointOfSales.js
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/es/form/pointOfSales.js
  src/lang/ADempiere/es/index.js
Labels: enhancement, (TRL) Translation, (POS) Point Of Sales

#411 Fix: Load Document
  src/views/ADempiere/Window/DocumentWindow.vue
Labels: bug, (WIN) Windows

#414 Add translation when updating in mobile mode
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/es/index.js
Labels: (TRL) Translation

#416 feat: Window enable callouts.
  src/api/ADempiere/window.js
  src/store/modules/ADempiere/calloutManager.js
  src/store/modules/ADempiere/panel/actions.js
  src/store/modules/ADempiere/persistence.js
  src/utils/ADempiere/formatValue/iterableFormat.js
  src/utils/ADempiere/valueFormat.js
Labels: enhancement, (WIN) Windows, (REC) Records

#418 feat: Separate cell edit and cell display.
  src/utils/ADempiere/formatValue/dateFormat.js
  src/utils/ADempiere/valueFormat.js
  src/utils/ADempiere/valueUtils.js
Labels: enhancement, (SB) Smart Browser, (WIN) Windows, (REC) Records, (CIO) Code Improvement or Optimization

#419 fixed: SB Field Search query criteria.
  src/utils/ADempiere/dictionary/browser.js
  src/utils/ADempiere/dictionaryUtils.js
  src/utils/ADempiere/references.js
Labels: bug, (SB) Smart Browser, (REC) Records, (FRM) Form, (ULP) UI Lookups

#415 Support to type Window
  src/views/ADempiere/Window/Finances.vue
  src/views/ADempiere/Window/GeneralLedger.vue
  src/views/ADempiere/Window/MaterialsManagement.vue
  src/views/ADempiere/Window/index.vue
Labels: enhancement, (WIN) Windows

#420 Fix: Support Accounting
  src/api/ADempiere/form/accouting.js
  src/lang/ADempiere/en/form/accounting.js
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/en/window.js
  src/lang/ADempiere/es/form/accounting.js
  src/lang/ADempiere/es/index.js
  src/lang/ADempiere/es/window.js
  src/views/ADempiere/Window/GeneralLedger.vue
Labels: enhancement, (WIN) Windows

#421 Fix: Support Product Storage
  src/api/ADempiere/form/storeProduct.js
  src/icons/svg/warehouse.svg
  src/lang/ADempiere/en/form/listStoreProduct.js
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/es/form/listStoreProduct.js
  src/lang/ADempiere/es/index.js
Labels: enhancement
