Repository solop-develop/frontend-core, pull requests merged in 2023-01, with the labels that each got.

#678 feat: Improve Workflow editor.
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/en/workflow.js
  src/lang/ADempiere/es/index.js
  src/lang/ADempiere/es/workflow.js
  src/utils/ADempiere/constants/systemColumns.js
  src/utils/ADempiere/dictionary/workflow.js
  src/views/ADempiere/Workflow/index.vue
Labels: bug, (WFL) Workflows, (FRM) Form

#679 fix: Export records.
  src/utils/ADempiere/exportUtil.js
Labels: bug, (WIN) Windows, (REC) Records

#680 validate before closing
  src/lang/en.js
  src/lang/es.js
  src/layout/components/TagsView/index.vue
Labels: enhancement, (WIN) Windows, (REC) Records, (UX) User Experience

#682 feat: Advanced Query, date field as range.
  src/store/modules/ADempiere/fieldValue.js
  src/utils/ADempiere/dictionary/panel.js
  src/utils/ADempiere/references.js
Labels: enhancement, (WIN) Windows, (REC) Records, (UX) User Experience

#690 feat: Autorun report without parameters.
  src/store/modules/ADempiere/dictionary/window/actions.js
Labels: enhancement, (RPT) Reports, (WIN) Windows

#691 fix: Date translation component.
  src/lang/ADempiere/en/component/date.js
  src/lang/ADempiere/es/component/date.js
Labels: bug, (TRL) Translation, (ULP) UI Lookups

#697 fix: Mandatory button field.
  src/utils/ADempiere/constants/systemColumns.js
  src/utils/ADempiere/dictionary/browser.js
  src/utils/ADempiere/dictionary/process.js
  src/utils/ADempiere/dictionary/window.js
Labels: bug, (WIN) Windows, (REC) Records, (ULP) UI Lookups

#698 fix: Minimalist view with button.
  src/utils/ADempiere/dictionary/browser.js
  src/utils/ADempiere/dictionary/process.js
  src/utils/ADempiere/dictionary/window.js
Labels: bug, (UX) User Experience

#700 fix: Overwrite parent values with empty child record.
  src/store/modules/ADempiere/dictionary/window/getters.js
  src/utils/ADempiere/dictionary/window.js
Labels: (WIN) Windows, (REC) Records, (SE) Security

#701 feat: Support Edit Table
  src/store/modules/ADempiere/windowManager.js
  src/utils/ADempiere/dictionary/window.js
Labels: enhancement, (WIN) Windows, (REC) Records, (UX) User Experience

#706 Fix: Full Grid Mode
  src/store/modules/settings.js
  src/views/ADempiere/Window/DocumentWindow.vue
  src/views/ADempiere/Window/Finances.vue
  src/views/ADempiere/Window/GeneralLedger.vue
  src/views/ADempiere/Window/MaterialsManagement.vue
  src/views/ADempiere/Window/MultiTabWindow.vue
Labels: (UX) User Experience

#718 fix: Display Logic on Tabs.
  src/utils/ADempiere/dictionary/window.js
Labels: bug, (WIN) Windows, (UX) User Experience

#719 Fix: Notification Buttons Does Not Open the Corresponding Tab
  src/store/modules/ADempiere/attachmentManager.js
  src/store/modules/ADempiere/chatEntries.js
  src/store/modules/ADempiere/containerInfo/index.js
  src/utils/ADempiere/dictionary/window.js
Labels: bug, (WIN) Windows, (UX) User Experience

#720 Fix: Language
  src/lang/ADempiere/en/businessPartner.js
  src/lang/ADempiere/en/component/sequenceSort.js
  src/lang/ADempiere/en/fieldDisplayOptions.js
  src/lang/ADempiere/en/fieldFormSearch.js
  src/lang/ADempiere/en/form/workflowActivity.js
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/en/page/login.js
  src/lang/ADempiere/es/businessPartner.js
  src/lang/ADempiere/es/fieldDisplayOptions.js
  src/lang/ADempiere/es/fieldFormSearch.js
  src/lang/ADempiere/es/form/workflowActivity.js
  src/lang/ADempiere/es/index.js
  src/lang/ADempiere/es/orderList.js
  src/lang/ADempiere/es/page/login.js
Labels: (TRL) Translation, (CIO) Code Improvement or Optimization

#725 feat: Add fast clear advanced query.
  src/icons/svg/layers-clear.svg
Labels: enhancement, (WIN) Windows, (UX) User Experience

#729 Fix: Report Does Not Allow Change Export
  src/api/ADempiere/report.js
Labels: bug, (RPT) Reports

#738 feat: Clear Parameters on Process.
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/en/process.js
  src/lang/ADempiere/es/index.js
  src/lang/ADempiere/es/process.js
  src/store/modules/ADempiere/dictionary/process/actions.js
  src/utils/ADempiere/dictionary/process.js
Labels: (PRC) Processes, (UX) User Experience

#740 feat: Clear parameters on report.
  src/lang/ADempiere/en/report.js
  src/lang/ADempiere/es/actionMenu.js
  src/lang/ADempiere/es/report.js
  src/store/modules/ADempiere/dictionary/report/actions.js
  src/utils/ADempiere/dictionary/report.js
Labels: enhancement, (RPT) Reports, (UX) User Experience

#735 Fix: Just One Scroll
  src/layout/components/AppMain.vue
  src/views/ADempiere/Browser/index.vue
  src/views/ADempiere/Window/DocumentWindow.vue
  src/views/ADempiere/Window/index.vue
Labels: (SB) Smart Browser, (WIN) Windows, (UX) User Experience

#742 feat: Clear query criteria on smart browser.
  src/lang/ADempiere/en/smartBrowser.js
  src/lang/ADempiere/es/smartBrowser.js
  src/store/modules/ADempiere/dictionary/browser/actions.js
  src/utils/ADempiere/dictionary/browser.js
  src/views/ADempiere/Browser/index.vue
Labels: enhancement, (SB) Smart Browser, (UX) User Experience

#744 fix: Create new read only.
  src/store/modules/ADempiere/dictionary/window/getters.js
  src/utils/ADempiere/constants/systemColumns.js
Labels: bug, (WIN) Windows, (REC) Records

#747 fix: Create new on record processed.
  src/utils/ADempiere/dictionary/window.js
Labels: bug, (WIN) Windows, (REC) Records, (SE) Security

#749 feat: Change workflow github action to CI.
  .github/workflows/ci.yml
Labels: (CI/CD) Continuous Integration/Continous Delivery

#753 Fix: Change button location
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/es/index.js
  src/lang/ADempiere/es/window.js
Labels: enhancement, (WIN) Windows, (REC) Records, (UX) User Experience

#767 fix: Edit first row on table.
  src/store/modules/ADempiere/windowManager.js
Labels: bug, (RPT) Reports, (WIN) Windows, (UX) User Experience

#769 feat: Create record on table.
  src/store/modules/ADempiere/dictionary/window/actions.js
  src/store/modules/ADempiere/persistence.js
  src/store/modules/ADempiere/windowManager.js
  src/utils/ADempiere/dictionary/window.js
Labels: enhancement, (WIN) Windows, (REC) Records

#783 Support Control Panel Activities
  src/api/ADempiere/dashboard/dashboard.js
Labels: dashboard

#784 Process Workflow
  src/api/ADempiere/workflow.js
  src/layout/components/AppMain.vue
Labels: enhancement, (WFL) Workflows

#788 feat: Add launch on web browsers to debug.
  .gitignore
  .vscode/launch.json
Labels: enhancement, (CI/CD) Continuous Integration/Continous Delivery, (CIO) Code Improvement or Optimization

#789 Add translation to Workflow Diagram
  src/lang/ADempiere/en/form/workflowActivity.js
  src/lang/ADempiere/es/form/workflowActivity.js
Labels: (WFL) Workflows, (FRM) Form

#793 Support Customization Level
  src/api/ADempiere/user-customization/browse.js
  src/api/ADempiere/user-customization/process.js
  src/api/ADempiere/user-customization/window.js
  src/lang/ADempiere/en/component/sequenceSort.js
  src/lang/ADempiere/es/component/sequenceSort.js
  src/utils/ADempiere/dictionary/browser.js
  src/utils/ADempiere/dictionary/window.js
Labels: enhancement, (PRC) Processes, (RPT) Reports, (SB) Smart Browser, (WIN) Windows, (UX) User Experience

#798 fix: Callout on window table.
  src/store/modules/ADempiere/calloutManager.js
  src/store/modules/ADempiere/persistence.js
  src/store/modules/ADempiere/windowManager.js
  src/utils/ADempiere/dictionary/window.js
Labels: bug, (WIN) Windows

#802 fix: Edit table processed records.
  src/utils/ADempiere/dictionary/window.js
Labels: bug, (WIN) Windows, (REC) Records, (SE) Security

#808 Bugfix/discard windows changes
  src/layout/components/TagsView/index.vue
Labels: bug, (WIN) Windows, (UX) User Experience
