Repository solop-develop/frontend-core, pull requests merged in 2023-11, with the labels that each got.

#1585 Fix: Column `Business Partner` on `Project` window is not displayed.
  src/components/ADempiere/DataTable/Windows/index.vue
Labels: bug, (WIN) Windows, (ULP) UI Lookups

#1590 Fix: SB does not scroll down with 50 records
  src/components/ADempiere/DataTable/Browser/index.vue
  src/components/ADempiere/DataTable/Components/CustomPagination.vue
  src/store/modules/ADempiere/browserManager.js
  src/utils/ADempiere/references.js
  src/views/ADempiere/Browser/index.vue
Labels: bug, (SB) Smart Browser, (REC) Records

#1591 Fix: Product List when selecting from online field make wider
  src/components/ADempiere/DataTable/Windows/index.vue
Labels: enhancement, (WIN) Windows, (UX) User Experience

#1592 Fix: Check support in text does not convert correctly to VUE
  src/main.js
Labels: enhancement, (UX) User Experience

#1594 Fix: Context Attributes (Lookup List Transcoding)
  src/api/ADempiere/userInterface/browserList.ts
  src/store/modules/ADempiere/browserManager.js
  src/store/modules/ADempiere/lookupManager.js
Labels: bug, (WIN) Windows, (UX) User Experience

#1596 fix: Run Document Action.
  src/api/ADempiere/workflow.js
  src/components/ADempiere/FieldDefinition/FieldOptions/DocumentStatus/index.vue
  src/components/ADempiere/TabManager/convenienceButtons/documentAction.vue
  src/store/modules/ADempiere/documentManager.js
  src/utils/ADempiere/dictionary/window.js
Labels: bug, (WFL) Workflows, (WIN) Windows, (REC) Records

#1597 fix: Date value parse error.
  src/components/ADempiere/FieldDefinition/FieldDate.vue
  src/store/modules/ADempiere/sessionContext.js
  src/utils/ADempiere/componentUtils.js
  src/utils/ADempiere/formatValue/dateFormat.js
  src/utils/ADempiere/formatValue/stringFormat.js
  src/utils/ADempiere/globalMethods.js
  src/utils/ADempiere/valueUtils.js
Labels: bug, (ULP) UI Lookups

#1598 feat: Update from experimental 3.1.7
  src/components/ADempiere/PanelDefinition/StandardPanel.vue
  src/store/modules/ADempiere/persistence.js
  src/utils/ADempiere/dictionary/window.js
  src/utils/ADempiere/formatValue/numberFormat.js
Labels: enhancement, (ULB) Update Library, (CIO) Code Improvement or Optimization

#1599 feat: Change end-points `ReportManagement`.
  src/api/ADempiere/reportManagement/drillTable.ts
  src/api/ADempiere/reportManagement/index.ts
  src/api/ADempiere/reportManagement/printFormat.ts
  src/api/ADempiere/reportManagement/reportView.ts
Labels: enhancement, (RPT) Reports, (CIO) Code Improvement or Optimization

#1601 feat: Load Payment Allocation form.
  config/default.json
  src/api/ADempiere/form/VAllocation.ts
  src/components/ADempiere/FieldDefinition/FieldSelect/emptyOptionSelect.vue
  src/components/ADempiere/FormDefinition/VAllocation/components/Payments.vue
  src/components/ADempiere/FormDefinition/VAllocation/components/SearchCriteria.vue
  src/components/ADempiere/FormDefinition/VBankStatementMatch/SearchCriteria/index.vue
  src/store/modules/ADempiere/form/VAllocation.js
  src/utils/ADempiere/dictionary/form/VAllocation.js
Labels: enhancement, (FRM) Form, (CIO) Code Improvement or Optimization

#1607 Fix: Support to Form Express Receipt and Shipment (Transcoding)
  src/api/ADempiere/form/ExpressReceipt.js
  src/api/ADempiere/form/ExpressShipment.js
  src/components/ADempiere/Form/ExpressReceipt/index.vue
  src/components/ADempiere/Form/ExpressShipment/index.vue
  src/lang/ADempiere/en/form/index.js
  src/lang/ADempiere/en/form/pointOfSales.js
  src/lang/ADempiere/es/form/index.js
  src/lang/ADempiere/es/form/pointOfSales.js
  src/store/modules/ADempiere/form/expressShipment.js
Labels: bug, (FRM) Form, (UX) User Experience

#1608 Fix: Support to Form Express Movement and Express Receipt
  src/api/ADempiere/form/ExpressReceipt.js
  src/api/ADempiere/form/expresMovement.js
  src/components/ADempiere/Form/ExpressMovement/index.vue
  src/components/ADempiere/Form/ExpressReceipt/index.vue
  src/store/modules/ADempiere/form/expressMovement.js
  src/store/modules/ADempiere/form/expressReceipt.js
Labels: bug, (FRM) Form, (CIO) Code Improvement or Optimization, (UX) User Experience

#1610 feat: Load User Activities.
  src/api/ADempiere/logs/index.ts
  src/api/user.js
  src/store/modules/user.js
  src/views/profile/components/UserActivity/index.vue
  src/views/profile/index.vue
Labels: (REC) Records, (SE) Security

#1611 feat: Add table name on `Pending Document`.
  src/utils/ADempiere/valueUtils.js
  src/views/dashboard/admin/components/PanelGroup.vue
Labels: enhancement, dashboard

#1614 feat: Load last session preferences on login.
  src/store/modules/user.js
Labels: enhancement, (SE) Security, (CIO) Code Improvement or Optimization, (UX) User Experience

#1615 feat: `Created By`/`Updated By` on change logs.
  src/components/ADempiere/PanelInfo/Component/RecordLogs/index.vue
  src/lang/ADempiere/en/window.js
  src/lang/ADempiere/es/window.js
Labels: (WIN) Windows, (REC) Records, (UX) User Experience

#1616 feat: Add session client profile info.
  src/lang/ADempiere/en/route.js
  src/lang/ADempiere/es/route.js
  src/layout/components/Sidebar/Logo.vue
  src/views/profile/components/RolesNavbar.vue
Labels: enhancement, (SE) Security, (UX) User Experience

#1617 fix: Number values on table.
  src/components/ADempiere/DataTable/Components/CellEditInfo.vue
  src/components/ADempiere/FieldDefinition/FieldNumber.vue
  src/components/ADempiere/FieldDefinition/index.vue
  src/components/ADempiere/FieldDefinition/mixin/mixinField.js
  src/store/modules/ADempiere/defaultValueManager.js
Labels: bug, (REC) Records, (ULP) UI Lookups

#1619 fix: Automatic match on `Bank Statement Match` form.
  src/api/ADempiere/form/VBankStatementMatch.ts
  src/components/ADempiere/FormDefinition/VBankStatementMatch/AutomaticMatch.vue
  src/components/ADempiere/FormDefinition/VBankStatementMatch/ManualMatch/currentPayments.vue
  src/components/ADempiere/FormDefinition/VBankStatementMatch/ManualMatch/importedPayments.vue
  src/components/ADempiere/FormDefinition/VBankStatementMatch/ManualMatch/index.vue
  src/components/ADempiere/FormDefinition/VBankStatementMatch/SaveData/ResultTable.vue
  src/components/ADempiere/FormDefinition/VBankStatementMatch/SaveData/bankStatementInfo.vue
  src/components/ADempiere/FormDefinition/VBankStatementMatch/SaveData/index.vue
  src/components/ADempiere/FormDefinition/VBankStatementMatch/SearchCriteria/index.vue
  src/components/ADempiere/FormDefinition/VBankStatementMatch/index.vue
  src/store/modules/ADempiere/form/VBankStatementMatch.js
Labels: bug, (FRM) Form

#1622 Fix: Express Receipt, Movement and Shipment
  config/default.json
  src/api/ADempiere/form/ExpressReceipt.js
  src/api/ADempiere/form/ExpressShipment.js
  src/api/ADempiere/form/expresMovement.js
  src/components/ADempiere/FormDefinition/ExpressMovement/index.vue
  src/components/ADempiere/FormDefinition/ExpressReceipt/index.vue
  src/components/ADempiere/FormDefinition/ExpressShipment/index.vue
  src/components/ADempiere/FormDefinition/Tracking/index.vue
  src/components/ADempiere/FormDefinition/index.vue
  src/lang/ADempiere/en/form/index.js
  src/lang/ADempiere/en/form/pointOfSales.js
  src/lang/ADempiere/es/form/index.js
  src/lang/ADempiere/es/form/pointOfSales.js
  src/router/modules/ADempiere/staticRoutes.js
  src/store/modules/ADempiere/form/expressMovement.js
  src/store/modules/ADempiere/form/expressReceipt.js
  src/store/modules/ADempiere/form/expressShipment.js
Labels: bug, (FRM) Form

#1625 fix: Record References on window.
  src/api/ADempiere/recordManagement/referencesRecord.ts
  src/api/ADempiere/window.js
  src/components/ADempiere/PanelInfo/Component/ReferenceRecords/index.vue
  src/components/ADempiere/PanelInfo/index.vue
  src/components/ADempiere/TabManager/index.vue
  src/store/modules/ADempiere/references.js
  src/utils/ADempiere/apiConverts/values.js
Labels: bug, (WIN) Windows, (REC) Records

#1624 Feat: POS Create Customers
  src/api/ADempiere/form/VPOS/index.js
  src/components/ADempiere/Form/VPOS2/FooterOrder/InfoOrder.vue
  src/components/ADempiere/Form/VPOS2/HeaderOrder/Customer/ListCostumer.vue
  src/components/ADempiere/Form/VPOS2/HeaderOrder/Customer/NewCustomer.vue
  src/components/ADempiere/Form/VPOS2/HeaderOrder/Customer/NewCustomer/AddAddress/Fields/Address.vue
  src/components/ADempiere/Form/VPOS2/HeaderOrder/Customer/NewCustomer/AddAddress/Fields/Address2.vue
  src/components/ADempiere/Form/VPOS2/HeaderOrder/Customer/NewCustomer/AddAddress/Fields/Address3.vue
  src/components/ADempiere/Form/VPOS2/HeaderOrder/Customer/NewCustomer/AddAddress/Fields/Address4.vue
  src/components/ADempiere/Form/VPOS2/HeaderOrder/Customer/NewCustomer/AddAddress/Fields/City.vue
  src/components/ADempiere/Form/VPOS2/HeaderOrder/Customer/NewCustomer/AddAddress/Fields/CityLabel.vue
  src/components/ADempiere/Form/VPOS2/HeaderOrder/Customer/NewCustomer/AddAddress/Fields/Country.vue
  src/components/ADempiere/Form/VPOS2/HeaderOrder/Customer/NewCustomer/AddAddress/Fields/PostalCode.vue
  src/components/ADempiere/Form/VPOS2/HeaderOrder/Customer/NewCustomer/AddAddress/Fields/PostalCodeAdditional.vue
  src/components/ADempiere/Form/VPOS2/HeaderOrder/Customer/NewCustomer/AddAddress/Fields/Regions.vue
  src/components/ADempiere/Form/VPOS2/HeaderOrder/Customer/NewCustomer/AddAddress/Fields/locationName.vue
  src/components/ADempiere/Form/VPOS2/HeaderOrder/Customer/NewCustomer/AddAddress/index.vue
  src/components/ADempiere/Form/VPOS2/HeaderOrder/Customer/NewCustomer/CustomerData.vue
  src/components/ADempiere/Form/VPOS2/HeaderOrder/Customer/NewCustomer/Fields/Code.vue
  src/components/ADempiere/Form/VPOS2/HeaderOrder/Customer/NewCustomer/Fields/Email.vue
  src/components/ADempiere/Form/VPOS2/HeaderOrder/Customer/NewCustomer/Fields/IdentificationNumber.vue
  src/components/ADempiere/Form/VPOS2/HeaderOrder/Customer/NewCustomer/Fields/Name.vue
  src/components/ADempiere/Form/VPOS2/HeaderOrder/Customer/NewCustomer/Fields/Name2.vue
  src/components/ADempiere/Form/VPOS2/HeaderOrder/Customer/NewCustomer/Fields/Phone.vue
  src/components/ADempiere/Form/VPOS2/HeaderOrder/Customer/NewCustomer/index.vue
  src/components/ADempiere/Form/VPOS2/HeaderOrder/Customer/UpdateCustomer/Panel.vue
  src/components/ADempiere/Form/VPOS2/HeaderOrder/Customer/UpdateCustomer/index.vue
  src/components/ADempiere/Form/VPOS2/HeaderOrder/Customer/index.vue
  src/lang/ADempiere/en/field/locationsAddress.js
  src/lang/ADempiere/es/field/locationsAddress.js
  src/store/modules/ADempiere/form/VPOS/customer.js
  src/utils/ADempiere/dictionary/field/locationAddress.js
Labels: bug, (POS) Point Of Sales

#1633 fix: `Express Movement`, `Express Receipt` and `Express Shipment` forms.
  src/api/ADempiere/form/ExpressShipment.js
  src/components/ADempiere/FormDefinition/ExpressMovement/index.vue
  src/components/ADempiere/FormDefinition/ExpressReceipt/index.vue
  src/components/ADempiere/FormDefinition/ExpressShipment/index.vue
  src/lang/ADempiere/en/form/expressMovement.js
  src/lang/ADempiere/en/form/expressReceipt.js
  src/lang/ADempiere/en/form/expressShipment.js
  src/lang/ADempiere/en/route.js
  src/lang/ADempiere/es/form/expressMovement.js
  src/lang/ADempiere/es/form/expressReceipt.js
  src/lang/ADempiere/es/route.js
  src/router/modules/ADempiere/staticRoutes.js
  src/store/modules/ADempiere/form/expressMovement.js
  src/store/modules/ADempiere/form/expressReceipt.js
Labels: bug, (FRM) Form

#1637 Feat: Support to Image
  src/layout/components/Navbar.vue
  src/layout/components/ProfilePreview.vue
  src/layout/components/Sidebar/Logo.vue
  src/utils/ADempiere/resource.js
  src/views/profile/components/UserCard.vue
Labels: bug, (UX) User Experience

#1638 Fix: Graphics tab does not scroll
  src/views/ADempiere/Charts/index.vue
Labels: bug, dashboard

#1642 fix: Date field on table records.
  src/components/ADempiere/FieldDefinition/FieldDate.vue
  src/components/ADempiere/FieldDefinition/mixin/mixinField.js
  src/components/ADempiere/FieldDefinition/useFieldDefinition.js
Labels: (SB) Smart Browser, (WIN) Windows, (REC) Records, (ULP) UI Lookups

#1639 Error 400 when running SB Report and Process
  src/api/ADempiere/browser.js
  src/store/modules/ADempiere/browserManager.js
  src/store/modules/ADempiere/dictionary/window/actions.js
  src/store/modules/ADempiere/processManager.js
  src/store/modules/ADempiere/reportManager.js
Labels: bug, (PRC) Processes, (SB) Smart Browser, (WIN) Windows

#1645 [Bug Report] Correct Advanced Search in Windows
  config/default.json
  src/store/modules/ADempiere/windowManager.js
Labels: bug, (WIN) Windows, (REC) Records

#1643 fix: Refresh record after run workflow.
  src/api/ADempiere/userInterface/entities.ts
  src/api/ADempiere/window.js
  src/components/ADempiere/FieldDefinition/FieldButton.vue
  src/components/ADempiere/FieldDefinition/FieldOptions/DocumentStatus/index.vue
  src/components/ADempiere/PanelDefinition/DocumentActionPanel.vue
  src/components/ADempiere/PanelDefinition/TreePanel.vue
  src/components/ADempiere/PanelInfo/Component/workflowLogs/index.vue
  src/components/ADempiere/TabManager/TabPanel.vue
  src/components/ADempiere/TabManager/convenienceButtons/RefreshRecordButton.vue
  src/components/ADempiere/TabManager/convenienceButtons/documentAction.vue
  src/components/ADempiere/TabManager/convenienceButtons/documentStatus.vue
  src/store/modules/ADempiere/dictionary/window/actions.js
  src/store/modules/ADempiere/documentManager.js
  src/utils/ADempiere/dictionary/window.js
  src/utils/ADempiere/dictionary/workflow.js
Labels: (WFL) Workflows, (WIN) Windows, (REC) Records

#1647 fix: `Payment Allocation` Form
  src/components/ADempiere/FormDefinition/VAllocation/components/InvoceTable.vue
  src/components/ADempiere/FormDefinition/VAllocation/components/Payments.vue
  src/components/ADempiere/FormDefinition/VAllocation/components/PaymentsTable.vue
  src/components/ADempiere/FormDefinition/VAllocation/index.vue
  src/store/modules/ADempiere/form/VAllocation.js
Labels: bug, (FRM) Form

#1650 fix: Smart Browse query criteria collapse/expand.
  src/components/ADempiere/CollapseCriteria/index.vue
  src/store/modules/ADempiere/dictionary/browser/mutations.js
Labels: bug, (SB) Smart Browser

#1654 Fix: Support V-Pay-Print
  src/api/ADempiere/form/VPayPrint.js
  src/components/ADempiere/Form/VPayPrint/index.vue
  src/components/ADempiere/FormDefinition/VAllocation/components/Payments.vue
Labels: bug, (FRM) Form

#1659 fix: Undo changes duplicate lines.
  src/components/ADempiere/TabManager/convenienceButtons/UndoChangeButton.vue
  src/store/modules/ADempiere/persistence.js
  src/store/modules/ADempiere/windowManager.js
  src/utils/ADempiere/dictionary/window.js
Labels: bug, (WIN) Windows, (REC) Records, (UX) User Experience

#1662 Add Scroll in Charts
  src/views/ADempiere/Charts/index.vue
Labels: dashboard, (UX) User Experience

#1663 Fix: Support User Customization
  src/api/ADempiere/user-customization/browse.js
  src/api/ADempiere/user-customization/index.js
  src/api/ADempiere/user-customization/process.js
  src/api/ADempiere/user-customization/window.js
  src/components/ADempiere/FilterFields/fieldsDisplayOptions.vue
  src/utils/ADempiere/dictionary/window.js
Labels: bug, (PRC) Processes, (RPT) Reports, (SB) Smart Browser, (WIN) Windows, (UX) User Experience

#1664 fix: Open `Smart Browser` associated on window.
  src/store/modules/ADempiere/dictionary/browser/actions.js
  src/store/modules/ADempiere/dictionary/browser/getters.js
  src/store/modules/ADempiere/dictionary/browser/mutations.js
  src/store/modules/ADempiere/dictionary/browser/state.js
  src/utils/ADempiere/dictionary/window.js
Labels: bug, (SB) Smart Browser, (WIN) Windows

#1665 Fix: When you reset the filter to is null, it is burned and does not allow any changes to the filter
  src/components/ADempiere/FieldDefinition/FieldOptions/ComparisonOperator.vue
  src/components/ADempiere/FieldDefinition/index.vue
Labels: bug, (SB) Smart Browser, (WIN) Windows

#1658 Fix: Payroll Action Notice
  src/api/ADempiere/form/payrollActionNotice.js
  src/components/ADempiere/Form/VHRActionNotice/index.vue
  src/lang/ADempiere/en/form/actionNotice.js
  src/lang/ADempiere/es/form/actionNotice.js
  src/store/modules/ADempiere/form/VHRActionNotice.js
Labels: bug, (FRM) Form

#1667 fix: Attachment shortcut.
  src/api/ADempiere/user-interface/component/resource.js
  src/components/ADempiere/TabManager/index.vue
Labels: bug, (WIN) Windows, (UX) User Experience

#1669 fix: Save user customization.
  src/api/ADempiere/user-customization/browsers.js
  src/api/ADempiere/user-customization/index.js
  src/api/ADempiere/user-customization/processes.js
  src/api/ADempiere/user-customization/windows.js
  src/components/ADempiere/FilterFields/fieldsDisplayOptions.vue
  src/utils/ADempiere/dictionary/browser.js
  src/utils/ADempiere/dictionary/process.js
  src/utils/ADempiere/dictionary/window.js
  src/utils/ADempiere/userCustomization.ts
Labels: bug, (PRC) Processes, (RPT) Reports, (SB) Smart Browser, (WIN) Windows, (UX) User Experience
