Repository solop-develop/frontend-core, pull requests merged in 2023-08, with the labels that each got.

#1257 Fix: Hide Badge if empty
  src/views/ADempiere/ProcessActivity/modeDesktop.vue
  src/views/ADempiere/ProcessActivity/modeMobile.vue
Labels: bug, (UX) User Experience

#1258 Feat: Support User Activity
  src/api/user.js
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/es/index.js
  src/layout/components/Settings/index.vue
  src/store/modules/user.js
  src/views/dashboard/admin/index.vue
  src/views/profile/components/InfoUser.vue
  src/views/profile/components/UserActivity/ProcessLogs.vue
  src/views/profile/components/UserActivity/WindowsLogs.vue
  src/views/profile/components/UserActivity/index.vue
  src/views/profile/components/UserCard.vue
  src/views/profile/index.vue
Labels: enhancement, (UX) User Experience

#1263 Feature/filter date
  src/api/user.js
  src/store/modules/user.js
  src/views/profile/index.vue
Labels: enhancement, (UX) User Experience

#1264 Feat: Support List File Preview
  src/api/ADempiere/form/VFileImport.js
  src/store/modules/ADempiere/form/VFileImport.js
Labels: enhancement, (FRM) Form

#1268 fix: Default value on `Role > UserLevel`.
  src/store/modules/ADempiere/defaultValueManager.js
  src/utils/ADempiere/dictionary/window.js
Labels: bug, (WIN) Windows, (REC) Records, (ULP) UI Lookups, (UX) User Experience

#1269 fix: Create role access lines.
  src/store/modules/ADempiere/dictionary/window/actions.js
  src/store/modules/ADempiere/persistence.js
  src/store/modules/ADempiere/processManager.js
  src/utils/ADempiere/dictionary/window.js
Labels: bug, (WIN) Windows, (REC) Records, (SE) Security, (UX) User Experience

#1270 Support CustomerBankAccount
  src/api/ADempiere/form/point-of-sales.js
  src/store/modules/ADempiere/pointOfSales/payments/actions.js
Labels: enhancement, (FRM) Form, (POS) Point Of Sales

#1274 feat: `Bank Statement Match` matched records.
  src/api/ADempiere/form/VBankStatementMatch.js
  src/lang/ADempiere/en/form/VBankStatementMatch.js
  src/lang/ADempiere/en/form/index.js
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/es/form/VBankStatementMatch.js
  src/lang/ADempiere/es/form/index.js
  src/lang/ADempiere/es/index.js
  src/store/modules/ADempiere/form/VBankStatementMatch.js
Labels: enhancement, (FRM) Form

#1276 feat: `Bank Statement Match` list payments.
  src/api/ADempiere/form/VBankStatementMatch.js
  src/lang/ADempiere/en/form/VBankStatementMatch.js
  src/lang/ADempiere/es/form/VBankStatementMatch.js
  src/store/modules/ADempiere/form/VBankStatementMatch.js
Labels: enhancement, (REC) Records, (FRM) Form

#1280 Fix: Tabs minimized and at the bottom of the window
  src/views/ADempiere/Window/DocumentWindow.vue
  src/views/ADempiere/Window/Finances.vue
  src/views/ADempiere/Window/GeneralLedger.vue
  src/views/ADempiere/Window/MaterialsManagement.vue
  src/views/ADempiere/Window/MultiTabWindow.vue
Labels: bug, (WIN) Windows

#1282 Fix: Current Step
  src/store/modules/ADempiere/form/VFileImport.js
Labels: enhancement, (FRM) Form

#1316 Fix: Payment Assignment
  src/store/modules/ADempiere/form/VAllocation.js
Labels: bug, (FRM) Form

#1338 Fix Bank Statement Match
  src/lang/ADempiere/en/form/VBankStatementMatch.js
  src/lang/ADempiere/es/form/VBankStatementMatch.js
  src/store/modules/ADempiere/form/VBankStatementMatch.js
Labels: enhancement, (FRM) Form

#1343 Fix: Format the Date Next Action
  src/store/modules/ADempiere/issues.js
Labels: bug, (FRM) Form

#1347 fix: POS Update Order multiple requests.
  src/store/modules/ADempiere/pointOfSales/getters/index.js
  src/store/modules/ADempiere/pointOfSales/point/index.js
  src/store/modules/ADempiere/pointOfSales/productPrice.js
  src/store/modules/ADempiere/pointOfSales/productPrice/actions.js
  src/store/modules/ADempiere/pointOfSales/productPrice/index.js
  src/store/modules/ADempiere/pointOfSales/productPrice/mutations.js
  src/store/modules/ADempiere/pointOfSales/productPrice/state.js
  src/store/modules/ADempiere/utils.js
  src/utils/ADempiere/valueUtils.js
Labels: bug, (FRM) Form, (POS) Point Of Sales

#1359 fix: Issue Type with default status and search value.
  src/api/ADempiere/user-interface/component/issue.js
  src/store/modules/ADempiere/issues.js
Labels: bug, (FRM) Form, (UX) User Experience

#1365 Add New Attributes to the Service of List Order
  src/api/ADempiere/form/point-of-sales.js
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/es/index.js
Labels: enhancement, (FRM) Form, (POS) Point Of Sales

#1369 Fix: Process Loading
  src/store/modules/ADempiere/pointOfSales/getters/index.js
  src/store/modules/ADempiere/pointOfSales/order/actions.js
  src/store/modules/ADempiere/pointOfSales/orderLine/actions.js
  src/store/modules/ADempiere/pointOfSales/payments/actions.js
  src/store/modules/ADempiere/pointOfSales/point/mutations.js
  src/store/modules/ADempiere/pointOfSales/point/state.js
Labels: bug, (FRM) Form, (POS) Point Of Sales

#1370 fix: `VAllocation` form, list business partner.
  src/store/modules/ADempiere/field/businessPartnerInfo.js
  src/store/modules/ADempiere/field/generalInfoSearch.js
  src/store/modules/ADempiere/panel/actions.js
Labels: bug, (FRM) Form

#1373 fix: context is sales transaction.
  src/utils/ADempiere/contextUtils/index.js
Labels: bug

#1374 Fix: POS Add loading option Dialog
  src/store/modules/ADempiere/pointOfSales/getters/index.js
  src/store/modules/ADempiere/pointOfSales/point/mutations.js
  src/store/modules/ADempiere/pointOfSales/point/state.js
Labels: bug, (FRM) Form, (POS) Point Of Sales

#1377 POS: Add service list bank
  src/api/ADempiere/form/point-of-sales.js
  src/store/modules/ADempiere/pointOfSales/bank.js
Labels: enhancement, (FRM) Form, (POS) Point Of Sales

#1379 POS Add Movement Quantity to Traslations
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/es/index.js
Labels: bug, (FRM) Form, (POS) Point Of Sales

#1380 fix: POS set campaign to create order
  src/store/modules/ADempiere/pointOfSales/order/actions.js
Labels: bug, (FRM) Form, (POS) Point Of Sales

#1382 POS: Apply Discount to All Lines
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/es/index.js
  src/store/modules/ADempiere/pointOfSales/order/actions.js
Labels: enhancement, (FRM) Form, (POS) Point Of Sales

#1383 Feat: Notify actions
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/es/index.js
  src/store/modules/ADempiere/pointOfSales/getters/index.js
  src/store/modules/ADempiere/pointOfSales/point/mutations.js
  src/store/modules/ADempiere/pointOfSales/point/state.js
Labels: bug, (FRM) Form, (POS) Point Of Sales

#1384 feat: POS Add Taslations
  src/lang/ADempiere/en/form/productInfo.js
  src/lang/ADempiere/es/form/productInfo.js
  src/store/modules/ADempiere/pointOfSales/orderLine/actions.js
Labels: enhancement, (FRM) Form, (POS) Point Of Sales

#1385 Feat: POS Add Dialog to Reverse Sales
  src/store/modules/ADempiere/pointOfSales/getters/index.js
  src/store/modules/ADempiere/pointOfSales/point/mutations.js
  src/store/modules/ADempiere/pointOfSales/point/state.js
Labels: bug, (FRM) Form, (POS) Point Of Sales

#1386 Feat: POS Add Options the Search Product
  src/icons/svg/product-search.svg
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/es/index.js
Labels: enhancement, (FRM) Form, (POS) Point Of Sales

#1387 feat: POS Dialog summary delivery
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/es/index.js
  src/store/modules/ADempiere/pointOfSales/getters/index.js
  src/store/modules/ADempiere/pointOfSales/point/mutations.js
  src/store/modules/ADempiere/pointOfSales/point/state.js
Labels: enhancement, (FRM) Form, (POS) Point Of Sales

#1388 Feat: POS Detailed Cash Closing
  src/api/ADempiere/form/point-of-sales.js
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/es/index.js
  src/store/modules/ADempiere/pointOfSales/getters/index.js
  src/store/modules/ADempiere/pointOfSales/payments/actions.js
  src/store/modules/ADempiere/pointOfSales/payments/getters.js
  src/store/modules/ADempiere/pointOfSales/payments/mutations.js
  src/store/modules/ADempiere/pointOfSales/payments/state.js
  src/store/modules/ADempiere/utils.js
Labels: enhancement, (FRM) Form, (POS) Point Of Sales

#1398 Fix: Sequence Options
  src/store/modules/ADempiere/fieldDefinition.js
Labels: enhancement, (PRC) Processes, (RPT) Reports, (SB) Smart Browser, (WIN) Windows

#1405 Fix: POS Print Ticket
  src/api/ADempiere/form/point-of-sales.js
  src/store/modules/ADempiere/pointOfSales/order/actions.js
Labels: enhancement, (FRM) Form, (POS) Point Of Sales

#1406 FIx: POS Set Campaign
  src/store/modules/ADempiere/pointOfSales/order/actions.js
Labels: (FRM) Form, (POS) Point Of Sales

#1407 POS: Feat Add Service RMA
  src/api/ADempiere/form/point-of-sales.js
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/es/index.js
  src/store/modules/ADempiere/pointOfSales/returnProduct.js
  src/store/modules/ADempiere/utils.js
Labels: enhancement, (FRM) Form, (POS) Point Of Sales

#1410 Fix: Change Translations
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/es/index.js
  src/store/modules/ADempiere/pointOfSales/productPrice.js
Labels: bug, (FRM) Form, (POS) Point Of Sales

#1411 Fix: Message Print TIcket
  src/store/modules/ADempiere/pointOfSales/order/actions.js
Labels: bug, (FRM) Form, (POS) Point Of Sales

#1414 Fix: Create Customer Bank Account
  src/api/ADempiere/form/point-of-sales.js
  src/lang/ADempiere/en/form/pointOfSales.js
  src/lang/ADempiere/es/form/pointOfSales.js
  src/store/modules/ADempiere/pointOfSales/order/actions.js
Labels: bug, (FRM) Form, (POS) Point Of Sales
