Repository solop-develop/frontend-core, pull requests merged in 2023-02, with the labels that each got.

#810 feat: Loading save sequence.
  src/utils/ADempiere/dictionary/browser.js
  src/utils/ADempiere/dictionary/process.js
  src/utils/ADempiere/dictionary/report.js
  src/utils/ADempiere/dictionary/window.js
Labels: enhancement, (PRC) Processes, (RPT) Reports, (SB) Smart Browser, (WIN) Windows

#817 Fix: Return promise when I check the comment list
  src/store/modules/ADempiere/issues.js
Labels: enhancement, (WIN) Windows, (FRM) Form

#820 fix: ReadOnly on asset addition window.
  src/utils/ADempiere/formatValue/booleanFormat.js
  src/utils/ADempiere/formatValue/stringFormat.js
  src/utils/ADempiere/valueUtils.js
Labels: bug, (WIN) Windows, (FRM) Form, (ULP) UI Lookups

#821 fix: Add date next action.
  src/api/ADempiere/user-interface/component/issue.js
  src/api/ADempiere/window.js
  src/store/modules/ADempiere/issues.js
Labels: bug, (WIN) Windows, (FRM) Form

#823 fix: PO Window.
  src/utils/ADempiere/contextUtils.js
Labels: bug, (WIN) Windows, (ULP) UI Lookups

#824 Fix: Support to Next Action Date and Expiration Type
  src/lang/ADempiere/en/form/issues.js
  src/lang/ADempiere/es/form/issues.js
  src/store/modules/ADempiere/issues.js
Labels: enhancement, (WIN) Windows, (FRM) Form

#826 fix: Delete selection records displayed value on confirm.
  src/store/modules/ADempiere/panel/actions.js
  src/utils/ADempiere/dictionary/panel.js
Labels: bug, (WIN) Windows, (REC) Records

#828 Fix: Field Search Handle Change Size Page
  src/store/modules/ADempiere/form/businessPartner.js
  src/store/modules/ADempiere/form/generalInfoSearch.js
  src/utils/ADempiere/dictionary/window.js
Labels: bug, (REC) Records, (FRM) Form, (ULP) UI Lookups

#830 fix: Set displayed value into table.
  src/store/modules/ADempiere/dictionary/window/getters.js
Labels: bug, (WIN) Windows, (REC) Records

#833 fix: Fix duplicated requests with activity notification.
  src/layout/components/Navbar.vue
  src/store/modules/ADempiere/form/workflowActivity.js
Labels: bug, (CIO) Code Improvement or Optimization

#836 fix: Location Address form.
  src/store/modules/ADempiere/defaultValueManager.js
  src/store/modules/ADempiere/fieldValue.js
  src/utils/ADempiere/dictionary/form/locationAddress.js
Labels: bug, (FRM) Form, (ULP) UI Lookups

#835 Support Mode Mobile
  src/views/ADempiere/Form/index.vue
Labels: bug, (WFL) Workflows, (FRM) Form

#845 fix: Assertion failet callout after create.
  src/store/modules/ADempiere/calloutManager.js
  src/utils/ADempiere/formatValue/numberFormat.js
Labels: bug, (FRM) Form, (ULP) UI Lookups

#849 Fix Smart Browser Record Grid Too Small
  src/views/ADempiere/Browser/index.vue
Labels: bug, enhancement, (SB) Smart Browser, (UX) User Experience

#850 Fix: Failed to set server default
  src/utils/ADempiere/dictionary/window.js
Labels: bug, (WIN) Windows, (ULP) UI Lookups

#855 fix: Displayed Value on lookups.
  src/utils/ADempiere/dictionary/browser.js
Labels: (ULP) UI Lookups

#856 Add Const Issues
  src/utils/ADempiere/dictionary/form/Issues.js
Labels: enhancement, (FRM) Form

#857 fix: Close Smart Browser after Run Process.
  src/store/modules/ADempiere/dictionary/browser/actions.js
Labels: bug, (PRC) Processes, (SB) Smart Browser

#858 fix: Readonly field is always updateable.
  src/utils/ADempiere/dictionary/window.js
Labels: bug, (ULP) UI Lookups

#859 fix: Zoom reference window.
  src/utils/ADempiere/coreUtils.js
  src/utils/ADempiere/dataUtils.js
  src/utils/ADempiere/filters.js
  src/utils/ADempiere/formatValue/numberFormat.js
Labels: bug, (WIN) Windows, (REC) Records

#860 feat: Add refresh lookup.
  src/lang/ADempiere/en/fieldOptions.js
  src/lang/ADempiere/es/fieldOptions.js
  src/store/modules/ADempiere/field.js
Labels: enhancement, (ULP) UI Lookups

#862 fix: Window filters.
  src/api/ADempiere/user-interface/persistence.js
Labels: (WIN) Windows, (REC) Records

#863 fix: Save Attribute Set Instance.
  src/api/ADempiere/form/productAttribute.js
  src/lang/ADempiere/en/field/index.js
  src/lang/ADempiere/en/field/productAttribute.js
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/es/field/index.js
  src/lang/ADempiere/es/field/productAttribute.js
  src/lang/ADempiere/es/index.js
  src/store/modules/ADempiere/form/productAttribute.js
  src/utils/ADempiere/dictionary/field/productAttribute.js
Labels: bug, (FRM) Form, (ULP) UI Lookups

#871 feat: Add zoom custom lookups.
  src/store/modules/ADempiere/form/accountingCombination.js
  src/utils/ADempiere/tableUtils.js
Labels: enhancement

#876 feat: Add filter columns on Smart Browser Table.
  src/store/modules/ADempiere/dictionary/browser/actions.js
  src/store/modules/ADempiere/dictionary/window/actions.js
  src/utils/ADempiere/dictionary/browser.js
  src/utils/ADempiere/dictionary/panel.js
  src/utils/ADempiere/dictionary/window.js
  src/utils/ADempiere/dictionaryUtils.js
  src/views/ADempiere/Browser/index.vue
Labels: enhancement, (SB) Smart Browser

#877 fix: Field accouting combianation list empty.
  src/api/ADempiere/field/accoutingCombination.js
  src/store/modules/ADempiere/field/accountingCombination.js
  src/store/modules/ADempiere/fieldDefinition.js
  src/utils/ADempiere/dictionary/field/accoutingCombination.js
Labels: bug, (REC) Records, (FRM) Form, (ULP) UI Lookups

#878 feat: Move location address field.
  src/api/ADempiere/system-core.js
  src/store/modules/ADempiere/field/locationAddress.js
  src/utils/ADempiere/dictionary/field/locationAddress.js
Labels: (CIO) Code Improvement or Optimization

#879 feat: Move searchs field.
  src/api/ADempiere/field/businessPartner.js
  src/api/ADempiere/field/product-info.js
  src/store/modules/ADempiere/field/businessPartnerInfo.js
  src/store/modules/ADempiere/field/generalInfoSearch.js
  src/store/modules/ADempiere/field/productInfo.js
  src/utils/ADempiere/dictionary/field/businessPartner.js
  src/utils/ADempiere/dictionary/field/generalInfoSearch.js
  src/utils/ADempiere/dictionary/field/order/orderList.js
Labels: (ULP) UI Lookups, (CIO) Code Improvement or Optimization

#880 feat: Separathe warehouse locator api request.
  src/api/ADempiere/field/warehouseLocator.js
Labels: (CIO) Code Improvement or Optimization

#882 fix: Mandatory columns available to hidden.
  src/store/modules/ADempiere/dictionary/browser/getters.js
  src/store/modules/ADempiere/dictionary/window/getters.js
  src/utils/ADempiere/dictionary/browser.js
  src/utils/ADempiere/dictionary/window.js
  src/views/ADempiere/Browser/index.vue
  src/views/ADempiere/Window/DocumentWindow.vue
  src/views/ADempiere/Window/MultiTabWindow.vue
Labels: bug, (SB) Smart Browser, (WIN) Windows

#883 fix: Smart Browser field YesNo wiuthout search.
  src/store/modules/ADempiere/browserManager.js
Labels: bug, (SB) Smart Browser, (REC) Records
