Repository solop-develop/frontend-core, pull requests merged in 2023-10, with the labels that each got.

#1496 Fix: POS Error Creating Sales Order With Document Type
  src/components/ADempiere/Form/VPOS/Options/index.vue
  src/components/ADempiere/Form/VPOS/OrderList/fastOrder.vue
Labels: bug, (FRM) Form, (POS) Point Of Sales

#1498 Feat: Add All Dictionary API Services
  src/api/ADempiere/dictionary/index.ts
  src/components/ADempiere/ModalDialog/index.vue
  src/store/modules/ADempiere/dictionary/browser/actions.js
  src/store/modules/ADempiere/dictionary/browser/getters.js
  src/store/modules/ADempiere/dictionary/browser/mutations.js
  src/store/modules/ADempiere/formDefinition.js
  src/views/ADempiere/Browser/index.vue
  src/views/dashboard/admin/components/PanelGroup.vue
Labels: enhancement, (CIO) Code Improvement or Optimization

#1499 Feat: Support for the new service List Browser Items Request
  src/api/ADempiere/userInterface/browserList.ts
  src/api/ADempiere/userInterface/lookups.ts
  src/components/ADempiere/FieldDefinition/FieldSelect.vue
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/en/operators.ts
  src/lang/ADempiere/es/index.js
  src/lang/ADempiere/es/operators.ts
  src/store/modules/ADempiere/browserManager.js
  src/store/modules/ADempiere/lookupManager.js
  src/utils/ADempiere/dataUtils.js
  src/utils/ADempiere/dictionary/browser.js
Labels: enhancement, (SB) Smart Browser, (REC) Records

#1500 fix: Warehouses List of session.
  src/api/ADempiere/common/index.ts
  src/api/ADempiere/security/index.ts
  src/store/modules/user.js
  src/utils/request.js
  src/views/profile/components/RolesNavbar.vue
Labels: bug, (SE) Security

#1501 Feat: Transcoding Default Value
  src/api/ADempiere/userInterface/defaultValue.ts
  src/store/modules/ADempiere/defaultValueManager.js
  src/store/modules/ADempiere/dictionary/process/actions.js
  src/store/modules/ADempiere/dictionary/process/mutations.js
  src/utils/ADempiere/dictionary/browser.js
  src/utils/ADempiere/dictionary/process.js
Labels: bug, enhancement

#1502 feat: Tab web browser favicon and title.
  src/store/modules/user.js
Labels: enhancement, (UX) User Experience

#1505 feat: Run process with `Smart Browser ID`.
  src/api/ADempiere/process.js
  src/store/modules/ADempiere/processManager.js
Labels: enhancement, (PRC) Processes, (SB) Smart Browser

#1506 Feat: Todo LIst
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/es/index.js
  src/views/dashboard/admin/components/TodoList/index.vue
  src/views/dashboard/admin/index.vue
Labels: enhancement, dashboard

#1507 Fix: Sytle Height Footer
  src/components/ADempiere/Form/VBankStatementMatch/index.vue
Labels: (FRM) Form, (UX) User Experience

#1509 fix: Favicon logo
  src/store/modules/user.js
Labels: bug, (UX) User Experience

#1511 feat: (Transcoding) Process logs or `Process Activity`.
  src/api/ADempiere/logs/process.ts
  src/api/ADempiere/process.js
  src/store/modules/ADempiere/processLog.js
Labels: enhancement, (PRC) Processes, (RPT) Reports, (CIO) Code Improvement or Optimization

#1512 feat: (Transcoding) Run Business Process.
  src/api/ADempiere/businessData/runBusinessProcess.ts
  src/components/ADempiere/ActionMenu/index.vue
  src/store/modules/ADempiere/actionMenuManager.js
  src/store/modules/ADempiere/dictionary/process/getters.js
  src/store/modules/ADempiere/processLog.js
  src/store/modules/ADempiere/processManager.js
  src/store/modules/ADempiere/system.js
  src/utils/ADempiere/constants/process.js
  src/views/ADempiere/Process/index.vue
  src/views/ADempiere/Process/mixinProcess.js
Labels: enhancement, (PRC) Processes, (RPT) Reports, (CIO) Code Improvement or Optimization

#1513 feat: (Transcoding) Open Report
  src/store/modules/ADempiere/dictionary/report/actions.js
  src/store/modules/ADempiere/dictionary/report/mutations.js
  src/views/ADempiere/Report/index.vue
  src/views/ADempiere/Report/mixinReport.js
Labels: enhancement, (RPT) Reports, (CIO) Code Improvement or Optimization

#1517 fix: (Transcoding) Change warehouse.
  src/api/ADempiere/open-id/services.js
  src/api/role.js
  src/api/user.js
  src/store/modules/app.js
  src/store/modules/user.js
Labels: bug, (SE) Security, (CIO) Code Improvement or Optimization

#1519 Feat: (Transcoding) Support Tab Info on window
  src/api/ADempiere/logs/tabInfo/chatsEntries.ts
  src/api/ADempiere/logs/tabInfo/windowAttachment.ts
  src/api/ADempiere/logs/tabInfo/windowDashboards.ts
  src/api/ADempiere/logs/tabInfo/windowIssues.ts
  src/components/ADempiere/FieldDefinition/index.vue
  src/components/ADempiere/TabManager/convenienceButtons/RefreshRecordButton.vue
  src/components/ADempiere/TabManager/index.vue
  src/store/modules/ADempiere/lookupManager.js
  src/store/modules/ADempiere/panelWindows.js
  src/utils/ADempiere/dictionary/window.js
Labels: enhancement

#1520 fix: (Transcoding) Open and Run `Process`.
  src/components/ADempiere/ActionMenu/index.vue
  src/components/ADempiere/ActionMenu/menuMobile.vue
  src/components/ADempiere/FilterFields/fieldsDisplayOptions.vue
  src/components/ADempiere/FilterFields/index.vue
  src/components/ADempiere/PanelDefinition/DocumentAction.vue
  src/components/ADempiere/PanelDefinition/DraggablePanel.vue
  src/components/ADempiere/PanelDefinition/SortPanel.vue
  src/components/ADempiere/PanelDefinition/StandardPanel.vue
  src/components/ADempiere/PanelDefinition/TreePanel.vue
  src/components/ADempiere/PanelDefinition/UnsupportedPanel.vue
  src/components/ADempiere/PanelDefinition/index.vue
  src/components/ADempiere/PanelFooter/index.vue
  src/layout/components/AppMain.vue
  src/layout/index.vue
  src/store/modules/ADempiere/dictionary/process/actions.js
  src/store/modules/ADempiere/dictionary/process/mutations.js
  src/utils/ADempiere/dictionary/process.js
  src/utils/ADempiere/dictionary/process/actionsMenu.ts
  src/views/ADempiere/Process/index.vue
  src/views/ADempiere/Process/mixinProcess.js
Labels: bug, (PRC) Processes, (CIO) Code Improvement or Optimization

#1521 feat: (Transcoding) Generate Report.
  src/components/ADempiere/ActionMenu/index.vue
  src/components/ADempiere/FieldDefinition/FieldYesNo/index.vue
  src/components/ADempiere/FieldDefinition/index.vue
  src/components/ADempiere/FieldDefinition/mixin/mixinField.js
  src/components/ADempiere/FileRender/PdfFile/index.vue
  src/components/ADempiere/FileRender/index.vue
  src/router/modules/ADempiere/staticRoutes.js
  src/store/modules/ADempiere/actionMenuManager.js
  src/store/modules/ADempiere/dictionary/report/actions.js
  src/store/modules/ADempiere/dictionary/report/mutations.js
  src/store/modules/ADempiere/reportManager.js
  src/utils/ADempiere/dictionary/process.js
  src/utils/ADempiere/dictionary/report.js
  src/utils/ADempiere/dictionary/report/actionsMenu.ts
  src/utils/ADempiere/resource.js
  src/views/ADempiere/Report/index.vue
  src/views/ADempiere/Report/mixinReport.js
  src/views/ADempiere/ReportViewer/index.vue
Labels: enhancement, (RPT) Reports, (CIO) Code Improvement or Optimization

#1523 Fix: Support Lookup Process (Transcoding)
  src/components/ADempiere/FieldDefinition/FieldSelect.vue
  src/store/modules/ADempiere/dictionary/window/getters.js
  src/store/modules/ADempiere/lookupManager.js
  src/utils/ADempiere/dictionary/browser.js
  src/utils/ADempiere/dictionary/process.js
Labels: bug, enhancement, (PRC) Processes

#1525 Fix: Support Default Value WIndows and Update Record (Transcoding)
  src/api/ADempiere/field/binary.js
  src/api/ADempiere/field/location.js
  src/components/ADempiere/ContainerOptions/LockRecord/index.vue
  src/store/modules/ADempiere/defaultValueManager.js
  src/store/modules/ADempiere/languageManager.js
  src/store/modules/ADempiere/windowManager.js
  src/utils/ADempiere/dictionary/browser.js
  src/utils/ADempiere/dictionary/process.js
Labels: bug, enhancement, (WIN) Windows

#1526 fix: (Transcoding) Report options.
  src/api/ADempiere/report.js
  src/api/ADempiere/reportManagement/index.ts
  src/components/ADempiere/Form/VFileImport/SelectFile/selectResource.vue
  src/components/ADempiere/ReportManager/Setup/optionsReport.vue
  src/components/ADempiere/ReportManager/Setup/optionsReportViewer.vue
  src/store/modules/ADempiere/dictionary/report/actions.js
  src/store/modules/ADempiere/reportManager.js
Labels: bug, (RPT) Reports, (CIO) Code Improvement or Optimization

#1527 Feat: Add Export Option
  src/components/ADempiere/Form/VPOS/Collection/index.vue
  src/components/ADempiere/Form/VPOS/Options/CashSummaryMovements/index.vue
Labels: bug, enhancement, (POS) Point Of Sales

#1528 Fix: Error Show Message
  src/store/modules/ADempiere/pointOfSales/returnProduct.js
Labels: bug, (POS) Point Of Sales

#1531 fix: Process/Report footer buttons.
  src/layout/components/AppMain.vue
  src/layout/index.vue
  src/views/dashboard/admin/index.vue
Labels: bug, (PRC) Processes, (RPT) Reports

#1533 feat: (Transcoding) Load forms.
  src/api/ADempiere/dictionary/form.js
  src/api/ADempiere/dictionary/index.ts
  src/api/ADempiere/logs/tabInfo/windowAttachment.ts
  src/layout/components/Navbar.vue
  src/router/modules/ADempiere/staticRoutes.js
  src/store/modules/ADempiere/formDefinition.js
  src/utils/ADempiere/apiConverts/dictionary.js
  src/utils/ADempiere/dictionary/form/index.js
  src/utils/ADempiere/valueUtils.js
  src/views/ADempiere/Form/index.vue
  src/views/ADempiere/Process/index.vue
Labels: enhancement, (FRM) Form, (CIO) Code Improvement or Optimization

#1532 feat: (Transcoding) Support Form Service Point of Sales
  src/api/ADempiere/form/VPOS/index.js
  src/components/ADempiere/Form/VPOS2/FooterOrder/ButtonGroupOptions.vue
  src/components/ADempiere/Form/VPOS2/FooterOrder/InfoOrder.vue
  src/components/ADempiere/Form/VPOS2/FooterOrder/OptionsList.vue
  src/components/ADempiere/Form/VPOS2/FooterOrder/index.vue
  src/components/ADempiere/Form/VPOS2/HeaderOrder/ActionsOrder/index.vue
  src/components/ADempiere/Form/VPOS2/HeaderOrder/Customer/ListCostumer.vue
  src/components/ADempiere/Form/VPOS2/HeaderOrder/Customer/NewCustomer.vue
  src/components/ADempiere/Form/VPOS2/HeaderOrder/Customer/index.vue
  src/components/ADempiere/Form/VPOS2/HeaderOrder/ProductInfo/ProductListTable.vue
  src/components/ADempiere/Form/VPOS2/HeaderOrder/ProductInfo/SearchProduct.vue
  src/components/ADempiere/Form/VPOS2/HeaderOrder/index.vue
  src/components/ADempiere/Form/VPOS2/MainOrder/Lines.ts
  src/components/ADempiere/Form/VPOS2/MainOrder/index.vue
  src/components/ADempiere/Form/VPOS2/index.vue
  src/components/ADempiere/Form/index.vue
  src/components/ADempiere/TabManager/TabPanel/modeDesktop.vue
  src/store/modules/ADempiere/form/VPOS/index.js
  src/store/modules/ADempiere/form/VPOS/lines.js
  src/store/modules/ADempiere/form/VPOS/order.js
  src/store/modules/ADempiere/form/VPOS/productList.js
Labels: enhancement, (POS) Point Of Sales, (CIO) Code Improvement or Optimization

#1534 Feat: Support Line (Transcoding)
  src/components/ADempiere/Form/VPOS2/FooterOrder/InfoOrder.vue
  src/components/ADempiere/Form/VPOS2/HeaderOrder/ProductInfo/SearchProduct.vue
  src/components/ADempiere/Form/VPOS2/MainOrder/index.vue
  src/store/modules/ADempiere/form/VPOS/index.js
  src/store/modules/ADempiere/form/VPOS/lines.js
  src/store/modules/ADempiere/form/VPOS/order.js
  src/utils/ADempiere/dictionary/form/VPOS.js
Labels: enhancement, (FRM) Form, (POS) Point Of Sales, (CIO) Code Improvement or Optimization

#1535 feat: (transcoding) Mail template
  src/api/ADempiere/user-interface/component/index.ts
  src/api/ADempiere/user-interface/component/issue.js
  src/store/modules/ADempiere/form/issues.js
  src/views/ADempiere/Form/index.vue
Labels: enhancement, (FRM) Form, (CIO) Code Improvement or Optimization

#1539 Feat: Support POS Update Orders (Transcoding)
  src/api/ADempiere/form/VPOS/index.js
  src/components/ADempiere/Form/VPOS2/FooterOrder/ButtonGroupOptions.vue
  src/components/ADempiere/Form/VPOS2/FooterOrder/InfoOrder.vue
  src/components/ADempiere/Form/VPOS2/FooterOrder/OptionsList.vue
  src/components/ADempiere/Form/VPOS2/HeaderOrder/ActionsOrder/ListOrders.vue
  src/components/ADempiere/Form/VPOS2/HeaderOrder/ActionsOrder/index.vue
  src/components/ADempiere/Form/VPOS2/HeaderOrder/Customer/ListCostumer.vue
  src/components/ADempiere/Form/VPOS2/HeaderOrder/Customer/index.vue
  src/components/ADempiere/Form/VPOS2/HeaderOrder/ProductInfo/ProductListTable.vue
  src/components/ADempiere/Form/VPOS2/HeaderOrder/ProductInfo/SearchProduct.vue
  src/components/ADempiere/Form/VPOS2/HeaderOrder/index.vue
  src/components/ADempiere/Form/VPOS2/MainOrder/Lines.ts
  src/components/ADempiere/Form/VPOS2/MainOrder/index.vue
  src/store/modules/ADempiere/form/VPOS/customer.js
  src/store/modules/ADempiere/form/VPOS/index.js
  src/store/modules/ADempiere/form/VPOS/order.js
  src/utils/ADempiere/dictionary/form/VPOS.js
Labels: enhancement, (FRM) Form, (POS) Point Of Sales, (CIO) Code Improvement or Optimization

#1540 feat: (Transcoding) `Import File Loader` form.
  src/api/ADempiere/form/VFileImport.js
  src/components/ADempiere/Form/VFileImport/index2.vue
  src/components/ADempiere/Form/VFileImport/selectTable.vue
  src/components/ADempiere/FormDefinition/VFileImport/SelectFile/importFormatFields.vue
  src/components/ADempiere/FormDefinition/VFileImport/SelectFile/index.vue
  src/components/ADempiere/FormDefinition/VFileImport/SelectFile/selectResource.vue
  src/components/ADempiere/FormDefinition/VFileImport/SelectFile/tableRecords.vue
  src/components/ADempiere/FormDefinition/VFileImport/SelectTable/charsetsList.vue
  src/components/ADempiere/FormDefinition/VFileImport/SelectTable/importFormatsList.vue
  src/components/ADempiere/FormDefinition/VFileImport/SelectTable/index.vue
  src/components/ADempiere/FormDefinition/VFileImport/index.vue
  src/components/ADempiere/FormDefinition/VFileImport/saveProcess.vue
  src/components/ADempiere/FormDefinition/index.vue
  src/store/modules/ADempiere/form/VFileImport.js
Labels: enhancement, (FRM) Form, (CIO) Code Improvement or Optimization

#1541 Feat: Update Order Line (Transcoding)
  src/api/ADempiere/form/VPOS/index.js
  src/components/ADempiere/Form/VPOS2/FooterOrder/InfoOrder.vue
  src/components/ADempiere/Form/VPOS2/MainOrder/OptionLine/editLine/fieldAmount.vue
  src/components/ADempiere/Form/VPOS2/MainOrder/OptionLine/editLine/index.vue
  src/components/ADempiere/Form/VPOS2/MainOrder/OptionLine/index.vue
  src/components/ADempiere/Form/VPOS2/MainOrder/OptionLine/infoLine.vue
  src/components/ADempiere/Form/VPOS2/MainOrder/index.vue
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/es/index.js
  src/store/modules/ADempiere/form/VPOS/lines.js
  src/utils/ADempiere/dictionary/form/VPOS.js
Labels: bug, enhancement, (POS) Point Of Sales, (UX) User Experience

#1542 feat: (Transcoding) Import File Loader.
  src/api/ADempiere/form/VFileImport.js
  src/components/ADempiere/FormDefinition/VFileImport/SelectFile/importFormatFields.vue
  src/components/ADempiere/FormDefinition/VFileImport/SelectFile/index.vue
  src/components/ADempiere/FormDefinition/VFileImport/SelectFile/selectResource.vue
  src/components/ADempiere/FormDefinition/VFileImport/SelectTable/charsetsList.vue
  src/components/ADempiere/FormDefinition/VFileImport/SelectTable/importFormatsList.vue
  src/components/ADempiere/FormDefinition/VFileImport/SelectTable/index.vue
  src/components/ADempiere/FormDefinition/VFileImport/index.vue
  src/components/ADempiere/FormDefinition/VFileImport/saveProcess.vue
  src/components/ADempiere/PanelInfo/Component/AttachmentManager/modeDesktop.vue
  src/components/ADempiere/PanelInfo/Component/AttachmentManager/modeMobile.vue
  src/components/ADempiere/PanelInfo/Component/AttachmentManager/uploadResource.vue
  src/store/modules/ADempiere/attachmentManager.js
  src/store/modules/ADempiere/form/VFileImport.js
  src/utils/ADempiere/dictionary/window.js
Labels: enhancement, (FRM) Form, (CIO) Code Improvement or Optimization

#1543 feat: (Transcoding) `Import File Loader` process.
  src/api/ADempiere/form/VFileImport.js
  src/components/ADempiere/FormDefinition/VFileImport/SelectFile/importFormatFields.vue
  src/components/ADempiere/FormDefinition/VFileImport/SelectFile/index.vue
  src/components/ADempiere/FormDefinition/VFileImport/SelectFile/tableRecords.vue
  src/components/ADempiere/FormDefinition/VFileImport/SelectTable/index.vue
  src/components/ADempiere/FormDefinition/VFileImport/index.vue
  src/components/ADempiere/FormDefinition/VFileImport/saveProcess.vue
  src/store/modules/ADempiere/form/VFileImport.js
Labels: enhancement, (FRM) Form, (CIO) Code Improvement or Optimization

#1545 Feat: Support Convert Rate (Transcoding)
  src/api/ADempiere/form/VPOS/index.js
  src/components/ADempiere/Form/VPOS2/Collection/Charge/Field/currencies.vue
  src/components/ADempiere/Form/VPOS2/Collection/InfoCollection.vue
  src/components/ADempiere/Form/VPOS2/Collection/Payments/CardPayments.vue
  src/components/ADempiere/Form/VPOS2/FooterOrder/ButtonGroupOptions.vue
  src/components/ADempiere/Form/VPOS2/HeaderOrder/ActionsOrder/ListOrders.vue
  src/store/modules/ADempiere/form/VPOS/collection.js
  src/utils/ADempiere/dictionary/form/VPOS.js
Labels: enhancement, (POS) Point Of Sales, (CIO) Code Improvement or Optimization

#1547 feat: (Transcoding) Load Lookups.
  src/api/ADempiere/dictionary/field.ts
  src/api/ADempiere/userInterface/lookups.ts
  src/api/ADempiere/window.js
  src/components/ADempiere/Form/VPOS2/HeaderOrder/Customer/NewCustomer.vue
  src/store/modules/ADempiere/lookupManager.js
  src/utils/ADempiere/dictionary/window.js
  src/utils/ADempiere/lookups.ts
Labels: enhancement, (REC) Records, (ULP) UI Lookups, (CIO) Code Improvement or Optimization

#1548 Feat: Support Process Order (Transcoding)
  src/api/ADempiere/form/VPOS/index.js
  src/components/ADempiere/Form/VPOS2/Collection/ButtonGroupOptions.vue
  src/components/ADempiere/Form/VPOS2/Collection/Payments/CardPayments.vue
  src/components/ADempiere/Form/VPOS2/DialogInfo/index.vue
  src/components/ADempiere/Form/VPOS2/DialogInfo/infoOrder.vue
  src/components/ADempiere/Form/VPOS2/FooterOrder/InfoOrder.vue
  src/components/ADempiere/Form/VPOS2/HeaderOrder/index.vue
  src/components/ADempiere/Form/VPOS2/index.vue
  src/store/modules/ADempiere/form/VPOS/collection.js
  src/store/modules/ADempiere/form/VPOS/dialogInfo.js
Labels: enhancement, (FRM) Form, (POS) Point Of Sales, (CIO) Code Improvement or Optimization

#1549 feat: (Transcoding) `Payment Allocation` form.
  src/api/ADempiere/form/VAllocation.js
  src/components/ADempiere/FormDefinition/VAllocation/components/InvoceTable.vue
  src/components/ADempiere/FormDefinition/VAllocation/components/Payments.vue
  src/components/ADempiere/FormDefinition/VAllocation/components/PaymentsTable.vue
  src/components/ADempiere/FormDefinition/VAllocation/components/SearchCriteria.vue
  src/components/ADempiere/FormDefinition/VAllocation/components/Summary.vue
  src/components/ADempiere/FormDefinition/VAllocation/components/headersInvoice.js
  src/components/ADempiere/FormDefinition/VAllocation/components/headersPayments.js
  src/components/ADempiere/FormDefinition/VAllocation/index.vue
  src/components/ADempiere/FormDefinition/index.vue
Labels: enhancement, (FRM) Form, (CIO) Code Improvement or Optimization

#1550 Feat: Support Display Field Payment (transcoding)
  src/api/ADempiere/form/VPOS/index.js
  src/components/ADempiere/Form/VPOS2/Collection/ButtonGroupOptions.vue
  src/components/ADempiere/Form/VPOS2/Collection/Charge/Field/bank.vue
  src/components/ADempiere/Form/VPOS2/Collection/Charge/Field/banksAccounts.vue
  src/components/ADempiere/Form/VPOS2/Collection/Charge/Field/fieldSelect.vue
  src/components/ADempiere/Form/VPOS2/Collection/Charge/Field/issuingBank.vue
  src/components/ADempiere/Form/VPOS2/Collection/Charge/Field/recipientBank.vue
  src/components/ADempiere/Form/VPOS2/Collection/Charge/index.vue
  src/components/ADempiere/Form/VPOS2/DialogInfo/index.vue
  src/components/ADempiere/Form/VPOS2/FooterOrder/ButtonGroupOptions.vue
  src/lang/ADempiere/en/form/pointOfSales.js
  src/lang/ADempiere/es/form/pointOfSales.js
  src/store/modules/ADempiere/form/VPOS/collection.js
  src/store/modules/ADempiere/form/VPOS/dialogInfo.js
  src/store/modules/ADempiere/form/VPOS/fieldsCollections.js
  src/store/modules/ADempiere/form/VPOS/index.js
  src/store/modules/ADempiere/form/VPOS/lines.js
  src/store/modules/ADempiere/form/VPOS/order.js
  src/utils/ADempiere/dictionary/form/VPOS.js
Labels: (FRM) Form, (POS) Point Of Sales, (CIO) Code Improvement or Optimization

#1551 feat: (Transcoding) `Payment Allocation` form.
  src/api/ADempiere/form/VAllocation.js
  src/components/ADempiere/FormDefinition/VAllocation/components/InvoceTable.vue
  src/components/ADempiere/FormDefinition/VAllocation/components/Payments.vue
  src/components/ADempiere/FormDefinition/VAllocation/components/PaymentsTable.vue
  src/components/ADempiere/FormDefinition/VAllocation/index.vue
  src/store/modules/ADempiere/form/VAllocation.js
  src/utils/ADempiere/formatValue/numberFormat.js
Labels: enhancement, (FRM) Form, (CIO) Code Improvement or Optimization

#1553 Feat: Support Validate Pin (transcoding)
  src/api/ADempiere/form/VPOS/index.js
  src/components/ADempiere/Form/VPOS2/Collection/ButtonGroupOptions.vue
  src/components/ADempiere/Form/VPOS2/DialogInfo/index.vue
  src/components/ADempiere/Form/VPOS2/DialogInfo/openBalance.vue
  src/components/ADempiere/Form/VPOS2/DialogInfo/pin.vue
  src/components/ADempiere/Form/VPOS2/index.vue
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/es/index.js
  src/store/modules/ADempiere/form/VPOS/dialogInfo.js
  src/store/modules/ADempiere/form/VPOS/fieldsCollections.js
Labels: enhancement, (FRM) Form, (POS) Point Of Sales, (CIO) Code Improvement or Optimization

#1555 Feat: Refund Payment (Transcoding)
  src/components/ADempiere/Form/VPOS2/Collection/ButtonGroupOptions.vue
  src/components/ADempiere/Form/VPOS2/Collection/Payments/index.vue
  src/components/ADempiere/Form/VPOS2/Collection/Refund/index.vue
  src/components/ADempiere/Form/VPOS2/DialogInfo/openBalance.vue
  src/components/ADempiere/Form/VPOS2/DialogInfo/overdrawnInvoice.vue
  src/components/ADempiere/Form/VPOS2/index.vue
  src/store/modules/ADempiere/form/VPOS/collection.js
  src/store/modules/ADempiere/form/VPOS/fieldsCollections.js
  src/utils/ADempiere/dictionary/form/VPOS.js
Labels: enhancement, (FRM) Form, (POS) Point Of Sales, (CIO) Code Improvement or Optimization

#1556 feat: (Transcoding) List chat entries.
  src/api/ADempiere/logs/tabInfo/chatsEntries.ts
  src/api/ADempiere/window.js
  src/components/ADempiere/TabManager/index.vue
Labels: enhancement, (WIN) Windows, (CIO) Code Improvement or Optimization

#1557 feat: (Transcoding) Support to callout.
  src/api/ADempiere/userInterface/window.ts
  src/api/ADempiere/window.js
  src/store/modules/ADempiere/calloutManager.js
  src/store/modules/ADempiere/data/actions.js
  src/store/modules/ADempiere/persistence.js
  src/utils/ADempiere/formatValue/iterableFormat.js
Labels: enhancement, (WIN) Windows, (CIO) Code Improvement or Optimization

#1558 fix: (Transcoding) Callout with comma decimal.
  src/store/modules/ADempiere/calloutManager.js
Labels: bug, (WIN) Windows, (CIO) Code Improvement or Optimization

#1559 Feat: Support Allowed to Refund (Transcoding)
  src/components/ADempiere/Form/VPOS2/Collection/Refund/Field/accountNo.vue
  src/components/ADempiere/Form/VPOS2/Collection/Refund/Field/bank.vue
  src/components/ADempiere/Form/VPOS2/Collection/Refund/Field/bankAccountType.vue
  src/components/ADempiere/Form/VPOS2/Collection/Refund/Field/banksAccounts.vue
  src/components/ADempiere/Form/VPOS2/Collection/Refund/Field/creditMemo.vue
  src/components/ADempiere/Form/VPOS2/Collection/Refund/Field/currencies.vue
  src/components/ADempiere/Form/VPOS2/Collection/Refund/Field/date.vue
  src/components/ADempiere/Form/VPOS2/Collection/Refund/Field/description.vue
  src/components/ADempiere/Form/VPOS2/Collection/Refund/Field/fieldSelect.vue
  src/components/ADempiere/Form/VPOS2/Collection/Refund/Field/issuingBank.vue
  src/components/ADempiere/Form/VPOS2/Collection/Refund/Field/paymentMethods.vue
  src/components/ADempiere/Form/VPOS2/Collection/Refund/Field/phone.vue
  src/components/ADempiere/Form/VPOS2/Collection/Refund/Field/recipientBank.vue
  src/components/ADempiere/Form/VPOS2/Collection/Refund/Field/referenceNo.vue
  src/components/ADempiere/Form/VPOS2/Collection/Refund/Field/value.vue
  src/components/ADempiere/Form/VPOS2/Collection/Refund/index.vue
  src/components/ADempiere/Form/VPOS2/DialogInfo/overdrawnInvoice.vue
  src/lang/ADempiere/en/form/pointOfSales.js
  src/lang/ADempiere/es/form/pointOfSales.js
  src/store/modules/ADempiere/form/VPOS/fieldsCollections.js
Labels: (FRM) Form, (POS) Point Of Sales, (CIO) Code Improvement or Optimization

#1562 fix: (Transcoding) Load records on tab childs.
  src/api/ADempiere/userInterface/entities.ts
  src/components/ADempiere/TabManager/TabPanel/modeDesktop.vue
  src/components/ADempiere/TabManager/convenienceButtons/RefreshRecordButton.vue
  src/components/ADempiere/TabManager/convenienceButtons/index.vue
  src/store/modules/ADempiere/windowManager.js
  src/utils/ADempiere/contextUtils/contextAttributes.js
  src/utils/ADempiere/dictionary/window.js
Labels: bug, (WIN) Windows, (REC) Records

#1563 Feat: Options Sales Orders (Transcoding)
  src/api/ADempiere/form/VPOS/index.js
  src/components/ADempiere/Form/VPOS2/Options/Shipments/index.vue
  src/components/ADempiere/Form/VPOS2/Options/index.vue
  src/components/ADempiere/Form/VPOS2/Options/salesOrder.vue
  src/components/ADempiere/Form/VPOS2/index.vue
  src/store/modules/ADempiere/form/VPOS/collection.js
  src/store/modules/ADempiere/form/VPOS/options.js
  src/store/modules/ADempiere/form/VPOS/order.js
  src/store/modules/ADempiere/pointOfSales/campaigns.js
Labels: enhancement, (FRM) Form, (POS) Point Of Sales, (CIO) Code Improvement or Optimization

#1564 feat: Deploy with sub path (public path to assets).
  .env.development
  .env.production
  README.es.md
  README.md
  build/production-alpine.Dockerfile
  build/production.Dockerfile
  build/start.sh
  config/default.json
  public/index.html
  vue.config.js
Labels: enhancement, (CI/CD) Continuous Integration/Continous Delivery, (CIO) Code Improvement or Optimization

#1565 fix: Process/Report parameter send `IsInfoOnly`.
  src/store/modules/ADempiere/dictionary/process/getters.js
  src/store/modules/ADempiere/dictionary/report/getters.js
Labels: bug, (PRC) Processes, (RPT) Reports

#1566 fix: (Transcoding) Deploy with `API_URL`.
  build/start.sh
Labels: bug, (CI/CD) Continuous Integration/Continous Delivery, (CIO) Code Improvement or Optimization

#1567 Feature/feat support confirm shipment transcoding
  src/api/ADempiere/form/VPOS/index.js
  src/components/ADempiere/Form/VPOS2/DialogInfo/index.vue
  src/components/ADempiere/Form/VPOS2/Options/Shipments/index.vue
  src/components/ADempiere/Form/VPOS2/Options/Shipments/info.vue
  src/components/ADempiere/Form/VPOS2/Options/salesOrder.vue
  src/store/modules/ADempiere/form/VPOS/options.js
  src/store/modules/ADempiere/form/VPOS/order.js
Labels: enhancement, question, (FRM) Form, (POS) Point Of Sales, (CIO) Code Improvement or Optimization

#1571 Fix: Support Create Order from RMA (Transcoding)
  src/api/ADempiere/form/VPOS/index.js
  src/components/ADempiere/Form/VPOS2/Options/RMA/index.vue
  src/components/ADempiere/Form/VPOS2/Options/RMA/infoRMA.vue
  src/components/ADempiere/Form/VPOS2/Options/RMA/previwerRMA.vue
  src/components/ADempiere/Form/VPOS2/Options/salesOrder.vue
  src/store/modules/ADempiere/form/VPOS/options.js
  src/store/modules/ADempiere/form/VPOS/order.js
  src/utils/ADempiere/dictionary/form/VPOS.js
Labels: enhancement, (FRM) Form, (POS) Point Of Sales, (CIO) Code Improvement or Optimization

#1572 Feat: Add New Service (transcoding)
  src/api/ADempiere/form/VPOS/index.js
Labels: enhancement, (FRM) Form, (POS) Point Of Sales, (CIO) Code Improvement or Optimization

#1573 feat: (Transcoding) Document Statutes/Actions.
  src/api/ADempiere/window.js
  src/api/ADempiere/workflow.js
  src/components/ADempiere/FieldDefinition/FieldOptions/DocumentStatus/index.vue
  src/components/ADempiere/PanelInfo/Component/workflowLogs/index.vue
  src/components/ADempiere/TabManager/convenienceButtons/documentAction.vue
  src/components/ADempiere/WorkflowManager/WorkflowDiagram.vue
  src/components/ADempiere/WorkflowManager/WorkflowStatusBar.vue
  src/store/modules/ADempiere/documentManager.js
  src/store/modules/ADempiere/form/workflowActivity.js
  src/utils/ADempiere/dictionary/window.js
Labels: enhancement, (FRM) Form, (CIO) Code Improvement or Optimization

#1576 Feat: Discuent All Line (Transcoding)
  src/components/ADempiere/Form/VPOS2/Options/salesOrder.vue
Labels: enhancement, (FRM) Form, (POS) Point Of Sales, (CIO) Code Improvement or Optimization

#1575 Feat: Support New Order From RMA
  src/components/ADempiere/Form/VPOS2/Options/salesOrder.vue
  src/store/modules/ADempiere/form/VPOS/lines.js
Labels: enhancement, (FRM) Form, (POS) Point Of Sales, (CIO) Code Improvement or Optimization

#1578 fix: (Transcoding) Set resource reference.
  src/api/ADempiere/logs/tabInfo/windowAttachment.ts
  src/components/ADempiere/PanelInfo/Component/AttachmentManager/uploadResource.vue
Labels: enhancement, (CIO) Code Improvement or Optimization

#1574 feat: (Transcoding) Bank Statement Match form.
  src/api/ADempiere/form/VBankStatementMatch.ts
  src/components/ADempiere/FormDefinition/VBankStatementMatch/AutomaticMatch.vue
  src/components/ADempiere/FormDefinition/VBankStatementMatch/ManualMatch/currentPayments.vue
  src/components/ADempiere/FormDefinition/VBankStatementMatch/ManualMatch/importedPayments.vue
  src/components/ADempiere/FormDefinition/VBankStatementMatch/ManualMatch/index.vue
  src/components/ADempiere/FormDefinition/VBankStatementMatch/SaveData/ResultTable.vue
  src/components/ADempiere/FormDefinition/VBankStatementMatch/SaveData/bankStatementInfo.vue
  src/components/ADempiere/FormDefinition/VBankStatementMatch/SaveData/index.vue
  src/components/ADempiere/FormDefinition/VBankStatementMatch/SearchCriteria/bankAccount.vue
  src/components/ADempiere/FormDefinition/VBankStatementMatch/SearchCriteria/bankAccountsList.vue
  src/components/ADempiere/FormDefinition/VBankStatementMatch/SearchCriteria/bankStatement.vue
  src/components/ADempiere/FormDefinition/VBankStatementMatch/SearchCriteria/businessPartnersList.vue
  src/components/ADempiere/FormDefinition/VBankStatementMatch/SearchCriteria/index.vue
  src/components/ADempiere/FormDefinition/VBankStatementMatch/SearchCriteria/searchMode.vue
  src/components/ADempiere/FormDefinition/VBankStatementMatch/containerManagerFrom.ts
  src/components/ADempiere/FormDefinition/VBankStatementMatch/index.vue
  src/components/ADempiere/FormDefinition/index.vue
  src/store/modules/ADempiere/form/VBankStatementMatch.js
Labels: enhancement, (FRM) Form, (CIO) Code Improvement or Optimization

#1579 Feat: Support Cash Open (transcoding)
  src/api/ADempiere/form/VPOS/index.js
  src/components/ADempiere/Form/VPOS2/Collection/Payments/CardPayments.vue
  src/components/ADempiere/Form/VPOS2/FooterOrder/ButtonGroupOptions.vue
  src/components/ADempiere/Form/VPOS2/Options/cashManagement/cashDetailClosing.vue
  src/components/ADempiere/Form/VPOS2/Options/cashManagement/cashOpening/fields/cashBank.vue
  src/components/ADempiere/Form/VPOS2/Options/cashManagement/cashOpening/fields/collectionAgent.vue
  src/components/ADempiere/Form/VPOS2/Options/cashManagement/cashOpening/fields/currency.vue
  src/components/ADempiere/Form/VPOS2/Options/cashManagement/cashOpening/fields/paymentMethods.vue
  src/components/ADempiere/Form/VPOS2/Options/cashManagement/cashOpening/index.vue
  src/components/ADempiere/Form/VPOS2/Options/cashManagement/cashOpening/info.vue
  src/components/ADempiere/Form/VPOS2/Options/cashManagement/cashOpening/panel.vue
  src/lang/ADempiere/en/form/pointOfSales.js
  src/lang/ADempiere/es/form/pointOfSales.js
  src/store/modules/ADempiere/form/VPOS/collection.js
  src/store/modules/ADempiere/form/VPOS/index.js
  src/store/modules/ADempiere/form/VPOS/options.js
  src/store/modules/ADempiere/form/VPOS/options/cashManagement/cashOpen.js
Labels: (FRM) Form, (POS) Point Of Sales, (CIO) Code Improvement or Optimization

#1581 fix: Currency Rate `Currency` clean with default value.
  src/components/ADempiere/PanelDefinition/StandardPanel.vue
  src/store/modules/ADempiere/persistence.js
  src/utils/ADempiere/dictionary/window.js
  src/utils/ADempiere/formatValue/numberFormat.js
Labels: bug, (WIN) Windows, (REC) Records
