Repository solop-develop/frontend-core, pull requests merged in 2023-07, with the labels that each got.

#1135 fix: Display logic change `isShowedFromUser`.
  src/store/modules/ADempiere/dictionary/browser/actions.js
  src/store/modules/ADempiere/dictionary/process/actions.js
  src/store/modules/ADempiere/dictionary/report/actions.js
  src/store/modules/ADempiere/dictionary/window/actions.js
Labels: bug, (WIN) Windows, (ULP) UI Lookups, (UX) User Experience

#1137 fix: Document Actions/Statuses show error message.
  src/store/modules/ADempiere/documentManager.js
Labels: bug, (WFL) Workflows, (WIN) Windows, (UX) User Experience

#1140 feat: Update some dependencies minor version.
  package.json
  yarn.lock
Labels: enhancement, (CI/CD) Continuous Integration/Continous Delivery, (ULB) Update Library

#1141 Fix: Correcting Alignment of Filter fields and action menu
  src/views/ADempiere/Browser/index.vue
  src/views/ADempiere/Process/index.vue
Labels: bug, (UX) User Experience

#1174 fix: Parent column reaonly when is new record.
  src/utils/ADempiere/dictionary/window.js
Labels: bug, (WIN) Windows, (REC) Records, (SE) Security

#1176 fix: Access tab without fields on minimalist view.
  src/utils/ADempiere/dictionary/window.js
Labels: bug, (WIN) Windows, (UX) User Experience

#1184 Fix: V File Import
  src/api/ADempiere/form/VFileImport.js
  src/icons/svg/account-balance.svg
  src/icons/svg/accounting-note.svg
  src/icons/svg/agreement.svg
  src/icons/svg/atributo.svg
  src/icons/svg/attendance-record.svg
  src/icons/svg/box.svg
  src/icons/svg/budget.svg
  src/icons/svg/conversion.svg
  src/icons/svg/employe.svg
  src/icons/svg/employee.svg
  src/icons/svg/forecast.svg
  src/icons/svg/import-movement.svg
  src/icons/svg/inventory.svg
  src/icons/svg/local-shipping.svg
  src/icons/svg/payments.svg
  src/icons/svg/price_list.svg
  src/icons/svg/product-attribute.svg
  src/icons/svg/product-planning.svg
  src/icons/svg/product.svg
  src/icons/svg/project.svg
  src/icons/svg/workflow.svg
  src/layout/index.vue
  src/store/modules/ADempiere/form/VFileImport.js
Labels: enhancement, (FRM) Form

#1182 Fix Payment Assignment (Maintain Selection)
  src/store/modules/ADempiere/form/VAllocation.js
Labels: bug, (FRM) Form

#1186 Feat: Add Translation VFileImport
  src/api/ADempiere/form/VFileImport.js
  src/lang/ADempiere/en/form/VFileImport.js
  src/lang/ADempiere/en/form/index.js
  src/lang/ADempiere/es/form/VFileImport.js
  src/lang/ADempiere/es/form/index.js
Labels: enhancement, (FRM) Form

#1187 Feat: add New Parameters
  src/api/ADempiere/form/VFileImport.js
  src/store/modules/ADempiere/form/VFileImport.js
Labels: enhancement, (FRM) Form

#1196 Fix: Task Manager
  src/lang/ADempiere/en/form/tasks.js
  src/lang/ADempiere/es/form/tasks.js
  src/store/modules/user.js
  src/utils/ADempiere/formatValue/dateFormat.js
Labels: bug, (FRM) Form, (UX) User Experience

#1203 fix: Error with isSameSize method when any array is undefined.
  src/utils/ADempiere/formatValue/iterableFormat.js
Labels: bug, (CIO) Code Improvement or Optimization

#1207 fix: Report Output without records.
  src/api/ADempiere/process.js
  src/api/ADempiere/report.js
  src/store/modules/ADempiere/reportManager.js
  src/views/ADempiere/Report/index.vue
Labels: bug, (RPT) Reports, (REC) Records

#1212 Fix: Adjust Dimensions of Windows
  src/layout/components/AppMain.vue
  src/layout/index.vue
  src/views/ADempiere/Window/index.vue
Labels: bug, (WIN) Windows, (UX) User Experience

#1213 Feat: add Line Progress
  src/utils/ADempiere/dictionary/window.js
Labels: enhancement, (WIN) Windows, (REC) Records

#1234 Fix: Add Scroll in Control Panel
  src/layout/index.vue
Labels: bug, dashboard

#1235 Fix: Field name when Closed Windows
  src/layout/components/TagsView/index.vue
Labels: enhancement, (WIN) Windows, (REC) Records, (UX) User Experience

#1240 Fix: echarts
  package.json
  yarn.lock
Labels: bug, (ULB) Update Library, dashboard

#1244 Feat: Support Show company image
  src/layout/components/Navbar.vue
  src/layout/components/Sidebar/Logo.vue
  src/views/ADempiere/Window/DocumentWindow.vue
  src/views/ADempiere/Window/Finances.vue
  src/views/ADempiere/Window/GeneralLedger.vue
  src/views/ADempiere/Window/MaterialsManagement.vue
  src/views/ADempiere/Window/MultiTabWindow.vue
  src/views/ADempiere/Window/index.vue
  src/views/profile/components/UserCard.vue
  src/views/profile/index.vue
Labels: enhancement, (SE) Security, (UX) User Experience

#1246 fix: Image profile size.
  src/layout/components/Sidebar/Logo.vue
  src/views/profile/components/UserCard.vue
Labels: enhancement, (UX) User Experience

#1252 feat: `Field Image` info file.
  src/api/ADempiere/user-interface/component/resource.js
Labels: enhancement, (ULP) UI Lookups, (UX) User Experience
