Repository solop-develop/frontend-core, pull requests merged in 2023-09, with the labels that each got.

#1413 Feat POS Return RMA
  src/api/ADempiere/form/ReturnRMA.js
  src/api/ADempiere/form/point-of-sales.js
  src/lang/ADempiere/en/index.js
  src/store/modules/ADempiere/pointOfSales/returnProduct.js
Labels: enhancement, (FRM) Form, (POS) Point Of Sales

#1416 POS Support Return Product
  src/api/ADempiere/form/ReturnRMA.js
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/es/index.js
  src/store/modules/ADempiere/pointOfSales/returnProduct.js
Labels: enhancement, (FRM) Form, (POS) Point Of Sales

#1417 feat: POS Add Traslations
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/es/index.js
Labels: bug, (FRM) Form, (POS) Point Of Sales

#1418 feat: POS Edit Quiantity in Return Product
  src/api/ADempiere/form/ReturnRMA.js
  src/api/ADempiere/form/point-of-sales.js
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/es/index.js
  src/store/modules/ADempiere/pointOfSales/returnProduct.js
Labels: enhancement, (FRM) Form, (POS) Point Of Sales

#1419 feat: POS Support Dialog Summary Return Product
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/es/index.js
  src/store/modules/ADempiere/pointOfSales/returnProduct.js
Labels: bug, (FRM) Form, (POS) Point Of Sales

#1420 Support Copy Order
  src/api/ADempiere/form/point-of-sales.js
Labels: enhancement, (FRM) Form, (POS) Point Of Sales

#1422 feat: Add tab `isSingleRow`.
  src/utils/ADempiere/dictionary/window.js
Labels: enhancement, (WIN) Windows

#1421 perf: Remove old Test view components.
  src/router/modules/ADempiere/menu.js
  src/router/modules/ADempiere/testRoutes.js
  src/views/ADempiere/Test/MultiTabWindow/index.vue
  src/views/ADempiere/Test/MultiTabWindow/multiTabWindow.json
  src/views/ADempiere/Test/Process/index.vue
  src/views/ADempiere/Test/SmartBrowser/index.vue
  src/views/ADempiere/Test/Window/index.vue
  src/views/ADempiere/Test/Window/standardWindow.json
  src/views/ADempiere/Test/fieldsList.js
  src/views/ADempiere/Test/index.vue
  src/views/ADempiere/Window/windowLogicComponent.js
Labels: enhancement, (CIO) Code Improvement or Optimization

#1424 Change dashboard columns and add notifications
  src/icons/svg/default-notifications.svg
  src/icons/svg/notifications.svg
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/es/index.js
  src/views/dashboard/admin/components/PanelGroup.vue
  src/views/dashboard/admin/index.vue
  src/views/profile/components/InfoUser.vue
Labels: bug, dashboard, (UX) User Experience

#1425 Fix: overdrawn invoice
  src/api/ADempiere/form/point-of-sales.js
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/es/index.js
Labels: bug, (FRM) Form, (POS) Point Of Sales

#1429 feat: POS Support Create New Order From RMA
  src/api/ADempiere/form/ReturnRMA.js
  src/api/ADempiere/form/point-of-sales.js
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/es/index.js
Labels: enhancement, (FRM) Form, (POS) Point Of Sales

#1431 fix: Context values priority tab.
  src/store/modules/ADempiere/fieldValue.js
Labels: bug, (PRC) Processes, (RPT) Reports, (WIN) Windows

#1434 Fix: Panel Notifications
  src/lang/ADempiere/es/index.js
  src/views/dashboard/admin/components/PanelGroup.vue
  src/views/dashboard/admin/index.vue
  src/views/profile/components/InfoUser.vue
Labels: bug, dashboard, (UX) User Experience

#1441 Feat: Support Authentication
  src/api/ADempiere/open-id/services.js
  src/icons/svg/discord.svg
  src/icons/svg/github.svg
  src/icons/svg/gitlab.svg
  src/icons/svg/google-gmail.svg
  src/icons/svg/google.svg
  src/icons/svg/microsoft.svg
  src/store/modules/user.js
  src/utils/ADempiere/valueUtils.js
  src/views/dashboard/admin/components/PanelGroup.vue
  src/views/login/index.vue
Labels: bug, enhancement, Mobile

#1447 Fix: Add Scroll in Panel Summary
  src/views/ADempiere/Summary/index.vue
Labels: bug, (UX) User Experience

#1446 feat: New Home Page
  src/lang/ADempiere/en/route.js
  src/lang/ADempiere/es/route.js
  src/router/modules/ADempiere/staticRoutes.js
  src/views/ADempiere/Charts/index.vue
  src/views/dashboard/admin/components/PanelGroup.vue
  src/views/dashboard/admin/index.vue
  src/views/profile/components/InfoUser.vue
Labels: bug, enhancement, dashboard, (UX) User Experience

#1448 fix: Login with `OpenID`.
  src/api/ADempiere/open-id/services.js
  src/store/modules/user.js
  src/views/login/index.vue
Labels: bug, (SE) Security

#1449 feature: Change `uuid` to `id` security requests, and `cookie` to `localStoreage`.
  src/api/ADempiere/system-core.js
  src/api/role.js
  src/api/user.js
  src/layout/components/Sidebar/Logo.vue
  src/store/modules/user.js
  src/utils/ADempiere/auth.js
  src/utils/ADempiere/convertResponseValues.js
  src/utils/auth.js
  src/views/login/index.vue
  src/views/profile/components/RolesNavbar.vue
  src/views/profile/components/role.vue
Labels: enhancement, (SE) Security, (CIO) Code Improvement or Optimization

#1450 feat: Change route path.
  src/router/modules/ADempiere/menu.js
  src/store/modules/ADempiere/dictionary/window/actions.js
  src/store/modules/permission.js
Labels: enhancement, (MEN) Menues, (CIO) Code Improvement or Optimization

#1453 fix: Default value on zero tables.
  src/utils/ADempiere/constants/systemColumns.js
  src/utils/ADempiere/valueUtils.js
Labels: bug, (ULP) UI Lookups, (UX) User Experience

#1457 POS: Preview ticket when Print with results.
  src/store/modules/ADempiere/pointOfSales/order/actions.js
  src/views/ADempiere/ReportViewer/index.vue
Labels: enhancement, (RPT) Reports, (FRM) Form, (POS) Point Of Sales

#1458 Feat: Add System Information Tab
  src/api/ADempiere/system-core.js
  src/icons/svg/backend.svg
  src/icons/svg/company.svg
  src/icons/svg/proxy.svg
  src/icons/svg/tag.svg
  src/layout/components/Sidebar/Logo.vue
  src/store/modules/user.js
  src/views/login/index.vue
  src/views/profile/components/InfoUser.vue
  src/views/profile/index.vue
Labels: bug, enhancement, (UX) User Experience

#1461 feat: Change `API_URL` and `image`/`resource` end point.
  README.es.md
  README.md
  build/production-alpine.Dockerfile
  build/production.Dockerfile
  build/start.sh
  config/default.json
  src/utils/ADempiere/resource.js
Labels: enhancement, (CI/CD) Continuous Integration/Continous Delivery, (CIO) Code Improvement or Optimization

#1462 fix: Release without `Frontend-Default-Theme`.
  .github/workflows/publish.yml
  README.es.md
  README.md
  docker-compose.yaml
Labels: bug, (CI/CD) Continuous Integration/Continous Delivery

#1464 Fix: Align Buttons
  src/views/dashboard/admin/index.vue
  src/views/profile/components/InfoUser.vue
  src/views/profile/index.vue
Labels: bug, (UX) User Experience

#1465 fix: Improve information in Workflow Activities
  src/components/ADempiere/Form/WorkflowActivity/index.vue
  src/lang/ADempiere/en/form/workflowActivity.js
  src/lang/ADempiere/es/form/workflowActivity.js
Labels: bug, (WFL) Workflows, (UX) User Experience

#1467 fix: Wotrkflow activities logs scroll.
  src/components/ADempiere/Form/WorkflowActivity/index.vue
  src/layout/index.vue
  src/store/modules/ADempiere/form/workflowActivity.js
Labels: bug, (WFL) Workflows, (FRM) Form, (UX) User Experience

#1469 Sales Representative does not search by text entry
  src/components/ADempiere/Form/Issues/component/Comment.vue
  src/components/ADempiere/PanelInfo/Component/RecordIssues/component/Comment.vue
Labels: bug, (FRM) Form

#1472 Feat: Add Date to Credit Note List
  src/api/ADempiere/form/point-of-sales.js
  src/components/ADempiere/Form/VPOS/Collection/index.vue
  src/store/modules/ADempiere/pointOfSales/creditMemo.js
Labels: bug, enhancement, (POS) Point Of Sales

#1471 Feat: Create the sales order from the RMA and put it on the screen
  src/components/ADempiere/Form/VPOS/Options/ReturnProduct/previwer.vue
  src/components/ADempiere/Form/VPOS/Options/index.vue
Labels: bug, enhancement, (POS) Point Of Sales

#1470 Fix: Change Sales Representative
  src/components/ADempiere/Form/VPOS/Options/index.vue
  src/components/ADempiere/Form/VPOS/Order/index.vue
Labels: bug, (POS) Point Of Sales

#1473 fix: Warehouse context session.
  src/api/user.js
  src/store/modules/user.js
Labels: bug, (SE) Security

#1479 Fix: Add Menu Scroll
  src/components/ADempiere/ActionMenu/index.vue
  src/components/ADempiere/FilterFields/index.vue
Labels: bug, (WIN) Windows, (UX) User Experience

#1480 fix: Smart Browse search with range query criteria.
  src/store/modules/ADempiere/dictionary/browser/getters.js
Labels: bug, (SB) Smart Browser, (REC) Records

#1481 Fix: Remove Validation in Smart Browser
  src/store/modules/ADempiere/browserManager.js
Labels: bug, (SB) Smart Browser

#1482 fix: Exception on batch entry.
  src/components/ADempiere/DataTable/Components/BatchEntry.vue
Labels: bug, (CIO) Code Improvement or Optimization

#1483 fix: Smart Browse omit query criteria `isInfoOnly`.
  src/store/modules/ADempiere/browserManager.js
  src/store/modules/ADempiere/dictionary/browser/getters.js
Labels: bug, (SB) Smart Browser, (REC) Records

#1484 fix: Context with duplicated columns names.
  src/store/modules/ADempiere/dictionary/window/actions.js
  src/store/modules/ADempiere/panel/actions.js
  src/store/modules/ADempiere/windowManager.js
  src/utils/ADempiere/contextUtils/contextField.js
  src/utils/ADempiere/contextUtils/evaluator.js
  src/utils/ADempiere/dictionary/window.js
  src/utils/ADempiere/index.js
Labels: bug, (SB) Smart Browser, (UX) User Experience

#1485 Feat: Transcoding Security
  config/default.json
  src/api/ADempiere/open-id/services.js
  src/api/ADempiere/security/index.ts
  src/api/user.js
  src/router/modules/ADempiere/menu.js
  src/store/modules/user.js
  src/utils/ADempiere/request.js
  src/utils/request.js
  src/views/login/index.vue
Labels: enhancement, (MEN) Menues, (SE) Security

#1486 feat: Transcoding common
  src/api/ADempiere/common/index.ts
  src/api/ADempiere/dashboard/index.ts
  src/api/ADempiere/dictionary/window.ts
  src/api/ADempiere/form/point-of-sales.js
  src/api/ADempiere/security/index.ts
  src/components/ADempiere/Dashboard/charts/AreaChart.vue
  src/components/ADempiere/Dashboard/charts/BarChart.vue
  src/components/ADempiere/Dashboard/charts/CustomerChart.vue
  src/components/ADempiere/Dashboard/charts/Gauge.vue
  src/components/ADempiere/Dashboard/charts/LineChart.vue
  src/components/ADempiere/Dashboard/charts/PieChart.vue
  src/components/ADempiere/Dashboard/charts/RaddarChart.vue
  src/components/ADempiere/Dashboard/charts/Scatter.vue
  src/components/ADempiere/Dashboard/charts/WaterfallChart.vue
  src/components/ADempiere/Dashboard/docstatus/index.vue
  src/components/ADempiere/Dashboard/userfavorites/index.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/businessPartnerUpdate.vue
  src/components/ADempiere/Form/VPOS/Collection/typeCollection.vue
  src/router/modules/ADempiere/menu.js
  src/store/modules/ADempiere/DocumentsTaks.js
  src/store/modules/ADempiere/businessPartnerPOS.js
  src/store/modules/ADempiere/dashboard.js
  src/store/modules/ADempiere/dictionary/window/actions.js
  src/store/modules/ADempiere/field/businessPartnerInfo.js
  src/store/modules/ADempiere/field/locationAddress.js
  src/store/modules/ADempiere/form/workflowActivity.js
  src/store/modules/ADempiere/pointOfSales/payments/actions.js
  src/store/modules/ADempiere/system.js
  src/store/modules/user.js
  src/utils/request.js
  src/views/ADempiere/Window/index.vue
  src/views/login/index.vue
Labels: enhancement, dashboard, (CIO) Code Improvement or Optimization

#1487 feat: POS Support Document Type
  src/api/ADempiere/form/point-of-sales.js
  src/components/ADempiere/Form/VPOS/Collection/index.vue
  src/components/ADempiere/Form/VPOS/Options/ReturnProduct/index.vue
  src/components/ADempiere/Form/VPOS/Options/ReturnProduct/previwer.vue
  src/components/ADempiere/Form/VPOS/Options/index.vue
Labels: bug, (FRM) Form, (POS) Point Of Sales

#1488 feat: Add `Accouting Viewer` on menu validate by role.
  src/router/modules/ADempiere/menu.js
  src/router/modules/ADempiere/staticRoutes.js
Labels: enhancement, (MEN) Menues, (SE) Security, (FRM) Form

#1494 Feat: Transcoding Process
  src/api/ADempiere/dictionary/index.ts
  src/components/ADempiere/Form/VFileImport/saveProcess.vue
  src/router/modules/ADempiere/menu.js
  src/store/modules/ADempiere/dictionary/browser/actions.js
  src/store/modules/ADempiere/dictionary/process/actions.js
  src/store/modules/ADempiere/dictionary/report/actions.js
  src/store/modules/ADempiere/dictionary/window/actions.js
  src/views/ADempiere/Process/index.vue
Labels: enhancement, (PRC) Processes, (CIO) Code Improvement or Optimization

#1495 Transcoding browser
  src/store/modules/ADempiere/dictionary/browser/actions.js
  src/views/ADempiere/Browser/index.vue
Labels: enhancement, (SB) Smart Browser, (CIO) Code Improvement or Optimization
