Repository solop-develop/frontend-core, pull requests merged in 2023-12, with the labels that each got.

#1684 Feat: Support General Gedger Accounts
  config/default.json
  src/api/ADempiere/field/generalGedger.js
  src/api/ADempiere/generalLedger.js
  src/components/ADempiere/FieldDefinition/FieldAccountingCombination/Fields/SelectAccounting.vue
  src/components/ADempiere/FieldDefinition/FieldAccountingCombination/Fields/TextAccounting.vue
  src/components/ADempiere/FieldDefinition/FieldAccountingCombination/buttonToList.vue
  src/components/ADempiere/FieldDefinition/FieldAccountingCombination/tableQueryCriteria.vue
  src/components/ADempiere/FieldDefinition/FieldAccountingCombination/tableQueryCriteria2.vue
  src/permission.js
  src/store/modules/ADempiere/generalLedger.js
Labels: bug, (WIN) Windows

#1693 Feat: Group List Issues
  src/components/ADempiere/Form/Issues/ListIssues.vue
  src/components/ADempiere/Form/Issues/index.vue
  src/components/ADempiere/Form/Issues/index2.vue
  src/icons/svg/filters.svg
  src/icons/svg/group.svg
  src/icons/svg/not-filters.svg
Labels: enhancement, (UX) User Experience

#1701 Feat: Add Fields Project, Group, Category and Taks Status
  src/api/ADempiere/user-interface/component/issue.js
  src/components/ADempiere/Form/Issues/ListIssues.vue
  src/components/ADempiere/Form/Issues/component/Comment.vue
  src/lang/ADempiere/en/form/issues.js
  src/lang/ADempiere/es/form/issues.js
  src/store/modules/ADempiere/form/issueManagement.js
Labels: bug, enhancement, (FRM) Form, (UX) User Experience

#1703 Feat: Add News Panel to Dashboard
  config/default.json
  src/api/ADempiere/form/notice.js
  src/components/ADempiere/Dashboard/index.vue
  src/components/ADempiere/Dashboard/notices/index.vue
  src/views/dashboard/admin/index.vue
  src/views/profile/components/InfoUser.vue
Labels: enhancement, dashboard, (UX) User Experience

#1704 fix: Window chart and window metrics.
  src/api/ADempiere/dashboard/index.ts
  src/api/ADempiere/dashboard/panelWindows.js
  src/api/ADempiere/logs/tabInfo/windowDashboards.ts
  src/components/ADempiere/PanelInfo/Component/RecordDashboard/chartFilter.vue
  src/components/ADempiere/PanelInfo/Component/RecordDashboard/chartMetrics.vue
  src/components/ADempiere/PanelInfo/Component/RecordDashboard/index.vue
  src/components/ADempiere/TabManager/index.vue
  src/store/modules/ADempiere/panelWindows.js
Labels: bug, (WIN) Windows, dashboard

#1705 feat: User Activities with notice.
  src/views/profile/components/UserActivity/index.vue
Labels: enhancement, (REC) Records, dashboard, (FRM) Form

#1706 fix: Refresh record child tab.
  src/components/ADempiere/TabManager/TabOptions.vue
  src/components/ADempiere/TabManager/convenienceButtons/RefreshRecordButton.vue
Labels: bug, (WIN) Windows, (REC) Records

#1711 Feat: User Activity Notices
  src/lang/ADempiere/en/window.js
  src/lang/ADempiere/es/window.js
  src/views/profile/components/UserActivity/index.vue
Labels: enhancement, (FRM) Form, (UX) User Experience

#1714 fix: Zoom record by field.
  src/components/ADempiere/TabManager/index.vue
  src/store/modules/ADempiere/windowManager.js
Labels: bug, (WIN) Windows, (REC) Records, (ULP) UI Lookups

#1716 fix: Zoom records by references.
  src/api/ADempiere/userInterface/entities.ts
  src/components/ADempiere/PanelInfo/Component/ReferenceRecords/index.vue
Labels: bug, (WIN) Windows, (REC) Records, (UX) User Experience

#1719 fix: Advanced query with date.
  src/store/modules/ADempiere/persistence.js
  src/utils/ADempiere/dictionary/window.js
Labels: bug, (WIN) Windows, (REC) Records

#1715 Fix: Change Style Issues
  src/components/ADempiere/ContainerOptions/ProgressPercentage.vue
  src/components/ADempiere/Form/Issues/ListIssues.vue
  src/components/ADempiere/Form/Issues/component/Comment.vue
  src/components/ADempiere/Form/Issues/index.vue
  src/icons/svg/kanban.svg
  src/lang/ADempiere/es/window.js
Labels: bug, (FRM) Form, (UX) User Experience

#1721 Fix: Notice Component
  src/components/ADempiere/Dashboard/index.vue
  src/components/ADempiere/Dashboard/notices/index.vue
  src/components/ADempiere/Dashboard/notices/itemsNotices.vue
  src/views/profile/components/UserActivity/index.vue
Labels: bug, (UX) User Experience

#1725 fix: Login errors.
  src/api/ADempiere/security/index.ts
  src/layout/components/Navbar.vue
  src/layout/components/ProfilePreview.vue
  src/layout/components/Sidebar/Logo.vue
  src/views/login/index.vue
  src/views/profile/components/RolesNavbar.vue
  src/views/profile/components/UserCard.vue
Labels: bug, (UX) User Experience

#1727 fix: Resource reference info.
  src/api/ADempiere/file-management/attachment.ts
  src/api/ADempiere/file-management/resource-reference.ts
  src/api/ADempiere/user-interface/component/resource.js
  src/components/ADempiere/FieldDefinition/FieldImage.vue
  src/components/ADempiere/PanelInfo/Component/AttachmentManager/attachment.js
  src/components/ADempiere/PanelInfo/Component/AttachmentManager/fileInfo.vue
  src/components/ADempiere/PanelInfo/Component/AttachmentManager/uploadResource.vue
  src/components/ADempiere/TabManager/index.vue
  src/store/modules/ADempiere/attachmentManager.js
Labels: bug, (WIN) Windows, (ULP) UI Lookups

#1729 feat: Update packages to patch versions.
  config/default.json
  package.json
  yarn.lock
Labels: enhancement, (ULB) Update Library

#1732 fix: Add Panel Filter Issues
  src/components/ADempiere/Form/Issues/ListIssues/index.vue
  src/components/ADempiere/Form/Issues/ListIssues/items.vue
  src/components/ADempiere/Form/Issues/component/Comment.vue
  src/components/ADempiere/Form/Issues/index.vue
  src/lang/ADempiere/en/form/issues.js
  src/lang/ADempiere/es/form/issues.js
Labels: enhancement, (FRM) Form

#1734 feat: Support drag and drop `Issues` by statuses.
  src/api/ADempiere/user-interface/component/issue.js
  src/components/ADempiere/Form/Issues/ListIssues/index.vue
  src/components/ADempiere/Form/Issues/ListIssues/items.vue
  src/components/ADempiere/Form/Issues/ListIssues/kanban.vue
  src/components/ADempiere/Form/Issues/component/Comment.vue
  src/store/modules/ADempiere/form/issueManagement.js
Labels: enhancement, (FRM) Form

#1735 fix: SB context by window.
  src/store/modules/ADempiere/browserManager.js
  src/store/modules/ADempiere/dictionary/browser/actions.js
  src/store/modules/ADempiere/dictionary/browser/mutations.js
  src/store/modules/ADempiere/dictionary/report/actions.js
  src/store/modules/ADempiere/panel/actions.js
  src/store/modules/ADempiere/windowManager.js
  src/utils/ADempiere/dictionary/window.js
  src/views/ADempiere/Browser/index.vue
Labels: bug, (SB) Smart Browser, (WIN) Windows

#1736 Fix: #1718 Payment Allocation fom with empty charge
  src/api/ADempiere/form/VAllocation.ts
  src/components/ADempiere/FormDefinition/VAllocation/index.vue
  src/store/modules/ADempiere/form/VAllocation.js
Labels: bug, (FRM) Form

#1737 fix: ASP table window with hidden fields.
  src/components/ADempiere/DataTable/Windows/index.vue
  src/store/modules/ADempiere/dictionary/window/getters.js
Labels: bug, (WIN) Windows, (ULP) UI Lookups, (UX) User Experience

#1739 Fix: Group Empty Status
  src/api/ADempiere/user-interface/component/issue.js
  src/components/ADempiere/Form/Issues/ListIssues/index.vue
  src/components/ADempiere/Form/Issues/ListIssues/items.vue
  src/components/ADempiere/Form/Issues/ListIssues/kanban.vue
  src/components/ADempiere/Form/Issues/component/Comment.vue
  src/components/ADempiere/PanelInfo/Component/RecordIssues/component/Comment.vue
  src/store/modules/ADempiere/form/issueManagement.js
Labels: bug, (FRM) Form, (UX) User Experience

#1740 Feat: Add Fields Business Partner
  src/components/ADempiere/FormDefinition/VAllocation/components/SearchCriteria.vue
  src/store/modules/ADempiere/form/VAllocation.js
Labels: bug, (FRM) Form

#1741 Fix: Doble Scroll en Windows
  src/components/ADempiere/Dashboard/index.vue
  src/components/ADempiere/FileRender/HtmlFile/index.vue
  src/layout/components/AppMain.vue
  src/views/ADempiere/Browser/index.vue
  src/views/ADempiere/Summary/index.vue
  src/views/ADempiere/Window/DocumentWindow.vue
  src/views/ADempiere/Window/index.vue
  src/views/dashboard/admin/index.vue
  src/views/dashboard/index.vue
Labels: (PRC) Processes, (RPT) Reports, (WIN) Windows, dashboard, (UX) User Experience

#1746 fix: Validate myme type on field `Image`.
  src/api/ADempiere/file-management/resource-reference.ts
  src/components/ADempiere/FieldDefinition/FieldImage.vue
  src/utils/ADempiere/resource/image.ts
Labels: bug, (ULP) UI Lookups

#1750 Feat: Zoom in Workflow Activity
  src/components/ADempiere/HeaderNotification/index.vue
  src/views/ADempiere/Window/DocumentWindow.vue
  src/views/profile/components/InfoUser.vue
Labels: bug, (WFL) Workflows, (FRM) Form

#1763 fix: SB Seleccion Values.
  src/api/ADempiere/process.js
  src/store/modules/ADempiere/browserManager.js
  src/store/modules/ADempiere/data/getters.js
Labels: bug, (SB) Smart Browser, (REC) Records

#1762 Fix: Discount Rate Line
  src/api/ADempiere/form/VPOS/index.js
  src/components/ADempiere/Form/VPOS2/HeaderOrder/ProductInfo/ProductListTable.vue
  src/components/ADempiere/Form/VPOS2/HeaderOrder/ProductInfo/SearchProduct.vue
  src/components/ADempiere/Form/VPOS2/MainOrder/OptionLine/editLine/editAmount.vue
  src/components/ADempiere/Form/VPOS2/MainOrder/OptionLine/editLine/editQtyEntered.vue
  src/components/ADempiere/Form/VPOS2/MainOrder/OptionLine/editLine/index.vue
  src/components/ADempiere/Form/VPOS2/MainOrder/index.vue
  src/store/modules/ADempiere/form/VPOS/lines.js
Labels: bug, (FRM) Form, (POS) Point Of Sales

#1757 Feat: Card Portlet Char
  src/components/ADempiere/Dashboard/charts/BarChart.vue
  src/components/ADempiere/Dashboard/charts/CardPortletChart.vue
  src/icons/svg/arrow-down.svg
  src/icons/svg/arrow-up.svg
  src/icons/svg/percent.svg
  src/lang/ADempiere/en/component/dashboard.js
  src/lang/ADempiere/es/component/dashboard.js
  src/utils/ADempiere/dictionary/dashboard.js
  src/views/ADempiere/Charts/index.vue
Labels: enhancement, dashboard, (UX) User Experience

#1769 Feat: Open Product Info
  src/components/ADempiere/Form/ProductInfo/index.vue
  src/components/ADempiere/Form/VPOS2/Options/generalOptions/ProductListTable.vue
  src/layout/components/Sidebar/index.vue
  src/router/modules/ADempiere/staticRoutes.js
Labels: bug, (FRM) Form, (POS) Point Of Sales

#1772 Feat: Add Options (Orders History)
  src/components/ADempiere/Form/VPOS2/HeaderOrder/ActionsOrder/ListOrders.vue
  src/components/ADempiere/Form/VPOS2/Options/OrderHistory.vue
  src/components/ADempiere/Form/VPOS2/Options/salesOrder.vue
  src/store/modules/ADempiere/form/VPOS/options/orderhistory.js
Labels: enhancement, (POS) Point Of Sales

#1764 Fix: Print Ticket and Preview
  src/store/modules/ADempiere/form/VPOS/options.js
  src/store/modules/ADempiere/reportManager.js
  src/views/ADempiere/ReportViewer/index.vue
Labels: bug, (FRM) Form, (POS) Point Of Sales

#1779 Fix: Improve POS view in Transcoding
  src/components/ADempiere/Form/VPOS2/MainOrder/OptionLine/editLine/index.vue
  src/components/ADempiere/Form/VPOS2/MainOrder/OptionLine/index.vue
  src/components/ADempiere/Form/VPOS2/MainOrder/OptionLine/infoLine.vue
  src/components/ADempiere/Form/VPOS2/MainOrder/index.vue
  src/utils/ADempiere/dictionary/form/VPOS.js
Labels: bug, (FRM) Form, (POS) Point Of Sales

#1778 Fix: Void Sales Transaction does not work from Transcoding
  src/components/ADempiere/Form/VPOS2/Options/salesOrder.vue
Labels: bug, (FRM) Form, (POS) Point Of Sales

#1777 Fix: Collection with different amount than order
  src/components/ADempiere/Form/VPOS2/Collection/Charge/index.vue
  src/components/ADempiere/Form/VPOS2/Collection/InfoCollection.vue
  src/components/ADempiere/Form/VPOS2/FooterOrder/ButtonGroupOptions.vue
  src/components/ADempiere/Form/VPOS2/MainOrder/index.vue
  src/store/modules/ADempiere/form/VPOS/fieldsCollections.js
Labels: bug, (FRM) Form, (POS) Point Of Sales

#1776 Fix: Support Cash With Drawal
  src/components/ADempiere/Form/VPOS2/Collection/Payments/CardPayments.vue
  src/components/ADempiere/Form/VPOS2/Options/cashManagement/cashWithdrawal/fields/cashBank.vue
  src/components/ADempiere/Form/VPOS2/Options/cashManagement/cashWithdrawal/fields/collectionAgent.vue
  src/components/ADempiere/Form/VPOS2/Options/cashManagement/cashWithdrawal/fields/currency.vue
  src/components/ADempiere/Form/VPOS2/Options/cashManagement/cashWithdrawal/fields/paymentMethods.vue
  src/components/ADempiere/Form/VPOS2/Options/cashManagement/cashWithdrawal/index.vue
  src/components/ADempiere/Form/VPOS2/Options/cashManagement/cashWithdrawal/info.vue
  src/components/ADempiere/Form/VPOS2/Options/cashManagement/cashWithdrawal/panel.vue
  src/components/ADempiere/Form/VPOS2/Options/cashManagement/index.vue
  src/store/modules/ADempiere/form/VPOS/options/cashManagement/cashwithdrawal.js
Labels: bug, (FRM) Form, (POS) Point Of Sales

#1780 fix: POS Add billing address with copy shipping address.
  src/components/ADempiere/Form/VPOS2/HeaderOrder/Customer/NewCustomer/AddAddress/index.vue
  src/components/ADempiere/Form/VPOS2/HeaderOrder/Customer/NewCustomer/CustomerData.vue
  src/components/ADempiere/Form/VPOS2/HeaderOrder/Customer/NewCustomer/index.vue
Labels: bug, (POS) Point Of Sales

#1781 fix: POS Date Order.
  src/components/ADempiere/Form/VPOS2/FooterOrder/InfoOrder.vue
  src/utils/ADempiere/valueUtils.js
Labels: bug, (POS) Point Of Sales

#1782 Fix: Price Checking
  src/components/ADempiere/Form/PriceChecking/index.vue
  src/components/ADempiere/FormDefinition/index.vue
  src/layout/index.vue
Labels: bug, (FRM) Form, (POS) Point Of Sales

#1786 fix: POS Create customer with endpoint.
  src/api/ADempiere/form/VPOS/customer.js
  src/api/ADempiere/form/VPOS/index.js
  src/api/ADempiere/form/point-of-sales.js
  src/components/ADempiere/Form/VPOS2/HeaderOrder/Customer/index.vue
  src/store/modules/ADempiere/form/VPOS/customer.js
  src/utils/ADempiere/formatValue/dateFormat.js
Labels: bug, (POS) Point Of Sales

#1785 Fix: Reading and Selection of Product at Point of Sale Transcoding
  src/components/ADempiere/Form/VPOS2/HeaderOrder/ProductInfo/SearchProduct.vue
Labels: bug, (FRM) Form, (POS) Point Of Sales

#1787 Fix: Report Output
  src/components/ADempiere/FileRender/PdfFile/index.vue
  src/components/ADempiere/Form/VPOS2/HeaderOrder/Customer/index.vue
  src/store/modules/ADempiere/form/VPOS/options.js
  src/store/modules/ADempiere/reportManager.js
  src/views/ADempiere/ReportViewer/index.vue
Labels: bug, (FRM) Form, (POS) Point Of Sales

#1791 fix: Accouting elements without role access.
  src/api/ADempiere/generalLedger.js
  src/components/ADempiere/FieldDefinition/FieldAccountingCombination/tableQueryCriteria.vue
  src/components/ADempiere/FieldDefinition/FieldAccountingCombination/tableQueryCriteria2.vue
  src/permission.js
  src/store/modules/ADempiere/generalLedger.js
  src/views/ADempiere/ReportViewer/index.vue
Labels: bug, (SE) Security, (FRM) Form

#1792 Fix: Apply Discount To All Lines
  src/components/ADempiere/Form/VPOS2/HeaderOrder/ProductInfo/SearchProduct.vue
  src/components/ADempiere/Form/VPOS2/Options/salesOrder.vue
Labels: bug, (FRM) Form, (POS) Point Of Sales

#1794 Fix: Wrong message
  src/store/modules/ADempiere/form/VPOS/options/cashManagement/cashwithdrawal.js
Labels: bug, (FRM) Form, (POS) Point Of Sales

#1797 Fix: POS When Displaying Currency
  src/components/ADempiere/Form/VPOS2/Collection/Charge/Field/currencies.vue
Labels: bug, (FRM) Form, (POS) Point Of Sales

#1801 Performance When Updating Line
  src/components/ADempiere/Form/VPOS2/HeaderOrder/ProductInfo/ProductListTable.vue
  src/components/ADempiere/Form/VPOS2/HeaderOrder/ProductInfo/SearchProduct.vue
  src/components/ADempiere/Form/VPOS2/MainOrder/index.vue
  src/store/modules/ADempiere/form/VPOS/lines.js
  src/store/modules/ADempiere/form/VPOS/order.js
Labels: enhancement, (FRM) Form, (POS) Point Of Sales

#1802 Fix: Pending Balances Error in POS
  src/components/ADempiere/Form/VPOS2/Collection/ButtonGroupOptions.vue
  src/components/ADempiere/Form/VPOS2/DialogInfo/infoOrder.vue
  src/store/modules/ADempiere/form/VPOS/options.js
Labels: bug, (FRM) Form, (POS) Point Of Sales

#1805 feat: Change menu structure.
  src/components/ADempiere/Dashboard/recentItems/index.vue
  src/components/ADempiere/Dashboard/userfavorites/index.vue
  src/router/modules/ADempiere/menu.js
  src/utils/ADempiere/dictionary/menu.js
  src/utils/ADempiere/dictionaryUtils.js
Labels: enhancement, (MEN) Menues

#1804 Feat: Support Keyboard Shortcuts from POS
  src/api/ADempiere/form/VPOS/CommandShortcut.js
  src/components/ADempiere/Form/VPOS2/HeaderOrder/ActionsOrder/index.vue
  src/components/ADempiere/Form/VPOS2/Options/cashManagement/index.vue
  src/components/ADempiere/Form/VPOS2/Options/cashManagement/mnemonicCommand/CommandCardOption.vue
  src/components/ADempiere/Form/VPOS2/Options/cashManagement/mnemonicCommand/cashManagement.js
  src/components/ADempiere/Form/VPOS2/Options/cashManagement/mnemonicCommand/commandPanel.vue
  src/components/ADempiere/Form/VPOS2/Options/cashManagement/mnemonicCommand/index.vue
  src/components/ADempiere/Form/VPOS2/Options/cashManagement/mnemonicCommand/keyList.js
  src/components/ADempiere/Form/VPOS2/Options/cashManagement/mnemonicCommand/keyListCommant.js
  src/components/ADempiere/Form/VPOS2/Options/cashManagement/mnemonicCommand/salesOrder.js
  src/components/ADempiere/Form/VPOS2/Options/salesOrder.vue
  src/components/ADempiere/Form/VPOS2/index.vue
  src/lang/ADempiere/en/form/mnemonicCommand.js
  src/lang/ADempiere/es/form/mnemonicCommand.js
  src/store/modules/ADempiere/form/VPOS/index.js
  src/store/modules/ADempiere/form/VPOS/order.js
  src/utils/ADempiere/dictionary/form/VPOS.js
Labels: bug, enhancement, (FRM) Form, (POS) Point Of Sales

#1807 fix: Time record end points.
  src/api/ADempiere/form/timeRecord.ts
  src/components/ADempiere/Form/Issues/recordTime.vue
  src/components/ADempiere/Form/TimeRecord/createForm.vue
  src/components/ADempiere/Form/TimeRecord/index.vue
  src/components/ADempiere/Form/TimeRecord/tableData.vue
Labels: bug, (FRM) Form

#1808 fix: POS Create Customer with `Tax ID`.
  src/components/ADempiere/Form/VPOS2/HeaderOrder/Customer/NewCustomer/Fields/IdentificationNumber.vue
  src/store/modules/ADempiere/form/VPOS/customer.js
Labels: bug, (FRM) Form, (POS) Point Of Sales

#1809 Fix: Add Amount Format
  src/components/ADempiere/FormDefinition/VAllocation/components/InvoceTable.vue
  src/utils/ADempiere/formatValue/dateFormat.js
Labels: bug, (FRM) Form

#1810 fix: Download attachment.
  src/api/ADempiere/file-management/resources.ts
  src/api/ADempiere/user-interface/component/resource.js
  src/components/ADempiere/PanelInfo/Component/AttachmentManager/attachment.js
  src/components/ADempiere/PanelInfo/Component/AttachmentManager/listView.vue
  src/components/ADempiere/PanelInfo/Component/AttachmentManager/modeDesktop.vue
  src/components/ADempiere/PanelInfo/Component/AttachmentManager/modeMobile.vue
  src/layout/components/Sidebar/Logo.vue
  src/utils/ADempiere/resource.js
Labels: bug, (WIN) Windows

#1811 Fix: Drag Kanban
  src/components/ADempiere/Form/Issues/ListIssues/index.vue
Labels: bug, (FRM) Form

#1812 Fix: Update Line Total Amount With Tax
  src/components/ADempiere/Form/VPOS2/HeaderOrder/ProductInfo/ProductListTable.vue
  src/components/ADempiere/Form/VPOS2/HeaderOrder/ProductInfo/SearchProduct.vue
  src/components/ADempiere/Form/VPOS2/MainOrder/index.vue
Labels: bug, (FRM) Form, (POS) Point Of Sales

#1814 Fix: Open Amount
  src/components/ADempiere/Form/VPOS2/FooterOrder/ButtonGroupOptions.vue
  src/components/ADempiere/Form/VPOS2/MainOrder/index.vue
Labels: bug, (FRM) Form, (POS) Point Of Sales
