Repository solop-develop/frontend-core, pull requests merged in 2023-04, with the labels that each got.

#951 Add Expres Shipping
  src/api/ADempiere/form/ExpressShipment.js
  src/lang/ADempiere/en/route.js
  src/lang/ADempiere/es/route.js
  src/router/modules/ADempiere/staticRoutes.js
  src/store/modules/ADempiere/form/expressShipment.js
Labels: enhancement, (FRM) Form

#957 Fixed Mnemonic Command
  src/api/ADempiere/form/CommandShortcut.js
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/es/index.js
  src/router/modules/ADempiere/staticRoutes.js
  src/store/modules/ADempiere/form/mnemonicCommand.js
Labels: enhancement, (FRM) Form, (POS) Point Of Sales

#966 pin point of sale commands mnemonic
  src/store/modules/ADempiere/form/mnemonicCommand.js
  src/store/modules/ADempiere/pointOfSales/order/actions.js
Labels: enhancement, (FRM) Form, (POS) Point Of Sales

#975 add Getters the Dashboar
  src/store/modules/ADempiere/panelWindows.js
Labels: bug, dashboard

#982 Feature/change end point
  src/api/ADempiere/dashboard/panelWindows.js
  src/utils/ADempiere/dictionary/dashboard.js
Labels: enhancement, dashboard

#983 fix: Get chart type.
  src/utils/ADempiere/dictionary/dashboard.js
Labels: dashboard

#984 feat: Dashboard Support Transformation Script
  src/store/modules/ADempiere/panelWindows.js
Labels: enhancement, dashboard
