Repository solop-develop/frontend-core, pull requests merged in 2024-03, with the labels that each got.

#1961 Support VFileImport
  src/api/ADempiere/file-management/resource-reference.ts
  src/api/ADempiere/form/VFileImport.js
  src/components/ADempiere/FormDefinition/VFileImport/SelectFile/importFormatFields.vue
  src/components/ADempiere/FormDefinition/VFileImport/SelectFile/index.vue
  src/components/ADempiere/FormDefinition/VFileImport/SelectFile/selectResource.vue
  src/components/ADempiere/FormDefinition/VFileImport/SelectFile/tableRecords.vue
  src/components/ADempiere/PanelInfo/Component/AttachmentManager/attachment.js
  src/components/ADempiere/PanelInfo/Component/AttachmentManager/modeDesktop.vue
  src/components/ADempiere/PanelInfo/Component/AttachmentManager/uploadResource.vue
  src/store/modules/ADempiere/attachmentManager.js
Labels: bug, (FRM) Form

#1963 Fix: Zooming in from the SDN field does not lead to the correct record in an already open window
  src/components/ADempiere/TabManager/index.vue
Labels: bug, (WIN) Windows, (REC) Records

#1966 feat: Improve `pageSize` to 100 items.
  src/api/ADempiere/common/index.ts
  src/api/ADempiere/field/search/business-partner.ts
  src/api/ADempiere/form/VAllocation.ts
  src/api/ADempiere/form/VMatch.js
  src/api/ADempiere/form/accouting.js
  src/api/ADempiere/form/point-of-sales.js
  src/api/ADempiere/form/timeControl.js
  src/api/ADempiere/logs/index.ts
  src/api/ADempiere/logs/tabInfo/chatsEntries.ts
  src/api/ADempiere/system-core.js
  src/api/ADempiere/user-customization/index.js
  src/api/ADempiere/user-interface/component/issue.js
  src/api/ADempiere/userInterface/browserList.ts
  src/api/ADempiere/userInterface/entities.ts
  src/api/ADempiere/userInterface/lookups.ts
  src/api/ADempiere/workflow.js
  src/components/ADempiere/FieldDefinition/FieldAccountingCombination/index.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/BusinessPartnerInfo/index.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/GeneralInfoSearch/index.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/ProductInfo/PanelForm/QueryCriteria/priceListVersionField.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/ProductInfo/index.vue
  src/components/ADempiere/FieldDefinition/FieldWarehouseLocator/index.vue
  src/components/ADempiere/FieldDefinition/FieldYesNo/SwitchTemplate.vue
  src/components/ADempiere/Form/TimeControl/index.vue
  src/components/ADempiere/Form/TimeControl/table.vue
  src/components/ADempiere/Form/WorkflowActivity/index.vue
  src/components/ADempiere/Form/WorkflowActivity/index2.vue
  src/store/modules/ADempiere/lookupManager.js
  src/utils/ADempiere/dictionary/field/lookups.js
  src/utils/ADempiere/references.js
Labels: enhancement, (REC) Records, (ULP) UI Lookups

#1967 fix: Refresh list warehouses after change organization.
  src/store/modules/user.js
Labels: (SE) Security, (UX) User Experience

#1980 Fix: Response CORS in Attachments
  config/default.json
  src/api/ADempiere/file-management/resource-reference.ts
  src/utils/request.js
Labels: bug, (WIN) Windows

#1984 fix: `Smart Browse` table records.
  src/components/ADempiere/DataTable/Browser/index.vue
  src/components/ADempiere/FieldDefinition/FieldAccountingCombination/tableQueryCriteria.vue
  src/components/ADempiere/FieldDefinition/FieldAccountingCombination/tableQueryCriteria2.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/BusinessPartnerInfo/businessPartnersList.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/GeneralInfoSearch/panel.vue
  src/components/ADempiere/Form/TaskManager/index.vue
  src/components/ADempiere/Form/TimeControl/index.vue
  src/components/ADempiere/Form/TimeControl/table.vue
  src/components/ADempiere/Form/TimeRecord/tableData.vue
  src/components/ADempiere/Form/WorkflowActivity/index2.vue
  src/components/ADempiere/TabManager/TabPanel.vue
  src/components/ADempiere/TabManager/TabPanel/modeDesktop.vue
  src/components/ADempiere/TabManager/TabPanel/modeMobile.vue
  src/utils/ADempiere/dictionary/browser.js
  src/utils/ADempiere/dictionary/window.js
  src/views/ADempiere/Browser/index.vue
Labels: (SB) Smart Browser, (REC) Records, (UX) User Experience

#2000 Failure Date Filter
  src/components/ADempiere/FieldDefinition/FieldDate.vue
Labels: bug, (WIN) Windows

#1993 fix: Clears Filters When Going to Another Window
  src/components/ADempiere/TabManager/index.vue
Labels: bug, (WIN) Windows, (REC) Records

#2002 fix: Generate report on window as print.
  src/api/ADempiere/reportManagement/index.ts
  src/store/modules/ADempiere/reportManager.js
Labels: bug, (RPT) Reports

#2010 Error Show several lines according to the required field
  src/api/ADempiere/reportManagement/index.ts
  src/components/ADempiere/Dashboard/charts/LineChart.vue
Labels: bug, dashboard

#2016 feat: Add quick access in command bar to print
  src/components/ADempiere/TabManager/convenienceButtons/PrintProcess.vue
  src/components/ADempiere/TabManager/convenienceButtons/index.vue
  src/icons/svg/print.svg
Labels: enhancement, (RPT) Reports, (WIN) Windows

#2028 fix: Rename `Control Panel` to `Graphics` into window info.
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/es/index.js
Labels: bug, (TRL) Translation, (UX) User Experience

#2032 fix: `Product` search some fixes.
  src/components/ADempiere/FieldDefinition/FieldSearch/ProductInfo/PanelForm/QueryCriteria/index.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/ProductInfo/PanelForm/panelFooter.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/ProductInfo/PanelForm/tableRecords.vue
  src/store/modules/ADempiere/field/search/productFieldSearch.js
Labels: bug, (ULP) UI Lookups

#1988 Feat: Support Cache MS (Menu)
  src/api/ADempiere/security/index.ts
  src/router/modules/ADempiere/menu.js
Labels: (MEN) Menues

#2030 fix: Delete `Column Name` when changes are made by changelog.
  src/components/ADempiere/Form/Issues/component/Comment.vue
  src/components/ADempiere/FormDefinition/IssueManagement/IssueFeed/issueLog.vue
  src/lang/index.js
  src/utils/ADempiere/formatValue/dateFormat.js
Labels: bug, (FRM) Form, (UX) User Experience

#2042 feat: Cache support with OpenSearch
  src/api/ADempiere/dictionary/index.ts
  src/api/ADempiere/dictionary/window.ts
  src/api/ADempiere/security/index.ts
  src/components/ADempiere/DataTable/Components/ColumnsDisplayOption.vue
  src/components/ADempiere/DataTable/Components/containerManagerBatchEntry.js
  src/components/ADempiere/FieldDefinition/FieldButton.vue
  src/components/ADempiere/FieldDefinition/FieldOptions/ContextInfo/index.vue
  src/components/ADempiere/FieldDefinition/index.vue
  src/components/ADempiere/FieldDefinition/indexApiComposition.vue
  src/components/ADempiere/FilterFields/fieldsDisplayOptions.vue
  src/components/ADempiere/PanelInfo/index.vue
  src/components/ADempiere/TabManager/TabPanel/modeMobile.vue
  src/components/ADempiere/TabManager/convenienceButtons/PrintProcess.vue
  src/components/ADempiere/TabManager/convenienceButtons/SaveRecordButton.vue
  src/components/ADempiere/TabManager/convenienceButtons/documentAction.vue
  src/components/ADempiere/TabManager/convenienceButtons/index.vue
  src/router/modules/ADempiere/menu.js
  src/store/modules/ADempiere/dictionary/process/actions.js
  src/store/modules/ADempiere/dictionary/report/actions.js
  src/store/modules/ADempiere/dictionary/window/actions.js
  src/store/modules/ADempiere/dictionary/window/getters.js
  src/store/modules/ADempiere/panel/actions.js
  src/store/modules/ADempiere/panel/getters.js
  src/utils/ADempiere/dictionary/panel.js
  src/utils/ADempiere/dictionary/process.js
  src/utils/ADempiere/dictionary/process/templateProcess.js
  src/utils/ADempiere/dictionary/window/index.js
  src/utils/ADempiere/dictionary/window/templatesWindow.js
  src/utils/ADempiere/dictionaryUtils.js
  src/utils/ADempiere/exportUtil.js
  src/utils/ADempiere/lookupFactory.js
  src/utils/ADempiere/valueUtils.js
  src/views/ADempiere/Window/index.vue
Labels: enhancement, (PRC) Processes, (RPT) Reports, (MEN) Menues, (WIN) Windows, (CIO) Code Improvement or Optimization

#2046 Feat: Support Smart Browser Open Search
  src/api/ADempiere/dictionary/index.ts
  src/api/ADempiere/security/index.ts
  src/router/modules/ADempiere/menu.js
  src/store/modules/ADempiere/browserManager.js
  src/store/modules/ADempiere/dictionary/browser/actions.js
  src/store/modules/ADempiere/dictionary/browser/getters.js
  src/utils/ADempiere/dictionary/browser/templateBrowser.js
Labels: bug, enhancement, (SB) Smart Browser
