Repository solop-develop/frontend-core, pull requests merged in 2024-01, with the labels that each got.

#1799 feat: Field search type.
  src/api/ADempiere/common/index.ts
  src/api/ADempiere/dictionary/field.ts
  src/api/ADempiere/dictionary/index.ts
  src/api/ADempiere/field/search/businessPartner.ts
  src/api/ADempiere/field/search/index.ts
  src/components/ADempiere/DataTable/Components/CellDisplayInfo.vue
  src/components/ADempiere/DataTable/Components/containerManagerBatchEntry.js
  src/components/ADempiere/FieldDefinition/FieldAccountingCombination/index.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/BusinessPartnerInfo/businessPartnersList.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/BusinessPartnerInfo/index.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/GeneralInfoSearch/button.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/GeneralInfoSearch/index.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/GeneralInfoSearch/panel.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/index.vue
  src/components/ADempiere/FieldDefinition/index.vue
  src/components/ADempiere/Form/ProductInfo/productList.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/AddNewFieldLocation/locationAddressForm.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/AddNewFieldLocation/mixinLocation.js
  src/components/ADempiere/Form/VPOS/BusinessPartner/BillingFieldLocation/locationAddressForm.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/BillingFieldLocation/mixinLocation.js
  src/components/ADempiere/Form/VPOS/BusinessPartner/addAddress.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/billingAddress.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/businessPartnerCreate.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/businessPartnerUpdate.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/businessPartnersList.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/shippingAddress.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/shippingFieldLocation/locationAddressForm.vue
  src/components/ADempiere/Form/VPOS/BusinessPartner/shippingFieldLocation/mixinLocation.js
  src/components/ADempiere/Form/VPOS/Collection/index.vue
  src/components/ADempiere/Form/VPOS/Collection/overdrawnInvoice/index.vue
  src/components/ADempiere/Form/VPOS/ConfirmDelivery/index.vue
  src/components/ADempiere/Form/VPOS/Options/CashOpening/index.vue
  src/components/ADempiere/Form/VPOS/Options/Cashwithdrawal/index.vue
  src/components/ADempiere/Form/VPOS/Options/DiscountOrder/index.vue
  src/components/ADempiere/Form/VPOS/Options/SalesDiscountOff/index.vue
  src/components/ADempiere/Form/VPOS/Options/applyDiscountToAllLines/index.vue
  src/components/ADempiere/Form/VPOS/Order/line/editLineMobile.vue
  src/components/ADempiere/Form/VPOS/Order/line/index.vue
  src/components/ADempiere/Form/VPOS/OrderList/fastOrder.vue
  src/components/ADempiere/Form/VPOS/OrderList/index.vue
  src/components/ADempiere/Form/VPOS/containerManagerPos.js
  src/components/ADempiere/Form/formMixin.js
  src/components/ADempiere/FormDefinition/VAllocation/components/SearchCriteria.vue
  src/store/modules/ADempiere/field/accountingCombination.js
  src/store/modules/ADempiere/field/search/businessPartnerSearch.js
  src/store/modules/ADempiere/field/search/generalSearch.js
  src/store/modules/ADempiere/windowManager.js
  src/utils/ADempiere/dictionary/browser.js
  src/utils/ADempiere/dictionary/field/generalInfoSearch.js
  src/utils/ADempiere/dictionary/field/search/index.ts
  src/utils/ADempiere/dictionary/process.js
  src/utils/ADempiere/dictionary/window.js
Labels: (ULP) UI Lookups, (UX) User Experience

#1818 fix: Smart Browse default vale with sales representative.
  src/components/ADempiere/FieldDefinition/FieldButton.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/mixinFieldSearch.js
  src/components/ADempiere/FieldDefinition/FieldSelect.vue
  src/components/ADempiere/FieldDefinition/FieldWarehouseLocator/API-COMPOSITION.vue
  src/components/ADempiere/FieldDefinition/FieldWarehouseLocator/index.vue
  src/components/ADempiere/FieldDefinition/mixin/mixinField.js
  src/components/ADempiere/FieldDefinition/useFieldDefinition.js
  src/store/modules/ADempiere/data/actions.js
  src/utils/ADempiere/dictionary/browser.js
Labels: bug, (SB) Smart Browser

#1820 feat: `VAllocation` form, Separate business partner component.
  src/components/ADempiere/FormDefinition/VAllocation/SearchCriteria/businessPartner.vue
  src/components/ADempiere/FormDefinition/VAllocation/SearchCriteria/index.vue
  src/components/ADempiere/FormDefinition/VAllocation/index.vue
Labels: bug, (SB) Smart Browser

#1819 Navigable Trial Balance Form
  src/api/ADempiere/form/TrialBalanceDrillable.js
  src/components/ADempiere/FormDefinition/WTrialBalance/index.vue
  src/components/ADempiere/FormDefinition/index.vue
  src/lang/ADempiere/en/form/WTrialBalance.js
  src/lang/ADempiere/en/form/index.js
  src/lang/ADempiere/es/form/WTrialBalance.js
  src/lang/ADempiere/es/form/index.js
Labels: enhancement, (FRM) Form

#1821 Support Workflow Activity Transcoding
  src/api/ADempiere/form/workflow-activity.js
  src/api/ADempiere/user-interface/component/issue.js
  src/api/ADempiere/workflow.js
  src/components/ADempiere/Form/WorkflowActivity/index.vue
  src/components/ADempiere/Form/WorkflowActivity/index2.vue
  src/components/ADempiere/WorkflowManager/WorkflowDiagram.vue
  src/store/modules/ADempiere/form/workflowActivity.js
  src/store/modules/ADempiere/form/workflowActivity2.js
  src/utils/ADempiere/dictionary/workflow.js
Labels: bug, (FRM) Form

#1822 Fix: Display Error in the Payment Assignment Form
  src/components/ADempiere/FormDefinition/VAllocation/components/Payments.vue
  src/layout/components/AppMain.vue
Labels: bug, (FRM) Form

#1825 Improve control panel (Home screen)
  config/default.json
  src/lang/ADempiere/en/page/settings.js
  src/lang/ADempiere/es/page/settings.js
  src/store/modules/settings.js
  src/views/dashboard/admin/components/TodoList/index.scss
  src/views/dashboard/admin/index.vue
Labels: bug, enhancement, dashboard

#1826 fix: `WTrialBalance` form translation.
  src/components/ADempiere/FormDefinition/WTrialBalance/index.vue
  src/lang/ADempiere/en/form/WTrialBalance.js
  src/lang/ADempiere/es/form/WTrialBalance.js
Labels: bug, (TRL) Translation, (FRM) Form

#1827 fix: Advanced query with multiple values list.
  src/components/ADempiere/TabManager/AdvancedTabQuery.vue
  src/store/modules/ADempiere/windowManager.js
Labels: bug, (WIN) Windows, (REC) Records

#1831 fix: Select business partner search.
  src/components/ADempiere/FieldDefinition/FieldSearch/index.vue
  src/store/modules/ADempiere/field/search/businessPartnerSearch.js
Labels: bug, (REC) Records, (ULP) UI Lookups

#1832 Fix: Style Cell `VAllocation` form
  src/components/ADempiere/FormDefinition/VAllocation/components/InvoceTable.vue
  src/components/ADempiere/FormDefinition/VAllocation/components/PaymentsTable.vue
Labels: bug, (FRM) Form, (UX) User Experience

#1833 fix: Select Business Partner record on search field.
  src/api/ADempiere/field/search/index.ts
  src/components/ADempiere/FieldDefinition/FieldSearch/BusinessPartnerInfo/index.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/GeneralInfoSearch/index.vue
  src/components/ADempiere/Form/VPOS/containerManagerPos.js
  src/store/modules/ADempiere/field/search/businessPartnerSearch.js
Labels: bug, (REC) Records, (ULP) UI Lookups, (UX) User Experience

#1834 Fix: generate DxP from Purchase Order
  src/api/ADempiere/businessData/runBusinessProcess.ts
  src/store/modules/ADempiere/processManager.js
Labels: bug, (PRC) Processes, (SB) Smart Browser

#1836 Fix: Service Api the Accounting Information
  src/api/ADempiere/form/accouting.js
  src/api/ADempiere/form/storeProduct.js
  src/components/ADempiere/Form/AcctViewer/ActionsFooter/index.vue
  src/components/ADempiere/Form/AcctViewer/QueryCriteria/postingTypeFilter.vue
  src/components/ADempiere/PanelInfo/index.vue
  src/store/modules/ADempiere/form/AcctViewer.js
Labels: bug, (WIN) Windows, (UX) User Experience

#1838 fix: Window record logs order.
  src/components/ADempiere/PanelInfo/Component/RecordLogs/changeLog.vue
  src/components/ADempiere/PanelInfo/Component/RecordLogs/index.vue
  src/styles/ADempiere/form.scss
  src/utils/ADempiere/recordUtil/index.ts
Labels: bug, (REC) Records

#1839 FIx: Card Portlet
  src/components/ADempiere/Dashboard/charts/CardPortletChart.vue
Labels: bug, dashboard

#1840 Fix Zoon Record Workflow Activity
  src/components/ADempiere/Form/WorkflowActivity/index.vue
Labels: bug, (WFL) Workflows, (FRM) Form

#1841 fix: User activities Entities logs.
  src/lang/ADempiere/en/window.js
  src/lang/ADempiere/es/window.js
  src/views/profile/components/UserActivity/RecordsLogs/index.vue
  src/views/profile/components/UserActivity/WindowsLogs.vue
  src/views/profile/components/UserActivity/index.vue
  src/views/profile/components/UserCard.vue
  src/views/profile/index.vue
Labels: bug, (REC) Records

#1843 Fix: Improve Control Panel
  src/components/ADempiere/PageStyleSettings/Settings.vue
  src/components/ADempiere/PageStyleSettings/index.vue
  src/components/ThemePicker/index.vue
  src/views/dashboard/admin/index.vue
  src/views/profile/index.vue
Labels: bug, dashboard

#1844 Fix: Format Date DataTable
  src/components/ADempiere/FieldDefinition/FieldDate.vue
  src/store/modules/settings.js
Labels: bug, (WIN) Windows, (ULP) UI Lookups

#1845 Feat: Dashboard Improvements
  src/components/ADempiere/PageStyleSettings/index.vue
  src/lang/en.js
  src/lang/es.js
  src/layout/components/Settings/index.vue
  src/router/index.js
  src/router/modules/ADempiere/staticRoutes.js
  src/store/modules/ADempiere/dashboard.js
  src/views/ADempiere/Charts/index.vue
  src/views/dashboard/admin/components/PanelGroup.vue
  src/views/dashboard/admin/components/TodoList/index.vue
  src/views/dashboard/admin/index.vue
  src/views/profile/index.vue
Labels: bug, enhancement, (MEN) Menues, dashboard

#1848 Fix: Parameters in Windows Charts
  src/components/ADempiere/PanelInfo/Component/RecordDashboard/chartMetrics.vue
Labels: bug, (WIN) Windows, dashboard

#1849 Fix: Dates Parameter in Smart Browser
  src/utils/ADempiere/formatValue/dateFormat.js
Labels: bug, (SB) Smart Browser

#1855 fix: Smart Browse change records page.
  src/store/modules/ADempiere/browserManager.js
Labels: bug, (SB) Smart Browser, (REC) Records

#1854 feat: `Process`/`Report` dictionary with `OpenSearch`.
  README.es.md
  README.md
  build/production-alpine.Dockerfile
  build/production.Dockerfile
  build/start.sh
  config/default.json
  src/api/ADempiere/dictionary/index.ts
  src/api/ADempiere/dictionary/process.js
  src/store/modules/ADempiere/dictionary/process/actions.js
  src/store/modules/ADempiere/dictionary/report/actions.js
  src/store/modules/ADempiere/dictionary/window/actions.js
  src/store/modules/user.js
Labels: enhancement, (PRC) Processes, (RPT) Reports, (TRL) Translation

#1861 Fix: Settings DashBoard
  src/components/ADempiere/PageStyleSettings/Settings.vue
  src/components/ADempiere/PageStyleSettings/index.vue
  src/lang/ADempiere/en/page/settings.js
  src/lang/ADempiere/es/page/settings.js
  src/store/modules/settings.js
  src/views/dashboard/admin/index.vue
Labels: bug, enhancement, dashboard

#1862 Fix: Logs Issues
  src/components/ADempiere/Form/Issues/component/Comment.vue
  src/components/ADempiere/PanelInfo/Component/RecordIssues/component/Comment.vue
Labels: bug, enhancement, (FRM) Form

#1863 Fix: Payment Assignment
  src/components/ADempiere/FormDefinition/VAllocation/components/InvoceTable.vue
Labels: bug, (FRM) Form

#1865 fix: Remove dictionary environment variable.
  README.es.md
  README.md
  build/production-alpine.Dockerfile
  build/production.Dockerfile
  build/start.sh
  config/default.json
  docker-compose.yaml
  src/api/ADempiere/dictionary/index.ts
  src/utils/request.js
Labels: bug, (CI/CD) Continuous Integration/Continous Delivery, (CIO) Code Improvement or Optimization

#1864 Fix: Project Status field is cleared when saving
  src/components/ADempiere/Dashboard/charts/BarChart.vue
  src/components/ADempiere/FieldDefinition/mixin/mixinField.js
  src/store/modules/ADempiere/dictionary/window/actions.js
  src/store/modules/ADempiere/panel/actions.js
  src/utils/ADempiere/dictionary/window.js
Labels: bug, (WIN) Windows, (ULP) UI Lookups

#1871 Fix: Zoom Record
  src/components/ADempiere/Form/WorkflowActivity/index.vue
Labels: bug, (WFL) Workflows, (FRM) Form

#1872 Fix: Table Cell
  src/components/ADempiere/FormDefinition/VAllocation/components/InvoceTable.vue
  src/store/modules/ADempiere/form/VAllocation.js
Labels: bug, (FRM) Form

#1868 Fix: Side tab, accounting information tab does not show any information
  src/store/modules/ADempiere/windowManager.js
  src/utils/ADempiere/valueUtils.js
Labels: bug, (WIN) Windows

#1874 Fix: Process parameters are not displayed in VUE
  src/api/ADempiere/dictionary/index.ts
Labels: bug, (PRC) Processes

#1875 fix: Start window process on sub tab.
  src/components/ADempiere/FieldDefinition/FieldButton.vue
  src/store/modules/ADempiere/dictionary/window/actions.js
  src/store/modules/ADempiere/processManager.js
  src/utils/ADempiere/formatValue/booleanFormat.js
Labels: bug, (PRC) Processes, (WIN) Windows, (REC) Records

#1867 Fix: Dates parameter in Smart Browser does not work
  src/components/ADempiere/FieldDefinition/FieldDate.vue
Labels: bug, (SB) Smart Browser

#1876 fix: Smart Browse search with range query criteria.
  src/store/modules/ADempiere/browserManager.js
  src/store/modules/ADempiere/dictionary/browser/getters.js
  src/utils/ADempiere/dictionaryUtils.js
Labels: bug, (SB) Smart Browser, (REC) Records, (ULP) UI Lookups

#1878 fix Issue comments feed log type.
  src/components/ADempiere/Form/Issues/ListIssues/index.vue
  src/components/ADempiere/Form/Issues/component/Comment.vue
  src/components/ADempiere/FormDefinition/IssueManagement/IsssueFeed/issueCommentAdd.vue
  src/components/ADempiere/FormDefinition/IssueManagement/IsssueFeed/issueCommentView.vue
  src/components/ADempiere/FormDefinition/IssueManagement/IsssueFeed/issueLog.vue
  src/components/ADempiere/FormDefinition/IssueManagement/issueAvatar.vue
  src/components/ADempiere/PanelInfo/Component/RecordIssues/component/Comment.vue
  src/store/modules/ADempiere/mailTemplate.js
Labels: bug, (FRM) Form

#1884 Fix: Callout Date
  src/store/modules/ADempiere/calloutManager.js
  src/store/modules/ADempiere/data/actions.js
  src/store/modules/ADempiere/persistence.js
Labels: bug, (WIN) Windows, (ULP) UI Lookups

#1886 Feat: Filter Dashboard by Sequence
  src/views/dashboard/admin/index.vue
Labels: bug, enhancement, dashboard

#1887 feat: Info frontend vue version.
  .github/workflows/publish.yml
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/es/index.js
  src/views/documentation/RepositoryDocumentation.vue
  src/views/profile/components/InfoUser.vue
Labels: enhancement, (CIO) Code Improvement or Optimization, (UX) User Experience

#1885 Fix: Read Only when Operator isNull
  src/components/ADempiere/FieldDefinition/FieldOptions/ComparisonOperator.vue
  src/components/ADempiere/FieldDefinition/FieldOptions/OperatorComparison/index.vue
  src/components/ADempiere/FieldDefinition/FieldOptions/fieldOptionsList.js
  src/components/ADempiere/FieldDefinition/index.vue
  src/components/ADempiere/TabManager/AdvancedTabQuery.vue
  src/store/modules/ADempiere/dictionary/browser/getters.js
  src/utils/ADempiere/dictionary/browser.js
Labels: bug, (SB) Smart Browser, (WIN) Windows, (ULP) UI Lookups, (UX) User Experience

#1891 fix: Set vue version.
  config/default.json
Labels: bug, (CIO) Code Improvement or Optimization

#1889 Fix: Submit Role and Organization
  src/views/login/index.vue
Labels: bug, (SE) Security

#1893 Fix: Maximun Line DIscount Allowed
  src/components/ADempiere/Form/VPOS2/DialogInfo/pin.vue
  src/components/ADempiere/Form/VPOS2/MainOrder/index.vue
  src/components/ADempiere/FormDefinition/ExpressMovement/index.vue
  src/store/modules/ADempiere/form/VPOS/index.js
  src/store/modules/ADempiere/form/expressMovement.js
Labels: bug, (FRM) Form, (POS) Point Of Sales

#1894 feat: Calendar Task
  src/api/ADempiere/form/task-management.ts
  src/store/modules/ADempiere/form/calendarView.js
  src/views/ADempiere/CalendarView/event-utils.js
  src/views/ADempiere/CalendarView/index.vue
Labels: enhancement, (FRM) Form
