Repository solop-develop/frontend-core, pull requests merged in 2024-05, with the labels that each got.

#2192 Fixing Change role
  src/views/profile/components/RolesNavbar.vue
Labels: bug, (SE) Security

#2193 Opening the accounting tab
  src/components/ADempiere/FieldDefinition/FieldAccountingCombination/Fields/SelectAccounting.vue
  src/components/ADempiere/FieldDefinition/FieldAccountingCombination/tableQueryCriteria2.vue
  src/store/modules/ADempiere/field/accountingCombination.js
  src/store/modules/ADempiere/windowManager.js
Labels: bug, (WIN) Windows

#2202 Fix: Sort Tabs and Validate Context Column
  src/store/modules/ADempiere/windowManager.js
  src/utils/ADempiere/dictionary/window/index.js
Labels: bug, (WIN) Windows

#2201 fix: `Trial Balance Drillable` alignment web only
  src/components/ADempiere/FormDefinition/WTrialBalance/index.vue
  src/lang/ADempiere/es/form/WTrialBalance.js
Labels: bug, (TRL) Translation, (FRM) Form

#2199 feat: `Invoice` search field
  src/api/ADempiere/field/search/invoice.ts
  src/components/ADempiere/FieldDefinition/FieldSearch/InvoiceInfo/PanelForm/QueryCriteria/InvoiceField.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/InvoiceInfo/PanelForm/QueryCriteria/PaidFieldInvoice.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/InvoiceInfo/PanelForm/QueryCriteria/SaleTransactionField.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/InvoiceInfo/PanelForm/QueryCriteria/billingDateField.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/InvoiceInfo/PanelForm/QueryCriteria/businessPartnerField.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/InvoiceInfo/PanelForm/QueryCriteria/descriptionField.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/InvoiceInfo/PanelForm/QueryCriteria/documentField.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/InvoiceInfo/PanelForm/QueryCriteria/grandTotalField.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/InvoiceInfo/PanelForm/QueryCriteria/index.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/InvoiceInfo/PanelForm/index.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/InvoiceInfo/PanelForm/useInvoice.js
  src/components/ADempiere/FieldDefinition/FieldSearch/InvoiceInfo/button.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/InvoiceInfo/index.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/InvoiceInfo/mixinInvoice.js
  src/components/ADempiere/FieldDefinition/FieldSearch/InvoiceInfo/panelFooter.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/InvoiceInfo/tableRecords.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/index.vue
  src/lang/ADempiere/en/field/index.js
  src/lang/ADempiere/en/field/invoice.js
  src/lang/ADempiere/es/field/index.js
  src/lang/ADempiere/es/field/invoice.js
  src/lang/ADempiere/es/field/product.ts
  src/store/modules/ADempiere/field/search/invoiceSearch.js
  src/utils/ADempiere/dictionary/field/search/invoice.ts
Labels: enhancement, (ULP) UI Lookups

#2208 feat: Invoice field changes.
  src/components/ADempiere/FieldDefinition/FieldSearch/InvoiceInfo/PanelForm/QueryCriteria/OrderField.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/InvoiceInfo/PanelForm/QueryCriteria/SalesTransactionField.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/InvoiceInfo/PanelForm/QueryCriteria/billingDateField.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/InvoiceInfo/PanelForm/QueryCriteria/businessPartnerField.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/InvoiceInfo/PanelForm/QueryCriteria/grandTotalField.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/InvoiceInfo/PanelForm/QueryCriteria/index.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/InvoiceInfo/PanelForm/index.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/InvoiceInfo/PanelForm/useInvoice.js
  src/components/ADempiere/FieldDefinition/FieldSearch/InvoiceInfo/index.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/InvoiceInfo/mixinInvoice.js
  src/components/ADempiere/FieldDefinition/FieldSearch/InvoiceInfo/panelFooter.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/InvoiceInfo/tableRecords.vue
  src/lang/ADempiere/en/field/invoice.js
  src/lang/ADempiere/es/field/invoice.js
  src/store/modules/ADempiere/field/search/invoiceSearch.js
  src/utils/ADempiere/dictionary/field/search/invoice.js
Labels: (ULP) UI Lookups, (CIO) Code Improvement or Optimization

#2159 doc: New discussion template
  .github/ISSUE_TEMPLATE/discussion.md
Labels: documentation, enhancement

#2209 docs: Discussion template `Weekly Delivery`.
  .github/DISCUSSION_TEMPLATE/weekly_delivery.md
  .github/ISSUE_TEMPLATE/discussion.md
  .github/workflows/ci.yml
Labels: documentation, enhancement

#2214 fix: Localization
  src/components/ADempiere/FieldDefinition/FieldLocationAddress/index.vue
  src/components/ADempiere/FieldDefinition/FieldLocationAddress/locationAddressForm/address1Field.vue
  src/components/ADempiere/FieldDefinition/FieldLocationAddress/locationAddressForm/address2Field.vue
  src/components/ADempiere/FieldDefinition/FieldLocationAddress/locationAddressForm/address3Field.vue
  src/components/ADempiere/FieldDefinition/FieldLocationAddress/locationAddressForm/address4Field.vue
  src/components/ADempiere/FieldDefinition/FieldLocationAddress/locationAddressForm/citiesListField.vue
  src/components/ADempiere/FieldDefinition/FieldLocationAddress/locationAddressForm/cityNameField.vue
  src/components/ADempiere/FieldDefinition/FieldLocationAddress/locationAddressForm/countriesListField.vue
  src/components/ADempiere/FieldDefinition/FieldLocationAddress/locationAddressForm/index.vue
  src/components/ADempiere/FieldDefinition/FieldLocationAddress/locationAddressForm/postalCodeAdditionalField.vue
  src/components/ADempiere/FieldDefinition/FieldLocationAddress/locationAddressForm/postalCodeField.vue
  src/components/ADempiere/FieldDefinition/FieldLocationAddress/locationAddressForm/regionsListField.vue
  src/utils/ADempiere/dictionary/field/locationAddress.js
Labels: bug, (ULP) UI Lookups

#2213 feat: `Product Info` set context values
  src/api/ADempiere/field/search/product.ts
  src/components/ADempiere/DataTable/Components/IndexColumn.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/ProductInfo/PanelForm/QueryCriteria/priceListVersionField.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/ProductInfo/PanelForm/QueryCriteria/warehouseField.vue
  src/components/ADempiere/Form/ProductSearch/dialogo/showInfoProduct.vue
  src/components/ADempiere/Form/ProductSearch/dialogo/tabPanel/availableToPromises.vue
  src/components/ADempiere/Form/ProductSearch/dialogo/tabPanel/index.vue
  src/components/ADempiere/Form/ProductSearch/dialogo/tabPanel/relateds.vue
  src/components/ADempiere/Form/ProductSearch/dialogo/tabPanel/substitute.vue
  src/components/ADempiere/Form/ProductSearch/dialogo/tabPanel/vendorPurchases.vue
  src/components/ADempiere/Form/ProductSearch/dialogo/tabPanel/warehouseStocks.vue
  src/components/ADempiere/Form/ProductSearch/index.vue
  src/components/ADempiere/Form/ProductSearch/queryCriteria.vue
  src/lang/ADempiere/es/field/product.ts
  src/store/modules/ADempiere/field/search/productFieldSearch.js
  src/store/modules/ADempiere/form/productSearch.js
Labels: enhancement, (FRM) Form

#2218 fix: Full location
  src/components/ADempiere/FieldDefinition/FieldLocationAddress/locationAddressForm/index.vue
  src/components/ADempiere/FieldDefinition/FieldLocationAddress/locationAddressForm/regionsListField.vue
  src/utils/ADempiere/formatValue/numberFormat.js
Labels: bug, (ULP) UI Lookups

#2221 fix: Smart Browse without close when process
  src/store/modules/ADempiere/dictionary/browser/actions.js
Labels: bug, (SB) Smart Browser, (UX) User Experience

#2223 feat: Fixed header `Smart Browse`
  src/components/ADempiere/DataTable/Browser/index.vue
  src/views/ADempiere/Browser/index.vue
Labels: enhancement, (SB) Smart Browser

#2220 Feat: Invoice Search Field
  src/api/ADempiere/field/search/invoice.ts
  src/components/ADempiere/FieldDefinition/FieldSearch/Invoice/PanelForm/QueryCriteria/OrderField.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/Invoice/PanelForm/QueryCriteria/PaidFieldInvoice.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/Invoice/PanelForm/QueryCriteria/SalesTransactionField.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/Invoice/PanelForm/QueryCriteria/billingDateField.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/Invoice/PanelForm/QueryCriteria/businessPartner.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/Invoice/PanelForm/QueryCriteria/descriptionField.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/Invoice/PanelForm/QueryCriteria/documentNoField.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/Invoice/PanelForm/QueryCriteria/grandTotalField.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/Invoice/PanelForm/QueryCriteria/index.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/Invoice/PanelForm/index.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/Invoice/PanelForm/panelFooter.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/Invoice/PanelForm/tableRecords.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/Invoice/PanelForm/useInvoces.js
  src/components/ADempiere/FieldDefinition/FieldSearch/Invoice/businessPartnersList.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/Invoice/buttonBusinessPartnersList.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/Invoice/fieldsListSearch.js
  src/components/ADempiere/FieldDefinition/FieldSearch/Invoice/index.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/Invoice/mixinBusinessPartner.js
  src/components/ADempiere/FieldDefinition/FieldSearch/InvoiceInfo/PanelForm/QueryCriteria/PaidFieldInvoice.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/InvoiceInfo/PanelForm/QueryCriteria/businessPartnerField.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/InvoiceInfo/PanelForm/QueryCriteria/index.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/InvoiceInfo/PanelForm/index.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/InvoiceInfo/button.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/InvoiceInfo/index.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/InvoiceInfo/tableRecords.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/index.vue
  src/lang/ADempiere/en/field/invoice.js
  src/lang/ADempiere/es/field/invoice.js
  src/store/modules/ADempiere/field/search/invoice.js
  src/store/modules/ADempiere/field/search/invoiceSearch.js
  src/utils/ADempiere/dictionary/browser.js
  src/utils/ADempiere/dictionary/process.js
  src/utils/ADempiere/dictionary/window/index.js
Labels: bug, (ULP) UI Lookups

#2224 fix: #2222 Error parse context columns.
  src/api/ADempiere/field/search/index.js
  src/store/modules/ADempiere/dictionary/browser/actions.js
  src/store/modules/ADempiere/dictionary/browser/getters.js
  src/store/modules/ADempiere/field/search/businessPartnerSearch.js
  src/store/modules/ADempiere/field/search/generalSearch.js
  src/store/modules/ADempiere/field/search/invoiceFieldSearch.js
  src/store/modules/ADempiere/field/search/productFieldSearch.js
  src/utils/ADempiere/dictionary/browser/index.js
  src/views/ADempiere/Browser/index.vue
Labels: bug, (ULP) UI Lookups

#2232 fix: Decimals
  src/components/ADempiere/FieldDefinition/FieldNumber.vue
  src/utils/ADempiere/formatValue/numberFormat.js
  src/utils/ADempiere/valueFormat.js
Labels: bug, (ULP) UI Lookups

#2229 fix: Mobile menu
  src/components/ADempiere/ActionMenu/index.vue
  src/components/ADempiere/ActionMenu/menuMobile.vue
Labels: enhancement, (UX) User Experience

#2228 fix: Notice view improvement
  src/components/ADempiere/Dashboard/notices/itemsNotices.vue
Labels: enhancement, dashboard

#2233 fix: Header record on line.
  src/utils/ADempiere/dictionary/workflow.js
Labels: bug

#2239 fix: Close only sb from registry
  src/store/modules/ADempiere/dictionary/browser/actions.js
  src/store/modules/ADempiere/processManager.js
Labels: bug, (PRC) Processes, (SB) Smart Browser, (WIN) Windows

#2237 Fix: Export logs from SB
  src/utils/ADempiere/exportUtil.js
Labels: bug, (SB) Smart Browser, (REC) Records

#2248 fix: Responsive panel issues
  src/components/ADempiere/TabManager/index.vue
Labels: bug, (WIN) Windows, (FRM) Form

#2252 Fix List Invoices Info
  src/utils/ADempiere/dictionary/window/index.js
Labels: bug, (WIN) Windows

#2263 fix: Field invoice `DisplayValue`.
  src/components/ADempiere/FieldDefinition/FieldSearch/BusinessPartnerInfo/index.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/GeneralInfoSearch/index.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/Invoice/businessPartnersList.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/Invoice/fieldsListSearch.js
  src/components/ADempiere/FieldDefinition/FieldSearch/InvoiceInfo/PanelForm/QueryCriteria/OrderField.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/InvoiceInfo/PanelForm/QueryCriteria/PaidField.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/InvoiceInfo/PanelForm/QueryCriteria/SalesTransactionField.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/InvoiceInfo/PanelForm/QueryCriteria/billingDateField.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/InvoiceInfo/PanelForm/QueryCriteria/businessPartner.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/InvoiceInfo/PanelForm/QueryCriteria/descriptionField.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/InvoiceInfo/PanelForm/QueryCriteria/documentNoField.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/InvoiceInfo/PanelForm/QueryCriteria/grandTotalField.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/InvoiceInfo/PanelForm/QueryCriteria/index.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/InvoiceInfo/PanelForm/index.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/InvoiceInfo/PanelForm/panelFooter.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/InvoiceInfo/PanelForm/tableRecords.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/InvoiceInfo/PanelForm/useInvoce.js
  src/components/ADempiere/FieldDefinition/FieldSearch/InvoiceInfo/buttonList.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/InvoiceInfo/index.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/InvoiceInfo/mixinInvoice.js
  src/components/ADempiere/FieldDefinition/FieldSearch/ProductInfo/index.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/index.vue
  src/store/modules/ADempiere/field/search/invoiceFieldSearch.js
  src/utils/ADempiere/dictionary/field/search/invoice.js
Labels: (FRM) Form, (ULP) UI Lookups

#2257 Fix: Product finder style
  src/components/ADempiere/Form/ProductSearch/dialogo/infoProduct.vue
  src/components/ADempiere/Form/ProductSearch/dialogo/showInfoProduct.vue
  src/components/ADempiere/Form/ProductSearch/index.vue
  src/lang/ADempiere/en/field/product.ts
  src/lang/ADempiere/es/field/product.ts
Labels: enhancement, (FRM) Form

#2265 fix: `Field Search` sb unknow column name.
  src/api/ADempiere/field/search/business-partner.ts
  src/api/ADempiere/field/search/index.js
  src/api/ADempiere/field/search/invoice.ts
  src/api/ADempiere/field/search/order.ts
  src/api/ADempiere/field/search/product.ts
  src/store/modules/ADempiere/form/productSearch.js
Labels: bug, (SB) Smart Browser, (FRM) Form, (ULP) UI Lookups

#2269 Fix: Accounting Information
  src/components/ADempiere/FieldDefinition/FieldButton.vue
  src/components/ADempiere/PanelInfo/index.vue
Labels: bug, (WIN) Windows, (FRM) Form

#2267 Fix: Issues all
  config/default.json
  src/api/ADempiere/user-interface/component/issue.js
  src/components/ADempiere/Form/Issues/ListIssues/index.vue
  src/components/ADempiere/FormDefinition/IssueManagement/IssuesAll.vue
  src/components/ADempiere/FormDefinition/index.vue
  src/lang/ADempiere/en/form/issues.js
  src/lang/ADempiere/es/form/index.js
  src/lang/ADempiere/es/form/issues.js
  src/router/modules/ADempiere/staticRoutes.js
  src/store/modules/ADempiere/form/issueManagement.js
Labels: enhancement, (FRM) Form

#2268 Fix: Hide search criteria
  src/components/ADempiere/Form/ProductSearch/index.vue
  src/lang/ADempiere/en/field/product.ts
  src/lang/ADempiere/es/field/product.ts
Labels: enhancement, (FRM) Form

#2273 Fix: Validate `Issues All` on menu
  src/router/modules/ADempiere/staticRoutes.js
  src/utils/ADempiere/dictionary/form/Issues.js
Labels: (SE) Security, (FRM) Form

#2277 Fix: When creating DxP from Purchase Order from SB, the record is lost.
  src/components/ADempiere/DataTable/Windows/index.vue
Labels: bug, (SB) Smart Browser, (WIN) Windows, (REC) Records

#2282 Fix: Increase the number of records
  src/components/ADempiere/DataTable/Browser/index.vue
Labels: (SB) Smart Browser, (REC) Records, (UX) User Experience

#2281 fix: Load `Form` dictionary by cache.
  src/api/ADempiere/dictionary/index.ts
  src/store/modules/ADempiere/formDefinition.js
Labels: bug, (FRM) Form

#2280 Fix: Language List
  src/api/ADempiere/common/index.ts
  src/components/LangSelect/index.vue
  src/store/modules/ADempiere/system.js
  src/utils/ADempiere/dictionary/language.ts
Labels: (TRL) Translation, (UX) User Experience

#2283 Restore Language Component
  src/api/ADempiere/common/index.ts
  src/api/ADempiere/system-core.js
  src/components/LangSelect/index.vue
  src/store/modules/ADempiere/system.js
  src/utils/ADempiere/apiConverts/core.js
  tests/unit/utils/ADempiere/apiConverts/core.spec.js
  tests/unit/utils/ADempiere/apiConverts/objects/converted/language.json
  tests/unit/utils/ADempiere/apiConverts/objects/fromApi/language.json
Labels: (TRL) Translation, (CIO) Code Improvement or Optimization

#2284 fix: Vuex duplicated getter.
  src/api/ADempiere/common/index.ts
  src/components/ADempiere/Form/WorkflowActivity/index2.vue
  src/store/modules/ADempiere/form/workflowActivity2.js
Labels: bug, (FRM) Form

#2285 Fix: Process History design
  src/views/ADempiere/ProcessActivity/modeDesktop.vue
Labels: bug, (PRC) Processes, (RPT) Reports, (UX) User Experience

#2291 Fix: Hide All Requests
  src/router/modules/ADempiere/menu.js
  src/router/modules/ADempiere/staticRoutes.js
  src/utils/ADempiere/dictionary/form/Issues.js
Labels: bug, (MEN) Menues, (SE) Security, (FRM) Form

#2289 Support Zoom Fields
  src/api/ADempiere/field/zoom.js
  src/components/ADempiere/DataTable/Components/ChangeRecord.vue
  src/components/ADempiere/DataTable/Windows/index.vue
  src/components/ADempiere/FieldDefinition/FieldOptions/fieldOptionsList.js
  src/components/ADempiere/FieldDefinition/FieldOptions/index.vue
  src/components/ADempiere/TabManager/TabPanel.vue
  src/components/ADempiere/TabManager/index.vue
  src/components/ADempiere/TabManager/tabChild.vue
  src/store/modules/ADempiere/field/accountingCombination.js
  src/store/modules/ADempiere/fieldDefinition.js
  src/utils/ADempiere/valueUtils.js
Labels: enhancement, (ULP) UI Lookups, (UX) User Experience

#2292 Fix: Show Product Attribute Field
  src/components/ADempiere/FieldDefinition/index.vue
Labels: bug, (ULP) UI Lookups
