Repository solop-develop/frontend-core, pull requests merged in 2024-06, with the labels that each got.

#2300 Fix: Checkbox SB
  src/components/ADempiere/DataTable/Browser/index.vue
Labels: bug, (SB) Smart Browser, (UX) User Experience

#2310 Fix: Password Field
  src/components/ADempiere/FieldDefinition/FieldText.vue
Labels: bug, (ULP) UI Lookups

#2311 Fix: Edit all rows on `Smart Browse`
  src/components/ADempiere/DataTable/Browser/index.vue
Labels: bug, (SB) Smart Browser, (REC) Records

#2312 fix: Tab without `UUID` no load window.
  src/utils/ADempiere/dictionary/window/index.js
  src/utils/ADempiere/recordUtil.js
Labels: bug, (WIN) Windows

#2315 Fix: Zoom button record.
  src/components/ADempiere/FieldDefinition/FieldButton.vue
  src/utils/ADempiere/dictionary/window/index.js
Labels: bug, (SB) Smart Browser, (WIN) Windows, (REC) Records

#2316 fix: Copy record on window.
  src/store/modules/ADempiere/dictionary/window/actions.js
  src/utils/ADempiere/dictionary/window/index.js
Labels: bug, (WIN) Windows, (REC) Records

#2317 Fix: Favicon and Name Systems
  public/index.html
  src/App.vue
  src/permission.js
  src/utils/get-page-favicon.js
  src/utils/get-page-title.js
  src/views/login/index.vue
Labels: bug

#2320 Fix: User Image
  src/layout/components/Navbar.vue
Labels: bug

#2323 fix: Change `Browse` to `Browser`.
  src/utils/ADempiere/dictionary/menu.js
Labels: enhancement, (SB) Smart Browser, (CIO) Code Improvement or Optimization

#2321 Fix: Notice Dashboard Access
  src/router/modules/ADempiere/menu.js
  src/store/modules/settings.js
  src/utils/ADempiere/dictionary/dashboard.js
Labels: bug, (SE) Security, dashboard

#2328 Changing the route construction for S3
  src/api/ADempiere/file-management/resource-reference.ts
  src/components/ADempiere/FieldDefinition/FieldImage.vue
  src/components/ADempiere/PanelInfo/index.vue
  src/lang/ADempiere/en/component/attachment.js
  src/lang/ADempiere/es/component/attachment.js
  src/layout/components/Navbar.vue
  src/layout/components/ProfilePreview.vue
  src/layout/components/Sidebar/Logo.vue
  src/utils/ADempiere/constants/resoucer.ts
  src/utils/ADempiere/resource.js
  src/utils/set-value-page.js
  src/views/profile/components/UserCard.vue
Labels: bug, Attachment

#2327 Fix: Reload With Page Size
  src/store/modules/ADempiere/browserManager.js
  src/store/modules/ADempiere/windowManager.js
Labels: (SB) Smart Browser, (WIN) Windows, (REC) Records

#2331 Fix: Smart Browse filter fields
  src/components/ADempiere/DataTable/Browser/index.vue
Labels: enhancement, (SB) Smart Browser, (UX) User Experience

#2329 Fix: Zoom In On Account Statement
  src/store/modules/ADempiere/dictionary/window/actions.js
  src/utils/ADempiere/dictionary/window/index.js
Labels: bug, (FRM) Form, (ULP) UI Lookups

#2332 fix: `Account` reference table name.
  src/utils/ADempiere/references.js
Labels: bug, (ULP) UI Lookups

#2333 fix: `Organization` and `Warehouse` fields show by default if tab is document.
  src/store/modules/ADempiere/dictionary/window/getters.js
  src/utils/ADempiere/dictionary/window/index.js
Labels: bug, (WIN) Windows, (UX) User Experience

#2334 fix: Number value on identifier column.
  src/utils/ADempiere/contextUtils/evaluator.js
  src/utils/ADempiere/references.js
  src/utils/ADempiere/valueUtils.js
Labels: bug, (ULP) UI Lookups

#2335 fix: Report `API` request on some file.
  src/api/ADempiere/report.js
  src/api/ADempiere/reportManagement/index.ts
  src/store/modules/ADempiere/reportManager.js
Labels: (RPT) Reports, (CIO) Code Improvement or Optimization

#2338 Fix: Zoom Smart Browser recrod to Window
  src/utils/ADempiere/coreUtils.js
Labels: bug, (SB) Smart Browser, (WIN) Windows, (REC) Records

#2339 Fix: Validate Context
  src/utils/ADempiere/contextUtils/evaluator.js
Labels: bug

#2340 Fix: Parse date in grid mode
  src/store/modules/ADempiere/system.js
  src/utils/ADempiere/valueFormat.js
Labels: bug, (WIN) Windows, (REC) Records

#2341 Fix: Defult value issues
  src/components/ADempiere/Form/Issues/component/Comment.vue
Labels: bug, (FRM) Form, (UX) User Experience

#2344 Fix: Support Zoom on Windows, Process and Browser
  src/components/ADempiere/FieldDefinition/FieldOptions/index.vue
  src/utils/ADempiere/dictionary/browser/index.js
  src/utils/ADempiere/dictionary/process.js
  src/utils/ADempiere/dictionary/window/index.js
Labels: bug, (PRC) Processes, (SB) Smart Browser, (WIN) Windows

#2347 Fix: Field Zoom on Windows, Process and Browser
  src/components/ADempiere/FieldDefinition/FieldOptions/index.vue
  src/store/modules/ADempiere/fieldDefinition.js
Labels: bug, (PRC) Processes, (SB) Smart Browser, (WIN) Windows

#2348 Fix: Set session `Organization` on `Payment Allocation` form.
  src/components/ADempiere/FormDefinition/VAllocation/SearchCriteria/index.vue
Labels: bug, (FRM) Form, (UX) User Experience

#2352 fix: Context value with evaluator.
  src/utils/ADempiere/contextUtils/evaluator.js
  src/utils/ADempiere/valueUtils.js
Labels: bug, (WIN) Windows

#2356 Fix: Re-Post Accouting Documents
  src/api/ADempiere/form/accouting.js
  src/components/ADempiere/Form/AcctViewer/ActionsFooter/index.vue
Labels: bug, (WIN) Windows, (REC) Records, (FRM) Form

#2358 Fix: Validate Accounting Viewer
  src/api/ADempiere/form/accouting.js
  src/components/ADempiere/PanelInfo/index.vue
  src/store/modules/ADempiere/form/AcctViewer.js
Labels: bug, (WIN) Windows, (FRM) Form

#2359 Fix: Zoom in from favorites
  src/components/ADempiere/TabManager/index.vue
Labels: bug, (WIN) Windows, (REC) Records

#2345 Fix: Version Dictionary RS
  src/api/ADempiere/common/index.ts
  src/icons/svg/dictionary.svg
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/es/index.js
  src/store/modules/user.js
  src/views/profile/components/InfoUser.vue
Labels: enhancement, (UX) User Experience

#2360 Fix: S3 Version Gateway
  src/api/ADempiere/common/index.ts
  src/icons/svg/s3.svg
  src/lang/ADempiere/en/index.js
  src/lang/ADempiere/es/index.js
  src/store/modules/user.js
  src/views/profile/components/InfoUser.vue
Labels: enhancement, (UX) User Experience

#2362 Fix: VPOS Heigth
  src/components/ADempiere/Form/VPOS2/MainOrder/index.vue
Labels: bug, (FRM) Form, (UX) User Experience

#2361 Fix: Hidden Column Windows
  src/utils/ADempiere/dictionary/window/index.js
Labels: enhancement, (WIN) Windows

#2367 Fix: Sequence Tab
  src/api/ADempiere/user-interface/component/tab-sequence.js
  src/components/ADempiere/PanelDefinition/SortPanel.vue
  src/store/modules/ADempiere/dictionary/window/actions.js
  src/store/modules/ADempiere/tabSequence.js
Labels: bug, (WIN) Windows, (REC) Records

#2369 Fix: Payment Assignment
  src/components/ADempiere/FormDefinition/VAllocation/components/InvoceTable.vue
  src/components/ADempiere/FormDefinition/VAllocation/components/Payments.vue
Labels: bug, (FRM) Form

#2370 fix: Smart Browse export records with lookup fields.
  src/components/ADempiere/FieldDefinition/FieldProductAttribute/useProductAttribute.js
  src/components/ADempiere/FieldDefinition/FieldSearch/BusinessPartnerInfo/PanelForm/useBusinessPartner.js
  src/components/ADempiere/FieldDefinition/FieldSearch/InvoiceInfo/PanelForm/useInvoce.js
  src/components/ADempiere/FieldDefinition/FieldSearch/InvoiceInfo/index.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/Order/PanelForm/useOrder.js
  src/components/ADempiere/FieldDefinition/FieldSearch/Order/index.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/Payment/PanelForm/usePayment.js
  src/components/ADempiere/FieldDefinition/FieldSearch/Payment/index.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/ProductInfo/PanelForm/useProduct.js
  src/components/ADempiere/FieldDefinition/FieldSelect/index.vue
  src/components/ADempiere/FieldDefinition/FieldSelect/mixinFieldSelect.js
  src/components/ADempiere/FieldDefinition/FieldTextLong.vue
  src/components/ADempiere/FieldDefinition/mixin/mixinField.js
  src/components/ADempiere/FieldDefinition/mixin/mixinWithDisplayColumn.js
  src/components/ADempiere/FieldDefinition/useDisplayedColumn.js
  src/components/ADempiere/FieldDefinition/useFieldDefinition.js
Labels: bug, (SB) Smart Browser, (REC) Records

#2373 Fix: S3 Version
  src/store/modules/user.js
Labels: bug, (UX) User Experience

#2383 Fix: Header Height
  src/components/ADempiere/DataTable/Browser/index.vue
  src/components/ADempiere/DataTable/Windows/index.vue
Labels: (SB) Smart Browser, (WIN) Windows

#2385 feat: Export all records on `Smart Browser`.
  src/api/ADempiere/browser.js
  src/api/ADempiere/user-interface/browser.js
  src/lang/ADempiere/en/smartBrowser.js
  src/lang/ADempiere/es/smartBrowser.js
  src/store/modules/ADempiere/browserManager.js
  src/store/modules/ADempiere/dictionary/browser/actions.js
  src/utils/ADempiere/constants/actionsMenuList.js
  src/utils/ADempiere/dictionary/browser/actionsMenu.js
  src/utils/ADempiere/dictionary/browser/index.js
  src/utils/ADempiere/dictionary/window/index.js
  src/utils/ADempiere/exportUtil.js
Labels: enhancement, (SB) Smart Browser, (REC) Records

#2384 Fix: Refresh records Smart Browser after process.
  src/store/modules/ADempiere/processManager.js
Labels: bug, (PRC) Processes, (SB) Smart Browser, (REC) Records

#2378 Fix: Organization on `Payment Allocation` form.
  src/components/ADempiere/FormDefinition/VAllocation/SearchCriteria/businessPartnerField.vue
  src/components/ADempiere/FormDefinition/VAllocation/SearchCriteria/index.vue
  src/components/ADempiere/FormDefinition/VAllocation/SearchCriteria/organizationField.vue
  src/store/modules/ADempiere/data/actions.js
  src/store/modules/ADempiere/form/VAllocation.js
  src/store/modules/ADempiere/form/index.js
  src/store/modules/user.js
Labels: bug, (FRM) Form

#2387 fix: Sort table when is lookup and insensitive case.
  src/components/ADempiere/DataTable/Browser/index.vue
  src/store/modules/ADempiere/browserManager.js
  src/utils/ADempiere/dictionaryUtils.js
Labels: bug, (SB) Smart Browser, (REC) Records

#2388 fix: Smart Browse dispatch default search when default value is empty response
  src/components/ADempiere/FieldDefinition/mixin/mixinField.js
  src/store/modules/ADempiere/defaultValueManager.js
  src/utils/ADempiere/dictionary/browser/index.js
Labels: bug, (SB) Smart Browser, (REC) Records, (ULP) UI Lookups

#2394 fix: Smart Browse process selection with decimal values.
  src/store/modules/ADempiere/browserManager.js
Labels: bug, (PRC) Processes, (SB) Smart Browser, (REC) Records

#2395 Support Export Dictionary Forms
  src/components/ADempiere/Process/ExportDictionaryDefinition.vue
  src/lang/ADempiere/en/page/process/exportDictionary.js
  src/lang/ADempiere/es/page/process/exportDictionary.js
Labels: enhancement, (FRM) Form, (UX) User Experience

#2398 feat: Validate records to export all.
  src/utils/ADempiere/dictionary/browser/actionsMenu.js
Labels: enhancement, (SB) Smart Browser, (REC) Records

#2400 Error in date and time format type in panel mode
  src/components/ADempiere/FieldDefinition/FieldDate.vue
Labels: bug

#2401 feat: Smart Browse process all records.
  src/api/ADempiere/businessData/runBusinessProcess.ts
  src/lang/ADempiere/en/smartBrowser.js
  src/lang/ADempiere/es/smartBrowser.js
  src/store/modules/ADempiere/dictionary/browser/actions.js
  src/store/modules/ADempiere/dictionary/browser/getters.js
  src/store/modules/ADempiere/dictionary/browser/mutations.js
  src/store/modules/ADempiere/dictionary/browser/state.js
  src/store/modules/ADempiere/processManager.js
  src/utils/ADempiere/dictionary/browser/actionsMenu.js
Labels: enhancement, (PRC) Processes, (SB) Smart Browser, (REC) Records

#2402 fix: Window save sort tab.
  src/api/ADempiere/user-interface/component/tab-sequences.js
  src/store/modules/ADempiere/dictionary/window/actions.js
  src/store/modules/ADempiere/tabSequence.js
  src/utils/ADempiere/dictionary/window/actionsMenu.js
  src/utils/ADempiere/dictionary/window/index.js
Labels: bug, (WIN) Windows

#2403 fix: Hidde trab translation without flag and table name end `_Trl`.
  src/utils/ADempiere/dictionary/window/index.js
Labels: bug, (TRL) Translation, (WIN) Windows
