Repository solop-develop/frontend-core, pull requests merged in 2024-04, with the labels that each got.

#2052 fix: Payment allocation list currencies.
  src/api/ADempiere/form/VAllocation.ts
  src/components/ADempiere/FormDefinition/VAllocation/SearchCriteria/businessPartner.vue
  src/components/ADempiere/FormDefinition/VAllocation/SearchCriteria/currencyField.vue
  src/components/ADempiere/FormDefinition/VAllocation/SearchCriteria/index.vue
Labels: bug, (FRM) Form, (UX) User Experience

#2058 fix: Product search table columns.
  src/components/ADempiere/FieldDefinition/FieldSearch/ProductInfo/PanelForm/QueryCriteria/index.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/ProductInfo/PanelForm/tableRecords.vue
Labels: bug, (ULP) UI Lookups

#2061 fix: Menu when action is root.
  src/router/modules/ADempiere/menu.js
Labels: bug, (MEN) Menues

#2064 Add table name when requesting link
  src/components/ADempiere/FieldDefinition/FieldImage.vue
Labels: (WIN) Windows, (REC) Records

#2066 Fix: Support FIeld Imagen
  src/components/ADempiere/FieldDefinition/FieldImage.vue
Labels: bug

#2067 fix: Responsive file uploader.
  src/components/ADempiere/FormDefinition/VFileImport/SelectTable/index.vue
  src/components/ADempiere/FormDefinition/VFileImport/index.vue
Labels: bug, (FRM) Form

#2029 fix: Responsive `Work Flow Activities` form
  src/components/ADempiere/Form/WorkflowActivity/index.vue
  src/lang/ADempiere/en/form/workflowActivity.js
  src/lang/ADempiere/es/form/workflowActivity.js
Labels: bug, (TRL) Translation, (FRM) Form, (UX) User Experience

#2082 Fix: Document Options
  src/components/ADempiere/TabManager/convenienceButtons/documentAction.vue
  src/components/ADempiere/TabManager/convenienceButtons/index.vue
  src/store/modules/ADempiere/dictionary/window/actions.js
  src/store/modules/ADempiere/dictionary/window/getters.js
  src/utils/ADempiere/dictionary/workflow.js
Labels: bug, (WFL) Workflows, (WIN) Windows

#2086 fix:Traslate menu
  src/lang/ADempiere/en/route.js
  src/lang/ADempiere/es/route.js
  src/router/modules/ADempiere/staticRoutes.js
Labels: bug, (MEN) Menues, (TRL) Translation

#2087 fix: Zoom lookup.
  src/components/ADempiere/FieldDefinition/FieldOptions/ContextInfo/index.vue
  src/components/ADempiere/FieldDefinition/FieldOptions/fieldOptionsList.js
  src/components/ADempiere/FieldDefinition/FieldOptions/index.vue
  src/store/modules/ADempiere/dictionary/window/getters.js
  src/utils/ADempiere/dictionary/browser/templateBrowser.js
  src/utils/ADempiere/dictionary/window/templatesWindow.js
Labels: bug, (WIN) Windows

#2088 fix: List lookups.
  src/components/ADempiere/FieldDefinition/FieldAccountingCombination/index.vue
  src/components/ADempiere/FieldDefinition/FieldOptions/fieldOptionsList.js
  src/components/ADempiere/FieldDefinition/FieldSearch/BusinessPartnerInfo/PanelForm/useBusinessPartner.js
  src/components/ADempiere/FieldDefinition/FieldSearch/BusinessPartnerInfo/businessPartnersList.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/BusinessPartnerInfo/index.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/GeneralInfoSearch/index.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/GeneralInfoSearch/panel.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/ProductInfo/PanelForm/useProduct.js
  src/components/ADempiere/FieldDefinition/FieldSearch/ProductInfo/index.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/index.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/mixinFieldSearch.js
  src/components/ADempiere/FieldDefinition/FieldSelect/index.vue
  src/components/ADempiere/FieldDefinition/FieldSelect/mixinFieldSelect.js
  src/components/ADempiere/FieldDefinition/FieldWarehouseLocator/index.vue
  src/components/ADempiere/FieldDefinition/FieldWarehouseLocator/useLocatorWarehouse.js
  src/components/ADempiere/Form/VPOS/Collection/index.vue
  src/components/ADempiere/Form/VPOS/Collection/typeCollection.vue
  src/components/ADempiere/Form/VPOS/Options/CashOpening/index.vue
  src/components/ADempiere/Form/VPOS/Options/Cashwithdrawal/index.vue
  src/store/modules/ADempiere/data/actions.js
  src/utils/ADempiere/contextUtils/contextField.js
  src/utils/ADempiere/dictionary/process/templateProcess.js
Labels: bug, (ULP) UI Lookups

#2090 fix: Show Related Documents
  src/components/ADempiere/PanelInfo/index.vue
Labels: bug

#2091 Fix: opening Smart Browser
  src/store/modules/ADempiere/dictionary/browser/actions.js
  src/utils/ADempiere/dictionary/browser/templateBrowser.js
  src/utils/ADempiere/dictionary/panel.js
Labels: bug, (SB) Smart Browser

#2092 fix: Print process on tab.
  src/components/ADempiere/TabManager/TabPanel/modeMobile.vue
  src/components/ADempiere/TabManager/convenienceButtons/PrintProcess.vue
  src/store/modules/ADempiere/dictionary/window/actions.js
Labels: bug, (RPT) Reports, (WIN) Windows

#2094 fix: Readonly processed record.
  src/utils/ADempiere/dictionary/window/index.js
Labels: bug, (WIN) Windows, (REC) Records

#2095 fix: `IsParent` to `is_parent` field attribute.
  src/components/ADempiere/FieldDefinition/FieldOptions/index.vue
  src/store/modules/ADempiere/dictionary/window/actions.js
  src/store/modules/ADempiere/dictionary/window/getters.js
  src/store/modules/ADempiere/panel/getters.js
  src/store/modules/ADempiere/windowManager.js
  src/utils/ADempiere/dictionary/panel.js
  src/utils/ADempiere/dictionary/window/index.js
Labels: bug, (WIN) Windows

#2097 Fix: Date Range
  src/components/ADempiere/FieldDefinition/FieldDate.vue
Labels: bug, (ULP) UI Lookups

#2107 fix: Profile Image
  src/layout/components/ProfilePreview.vue
  src/layout/components/Sidebar/Logo.vue
  src/store/modules/user.js
  src/views/profile/components/UserCard.vue
Labels: bug, (UX) User Experience

#2110 fix: Is Displayed by default.
  src/components/ADempiere/FilterFields/fieldsDisplayOptions.vue
  src/store/modules/ADempiere/dictionary/browser/actions.js
  src/store/modules/ADempiere/panel/actions.js
  src/utils/ADempiere/dictionary/browser.js
  src/utils/ADempiere/dictionary/panel.js
  src/utils/ADempiere/dictionary/process.js
  src/utils/ADempiere/dictionary/window/index.js
  src/utils/ADempiere/dictionaryUtils.js
  src/utils/ADempiere/lookupFactory.js
Labels: bug, (UX) User Experience

#2109 Update responsive work flow activities
  src/components/ADempiere/Form/WorkflowActivity/index.vue
Labels: bug, (UX) User Experience

#2111 fix: Table Name attributes.
  src/components/ADempiere/ActionMenu/index.vue
  src/components/ADempiere/ActionMenu/menuMobile.vue
  src/components/ADempiere/DataTable/Windows/index.vue
  src/components/ADempiere/TabManager/TabLabel.vue
  src/components/ADempiere/TabManager/TabOptions.vue
  src/components/ADempiere/TabManager/TabPanel.vue
  src/components/ADempiere/TabManager/TabPanel/modeDesktop.vue
  src/components/ADempiere/TabManager/TabPanel/modeMobile.vue
  src/components/ADempiere/TabManager/convenienceButtons/RefreshRecordButton.vue
  src/components/ADempiere/TabManager/convenienceButtons/index.vue
  src/components/ADempiere/recordLogs/index.vue
  src/store/modules/ADempiere/containerInfo/index.js
  src/store/modules/ADempiere/dictionary/window/actions.js
  src/store/modules/ADempiere/dictionary/window/getters.js
  src/store/modules/ADempiere/treeTab.js
Labels: bug, (WIN) Windows

#2115 Fix: Error Open Smart Browser
  src/utils/ADempiere/dictionaryUtils.js
Labels: bug, question

#2117 fix: Display type porperty.
  src/components/ADempiere/DataTable/Components/CellDisplayInfo.vue
  src/components/ADempiere/DataTable/Components/CellEditInfo.vue
  src/components/ADempiere/FieldDefinition/FieldAccountingCombination/tableQueryCriteria2.vue
  src/components/ADempiere/FieldDefinition/FieldDate.vue
  src/components/ADempiere/FieldDefinition/FieldNumber.vue
  src/components/ADempiere/FieldDefinition/FieldOptions/CalculatorField/index.vue
  src/components/ADempiere/FieldDefinition/FieldOptions/ChangeLogs/index.vue
  src/components/ADempiere/FieldDefinition/FieldOptions/ContextInfo/index.vue
  src/components/ADempiere/FieldDefinition/FieldOptions/fieldOptionsList.js
  src/components/ADempiere/FieldDefinition/FieldOptions/index.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/GeneralInfoSearch/panel.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/mixinFieldSearch.js
  src/components/ADempiere/FieldDefinition/FieldSelect/index.vue
  src/components/ADempiere/FieldDefinition/FieldText.vue
  src/components/ADempiere/FieldDefinition/index.vue
  src/components/ADempiere/FieldDefinition/indexApiComposition.vue
  src/components/ADempiere/FieldDefinition/mixin/mixinWithDisplayColumn.js
  src/components/ADempiere/Form/VPOS/BusinessPartner/AddNewFieldLocation/fieldsList.js
  src/components/ADempiere/Form/VPOS/BusinessPartner/BillingFieldLocation/fieldsList.js
  src/components/ADempiere/Form/VPOS/BusinessPartner/billingAddressFieldLocation/fieldsList.js
  src/components/ADempiere/Form/VPOS/BusinessPartner/fieldsListSearch.js
  src/components/ADempiere/Form/VPOS/BusinessPartner/shippingFieldLocation/fieldsList.js
  src/components/ADempiere/Form/VPOS/Collection/index.vue
  src/components/ADempiere/Form/VPOS/containerManagerPos.js
  src/components/ADempiere/FormDefinition/VBankStatementMatch/containerManagerFrom.ts
  src/components/ADempiere/PanelInfo/Component/RecordDashboard/chartFilter.vue
  src/components/ADempiere/RecordAccess/recordAccess.js
  src/store/modules/ADempiere/calloutManager.js
  src/store/modules/ADempiere/data/actions.js
  src/store/modules/ADempiere/dictionary/browser/actions.js
  src/store/modules/ADempiere/dictionary/browser/getters.js
  src/store/modules/ADempiere/dictionary/process/getters.js
  src/store/modules/ADempiere/dictionary/report/getters.js
  src/store/modules/ADempiere/dictionary/window/getters.js
  src/store/modules/ADempiere/panel/actions.js
  src/store/modules/ADempiere/panel/getters.js
  src/store/modules/ADempiere/persistence.js
  src/store/modules/ADempiere/windowManager.js
  src/utils/ADempiere/contextUtils/contextField.js
  src/utils/ADempiere/dictionary/browser.js
  src/utils/ADempiere/dictionary/form/index.js
  src/utils/ADempiere/dictionary/panel.js
  src/utils/ADempiere/dictionary/process.js
  src/utils/ADempiere/dictionary/window/index.js
  src/utils/ADempiere/lookupFactory.js
Labels: bug, (PRC) Processes, (RPT) Reports, (SB) Smart Browser, (WIN) Windows

#2118 Fix: Field Date in Smart Browser
  src/components/ADempiere/FieldDefinition/FieldDate.vue
Labels: bug, (SB) Smart Browser

#2122 fix: Enable text `Payment Allocation` form
  src/components/ADempiere/FormDefinition/VAllocation/components/Payments.vue
Labels: bug, (FRM) Form

#2051 fix: Tabs child header.
  src/views/ADempiere/Window/DocumentWindow.vue
Labels: bug, (WIN) Windows, (UX) User Experience

#2123 fix: Open `Smart Browse` on button field.
  src/components/ADempiere/FieldDefinition/FieldButton.vue
Labels: bug, (SB) Smart Browser, (WIN) Windows, (ULP) UI Lookups

#2129 Fix: Complete Product Finder
  src/api/ADempiere/field/search/product.ts
  src/components/ADempiere/DataTable/Components/CustomPagination.vue
  src/components/ADempiere/Form/ProductSearch/index.vue
  src/components/ADempiere/FormDefinition/index.vue
  src/lang/ADempiere/en/field/product.ts
  src/lang/ADempiere/en/route.js
  src/lang/ADempiere/es/field/product.ts
  src/lang/ADempiere/es/route.js
  src/router/modules/ADempiere/staticRoutes.js
Labels: enhancement

#2127 Fix: The Favorites (User) panel options do not work
  src/components/ADempiere/Dashboard/userfavorites/index.vue
  src/components/ADempiere/TabManager/TabPanel/modeDesktop.vue
Labels: bug, (WIN) Windows, dashboard

#2131 fix: Show all change history
  src/components/ADempiere/PanelInfo/Component/RecordLogs/index.vue
  src/lang/ADempiere/en/window.js
  src/lang/ADempiere/es/window.js
Labels: enhancement, (WIN) Windows, (REC) Records

#2134 fix: Lang unknown messages.
  src/components/ADempiere/DataTable/Components/CellDisplayInfo.vue
  src/components/ADempiere/FieldDefinition/FieldOptions/ContextInfo/index.vue
  src/components/ADempiere/FieldDefinition/FieldOptions/fieldOptionsList.js
  src/components/ADempiere/FieldDefinition/FieldTextLong.vue
  src/components/ADempiere/PanelInfo/Component/storeProduct/heardList.js
  src/utils/ADempiere/constants/report.js
  src/utils/ADempiere/dataUtils.js
Labels: bug, (TRL) Translation

#2132 bugfix: Accounting entry tab
  src/components/ADempiere/PanelInfo/index.vue
Labels: bug, (WIN) Windows, (FRM) Form

#2135 bugfix: Comment size
  src/components/ADempiere/Form/Issues/component/Comment.vue
  src/components/ADempiere/FormDefinition/IssueManagement/IssueFeed/issueLog.vue
Labels: bug, (FRM) Form

#2136 fix: Logics on window and smart browse.
  src/components/ADempiere/FieldDefinition/FieldAccountingCombination/mixinAccountingCombination.js
  src/components/ADempiere/FieldDefinition/FieldAccountingCombination/tableQueryCriteria.vue
  src/components/ADempiere/FieldDefinition/FieldLocationAddress/locationAddressForm.vue
  src/components/ADempiere/FieldDefinition/FieldLocationAddress/mixinLocationAddress.js
  src/components/ADempiere/FieldDefinition/FieldProductAttribute/useProductAttribute.js
  src/components/ADempiere/FieldDefinition/FieldSelect/index.vue
  src/components/ADempiere/FieldDefinition/FieldWarehouseLocator/useLocatorWarehouse.js
  src/components/ADempiere/FieldDefinition/mixin/mixinField.js
  src/components/ADempiere/FieldDefinition/mixin/mixinWithDisplayColumn.js
  src/components/ADempiere/FieldDefinition/useDisplayedColumn.js
  src/components/ADempiere/FieldDefinition/useFieldDefinition.js
  src/store/modules/ADempiere/dictionary/browser/actions.js
  src/store/modules/ADempiere/dictionary/browser/getters.js
  src/store/modules/ADempiere/dictionary/window/actions.js
  src/store/modules/ADempiere/fieldDefinition.js
  src/store/modules/ADempiere/panel/actions.js
  src/utils/ADempiere/contextUtils/contextField.js
  src/utils/ADempiere/dictionary/browser.js
  src/utils/ADempiere/dictionary/form/index.js
  src/utils/ADempiere/dictionary/panel.js
  src/utils/ADempiere/dictionary/process.js
  src/utils/ADempiere/dictionary/window/index.js
  src/utils/ADempiere/dictionaryUtils.js
  src/utils/ADempiere/lookupFactory.js
  src/views/ADempiere/Browser/index.vue
Labels: bug, (PRC) Processes, (SB) Smart Browser, (WIN) Windows

#2133 fix: Table style in accounting information
  src/components/ADempiere/Form/AcctViewer/TableRecords/index.vue
Labels: bug, (WIN) Windows, (FRM) Form

#2137 fix: Smart Browse open Process associated.
  src/components/ADempiere/ActionMenu/index.vue
  src/components/ADempiere/ActionMenu/menuMobile.vue
Labels: bug, (PRC) Processes, (SB) Smart Browser

#2142 Fix: Date Assigned in Smart Browser
  src/api/ADempiere/browser.js
  src/store/modules/ADempiere/browserManager.js
Labels: bug, (SB) Smart Browser

#2143 Fix: Incorrect filter applied in Window opened from "Pending Tasks"
  src/views/dashboard/admin/components/PanelGroup.vue
  src/views/dashboard/admin/index.vue
Labels: bug, dashboard

#2146 Fix: Sidebar logo, chrome tab isotype and small Avatar do not
  src/layout/components/Navbar.vue
  src/layout/components/ProfilePreview.vue
  src/store/modules/user.js
  src/views/profile/components/UserCard.vue
Labels: bug

#2147 fix: Update responsive V2
  src/views/ADempiere/Window/index.vue
Labels: bug, (WIN) Windows

#2148 fix: Smart Browse query with `IN` and `NOT IN`.
  src/store/modules/ADempiere/dictionary/browser/getters.js
Labels: bug, (SB) Smart Browser, (REC) Records

#2150 fix: Edit record without own key column`AD_ClientInfo=AD_Client_ID`.
  src/components/ADempiere/DataTable/Browser/index.vue
  src/components/ADempiere/DataTable/Components/containerManagerBatchEntry.js
  src/components/ADempiere/FieldDefinition/FieldLocationAddress/locationAddressForm.vue
  src/components/ADempiere/FormDefinition/VBankStatementMatch/containerManagerFrom.ts
  src/store/modules/ADempiere/dictionary/browser/getters.js
  src/store/modules/ADempiere/dictionary/process/getters.js
  src/store/modules/ADempiere/panel/getters.js
  src/utils/ADempiere/dictionary/browser.js
  src/utils/ADempiere/dictionary/form/index.js
  src/utils/ADempiere/dictionary/process.js
  src/utils/ADempiere/dictionaryUtils.js
  src/utils/ADempiere/lookupFactory.js
Labels: bug, (WIN) Windows, (REC) Records

#2149 Fix: save records without ID, example Access to User Organizations
  src/components/ADempiere/FieldDefinition/FieldImage.vue
  src/components/ADempiere/TabManager/convenienceButtons/SaveRecordButton.vue
  src/layout/components/Sidebar/Logo.vue
  src/store/modules/ADempiere/persistence.js
  src/store/modules/user.js
Labels: bug, (WIN) Windows

#2154 feat: Improve menu with action identifier.
  src/components/ADempiere/FieldDefinition/FieldImage.vue
  src/components/ADempiere/FormDefinition/VFileImport/SelectFile/selectResource.vue
  src/components/ADempiere/PanelInfo/Component/AttachmentManager/attachment.js
  src/components/ADempiere/PanelInfo/Component/AttachmentManager/uploadResource.vue
  src/components/ADempiere/PanelInfo/index.vue
  src/components/ADempiere/TabManager/index.vue
  src/router/modules/ADempiere/menu.js
  src/utils/ADempiere/dictionary/menu.js
Labels: (MEN) Menues, (CIO) Code Improvement or Optimization

#2157 feat: Acct Viewer load data by default.
  src/components/ADempiere/FieldDefinition/FieldButton.vue
  src/components/ADempiere/Form/AcctViewer/ActionsFooter/index.vue
  src/components/ADempiere/PanelInfo/index.vue
  src/components/ADempiere/TabManager/index.vue
Labels: bug, (FRM) Form

#2158 fix: `Workflow Activity` form change size on node column.
  src/components/ADempiere/Form/WorkflowActivity/index.vue
Labels: bug, (FRM) Form

#2152 feat: Variance percentage on `Trial Valance Drillable` form
  src/components/ADempiere/FormDefinition/WTrialBalance/index.vue
  src/lang/ADempiere/en/form/WTrialBalance.js
  src/lang/ADempiere/es/form/WTrialBalance.js
Labels: enhancement, (FRM) Form

#2160 fix: `Show`/`Hidden` fields on process.
  src/components/ADempiere/FieldDefinition/index.vue
  src/components/ADempiere/FieldDefinition/indexApiComposition.vue
  src/components/ADempiere/FilterFields/index.vue
  src/store/modules/ADempiere/dictionary/browser/getters.js
  src/store/modules/ADempiere/dictionary/process/actions.js
  src/store/modules/ADempiere/dictionary/process/getters.js
  src/store/modules/ADempiere/dictionary/report/actions.js
  src/store/modules/ADempiere/panel/getters.js
  src/utils/ADempiere/dictionary/process.js
  src/utils/ADempiere/dictionary/process/templateProcess.js
  src/utils/ADempiere/dictionary/window/templatesWindow.js
  src/utils/ADempiere/dictionaryUtils.js
  src/utils/ADempiere/lookupFactory.js
Labels: bug, (PRC) Processes

#2161 fix: `Generic Search` field.
  src/api/ADempiere/dictionary/field.ts
  src/components/ADempiere/FieldDefinition/FieldAccountingCombination/mixinAccountingCombination.js
  src/components/ADempiere/FieldDefinition/FieldSearch/BusinessPartnerInfo/PanelForm/useBusinessPartner.js
  src/components/ADempiere/FieldDefinition/FieldSearch/BusinessPartnerInfo/businessPartnersList.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/BusinessPartnerInfo/mixinBusinessPartner.js
  src/components/ADempiere/FieldDefinition/FieldSearch/GeneralInfoSearch/index.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/GeneralInfoSearch/panel.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/ProductInfo/PanelForm/useProduct.js
  src/components/ADempiere/FieldDefinition/FieldSearch/index.vue
  src/components/ADempiere/FieldDefinition/FieldSearch/mixinFieldSearch.js
  src/components/ADempiere/FieldDefinition/FieldSelect/index.vue
  src/components/ADempiere/FieldDefinition/FieldSelect/mixinFieldSelect.js
  src/store/modules/ADempiere/data/actions.js
  src/utils/ADempiere/dictionaryUtils.js
  src/utils/ADempiere/references.js
Labels: bug, (ULP) UI Lookups

#2162 fix: Process Activity copy logs.
  src/views/ADempiere/ProcessActivity/modeDesktop.vue
  src/views/ADempiere/ProcessActivity/modeMobile.vue
  src/views/ADempiere/ProcessActivity/processActivity.js
Labels: bug, (PRC) Processes, (FRM) Form

#2166 Fix: Favorites Panel Options (User)
  src/api/ADempiere/security/index.ts
  src/components/ADempiere/TabManager/TabPanel/modeDesktop.vue
  src/components/ADempiere/TabManager/index.vue
  src/styles/sidebar.scss
Labels: bug, dashboard

#2163 Configuration of Dashboards to show in Control Panel
  src/components/ADempiere/Dashboard/index.vue
  src/components/ADempiere/Dashboard/recentItems/index.vue
Labels: bug, dashboard

#2171 fix: Hiden colum percentage
  src/components/ADempiere/FormDefinition/WTrialBalance/index.vue
Labels: enhancement, (FRM) Form

#2173 fix: Hide fields web only button
  src/components/ADempiere/FormDefinition/WTrialBalance/index.vue
Labels: bug, (FRM) Form

#2170 fix: Fixed table header web
  src/components/ADempiere/FormDefinition/WTrialBalance/index.vue
Labels: enhancement, (FRM) Form

#2185 fix: Workflow visualization
  src/components/ADempiere/PanelInfo/index.vue
Labels: bug, (WFL) Workflows, (UX) User Experience

#2183 feat: Change `container_id` to `parent_id` on dependent fields
  src/api/ADempiere/dictionary/index.ts
  src/api/ADempiere/dictionary/smart-browser.js
  src/api/ADempiere/dictionary/window.js
  src/api/ADempiere/dictionary/window.ts
  src/store/modules/ADempiere/dictionary/browser/actions.js
  src/store/modules/ADempiere/panel/actions.js
Labels: enhancement, (CIO) Code Improvement or Optimization

#2187 fix: View chat list
  src/api/ADempiere/logs/tabInfo/chatsEntries.ts
  src/components/ADempiere/PanelInfo/Component/RecordNotes/index.vue
  src/store/modules/ADempiere/chatEntries.js
Labels: bug, (WIN) Windows, (UX) User Experience

#2188 Fix: Load Pending Documents
  src/views/dashboard/admin/index.vue
Labels: bug, dashboard

#2186 Fix: No value obtained from context in smart browser
  src/store/modules/ADempiere/dictionary/browser/actions.js
  src/store/modules/ADempiere/dictionary/process/actions.js
  src/store/modules/ADempiere/dictionary/window/mutations.js
  src/utils/ADempiere/dictionary/process.js
Labels: bug, (SB) Smart Browser

#2190 logo image warning
  src/App.vue
  src/layout/components/ProfilePreview.vue
Labels: bug

#2191 Changing the Route of the Smart Browser Function
  src/store/modules/ADempiere/dictionary/browser/actions.js
Labels: bug, (SB) Smart Browser
